* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #030303;
}



.preloader {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.preloader__gif {
    transform: scale(0.5);
    max-width: 200%;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
.bgc {
    overflow-y: hidden;
}