@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MgFuturePol';
    src: url('../fonts/MgFutureUCPolNormal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
html, body {
    overflow-x: hidden;
}
body {
    background: #fcfcfe;
}
.wrapper {
    max-width: 1208px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

/*HEADER*/
.header {
    padding-top: 20px;
}
.header__logoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
}
.header__logo {
    width: 52px;
    border-radius: 50%;
}
.header__logoText {
    font-family: "MgFuturePol";
    font-size: 42.16px;
    color: #0c0c0c;
    margin-left: 15px;
}
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navLink {
    margin-right: 50px;
    font-family: "Mont";
    font-weight: 600;
    font-size: 14.17px;
    color: #353535;
    text-decoration: none;
}
.header__navLink:hover {
    text-decoration: underline;
}
.header__closebleMask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header__closebleMask-active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.header__navToggleBlock-mobile {
    display: none;
}
/*HEADER END*/

/*BTN*/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 9px;
    background: #f7d84d;
    box-shadow: 10px 17.321px 65px 0px rgba(0, 0, 0, 0.15);
    width: 233px;
    height: 61px;
    font-family: "Mont";
    font-size: 20.15px;
    font-weight: 700;
    color: #353535;
    position: relative;
    z-index: 1;
}
.btn:hover {
    text-decoration: underline;
}
.btn-green {
    background: #8de157;
}
.btn-light {
    background: #fff1cf;
}
/*BTN END*/

/*HAMBURGER MENU*/
.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
h1 {
    text-align: center;
}
.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
.bar1 {
    top: 0;
}
.bar2,
.bar3 {
    top: 13px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}
.checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}
.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}
/*HAMBURGER MENU END*/

/*MAIN HEADER*/
.main {
    display: flex;
    flex-direction: column;
}
.main__header {
    padding-bottom: 345px;
    position: relative;
    background: url(../img/bg1.png) no-repeat;
    background-size: auto 100%;
    background-position: right top;
}
.main__headerBg {
    position: absolute;
    top: 0;
    right: 0;
}
.main__headerContent {
    display: flex;
    flex-direction: column;
    max-width: 710px;
    margin-top: 115px;
    position: relative;
}
.main__headerContentFeather {
    position: absolute;
    left: -100px;
    top: 165px;
}
.main__headerHeadline {
    font-family: "Mont";
    font-weight: 700;
    font-size: 47.8px;
    color: #353535;
    margin-bottom: 18px;
    position: relative;
    z-index: 1;
}
.main__headerContentText {
    font-family: "Mont";
    font-size: 19.9px;
    color: #353535;
    margin-bottom: 22px;
    position: relative;
    z-index: 1;
}
.main__headerContentBtns {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 18px;
    position: relative;
    z-index: 1;
}
.main__headerContentBtn {
    margin-right: 37px;
}
.main__headerContentBtn-instagram {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.main__headerContentBtnIcon {
    width: 58px;
}
/*MAIN HEADER END*/

/*BODY*/
.main__body {
    background: #7bd496 url(../img/bg2.png) no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.main__body .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 123px 15px 85px;
}
.main__bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    position: relative;
}
.main__bodyHeadline {
    font-family: "ProximaNova";
    font-weight: 600;
    font-size: 41.17px;
    color: #353535;
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.main__bodyText {
    font-family: "Mont";
    font-weight: 300;
    font-size: 17.2px;
    color: #000000;
    line-height: 27.76px;
    margin-bottom: 27px;
    text-indent: 17px;
    position: relative;
    z-index: 1;
}
.main__bodyContentBtn {
    margin-top: 14px;
}
.main__bodyContentFeather {
    position: absolute;
    right: -100px;
    bottom: 50px;
}
/*BODY END*/

/*FOOD*/
.main__food {
    background: #ff9db8 url(../img/bg3.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__food .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 140px 15px 150px;
}
.main__foodContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 780px;
    position: relative;
}
.main__foodContentFeather {
    position: absolute;
    left: -120px;
    bottom: -20px;
}
.main__foodContentImg {
    position: absolute;
    height: 668px;
    right: 0;
}
/*FOOD END*/

/*BEAUTY*/
.main__beauty {
    background: #f8f8f8 url(../img/beauty.png) no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.main__beauty .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 30px;
    position: relative;
}
.main__beautyHeadline {
    font-family: "ProximaNova";
    font-size: 41.17px;
    font-weight: 600;
    color: #353535;
    margin-bottom: 90px;
    text-align: center;
}
.main__beautyItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.main__beautyItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}
.main__beautyItemImg {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-right: 24px;
}
.main__beautyItemTextBlock {
    display: flex;
    flex-direction: column;
}
.main__beautyItemHeadline {
    font-family: "Mont";
    font-size: 21.5px;
    color: #353535;
    font-weight: 600;
    margin-bottom: 15px;
}
.main__beautyItemText {
    font-family: "Mont";
    font-size: 15.36px;
    color: #353535;
    font-weight: 400;
    max-width: 240px;
    margin-left: 4px;
}
.main__beautyFeather {
    position: absolute;
    left: -70px;
    top: 140px;
}
.main__beautyFeather-1 {
    position: absolute;
    right: 20px;
    bottom: 70px;
}
/*BEAUTY END*/

/*COSMETIC*/
.main__cosmetic {
    background: #f1ce79 url(../img/bg4.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.main__cosmetic .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 140px 15px 145px;
}
.main__cosmeticContentFeather {
    position: absolute;
    right: -60px;
    bottom: -70px;
}
.main__cosmeticImg {
    margin-left: -52px;
    margin-right: 20px;
}
/*COSMETIC END*/

/*MAIN FOOTER*/
.main__footer {

}
.main__footer .wrapper {
    padding-top: 100px;
}
.main__footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 73px;
}
.main__footerContentHeadline {
    font-family: "ProximaNova";
    font-size: 41.17px;
    color: #353535;
    font-weight: 600;
    margin-bottom: 60px;
}
.main__footerContentTabsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1111px;
}
.main__footerContentBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}
.main__footerContentBtn {
    border-radius: 9px;
    background-color: rgb(248, 249, 251);
    box-shadow: 10px 17.321px 65px 0px rgba(0, 0, 0, 0.07);
    width: 232px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Mont";
    font-size: 20.15px;
    color: #8b8b8b;
    font-weight: 700;
    transition: .3s;
}
.main__footerContentBtn-2 {
    width: 323px;
}
.main__footerContentBtn-3 {
    width: 262px;
}
.main__footerContentBtn:hover {
    text-decoration: underline;
}
.main__footerContentBtn-active {
    color: #353535;
    background-color: rgb(243, 212, 137);
}
.main__footerContentBtn-active:hover {
    text-decoration: none;
}
.main__footerContentTabs {
    width: 100%;
}
.main__footerContentTab {
    border-radius: 11px;
    background-color: #f8f9fb;
    box-shadow: 10px 17.321px 65px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    padding: 70px 78px 98px 64px;
    display: none;
    flex-direction: column;
}
.main__footerContentTab-active {
    display: flex;
}
.main__footerContentTabRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;
}
.main__footerContentTabRow:last-child {
    margin-bottom: 0;
}
.main__footerContentTabRowText {
    font-family: "Mont";
    font-weight: 400;
    font-size: 19.35px;
    color: #353535;
}
.main__footerContentTabRowPrice {
    font-family: "Mont";
    font-weight: 700;
    font-size: 19.35px;
    color: #353535;
    margin-left: 40px;
    min-width: 100px;
}
/*MAIN FOOTER END*/

/*FOOTER*/
.footer {
    padding: 73px 0;
}
.footer .header__logoBlock {
    margin-bottom: 17px;
}
.footer__textBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer__text {
    font-family: "Mont";
    font-weight: 600;
    font-size: 15.7px;
    color: #353535;
}
/*FOOTER END*/

/*MEDIA*/
@media screen and (max-width: 1300px) {
    .main__foodContent {
        max-width: 650px;
    }
    .main__header {
        padding-bottom: 130px;
    }
}
@media screen and (max-width: 1208px) {
    .wrapper {
        width: 100%;
    }
    .footer {
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 1141px) {
    .main__foodContentImg {
        right: -40px;
    }
    .main__footerContentTabsBlock {
        width: 100%;
    }
    .main__footerContent {
        margin-bottom: 0;
    }
    .main__footer .wrapper {
        padding-top: 50px;
    }
    .main__footerContentHeadline {
        margin-bottom: 30px;
    }
    .footer {
        padding-top: 50px;
    }
    .main__cosmetic .wrapper {
        padding: 50px 15px;
    }
    .main__beauty .wrapper {
        padding: 50px 15px 0;
    }
    .main__food .wrapper {
        padding: 50px 15px;
    }
    .main__foodContentImg {
        height: 500px;
        right: 0;
    }
    .main__body .wrapper {
        padding: 50px 15px;
    }
    .main__headerContent {
        margin-top: 70px;
    }
    .main__header {
        padding-bottom: 100px;
    }
    .main__footerContentTab {
        padding-bottom: 70px;
    }
    .main__footerContentBtn {
        width: 215px;
    }
    .main__footerContentBtn-2 {
        width: 270px;
    }
    .main__footerContentBtn-3 {
        width: 232px;
    }
}
@media screen and (max-width: 1023px) {
    .main__header {
        background: url(../img/bg1.png) no-repeat;
        background-position: 140px top;
        background-size: auto 100%;
    }
    .main__foodContentImg {
        display: none;
    }
    .main__foodContent {
        width: 100%;
        max-width: 100%;
    }
    .main__bodyContent {
        width: 100%;
        max-width: 100%;
    }
    .main__bodyHeadline {
        margin-bottom: 25px;
    }
    .main__cosmeticImg {
        display: none;
    }
    .main__body {
        background: #7bd496;
    }
    .main__footerContentBtns {
        flex-direction: column;
    }
    .main__footerContentBtn {
        width: 290px;
        margin-bottom: 10px;
    }
    .main__footerContentBtn:last-child {
        margin-bottom: 0;
    }
    .footer__textBlock {
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
    .main__beautyItems {
        flex-direction: column;
    }
    .main__beautyItem {
        margin-bottom: 30px;
    }
    .main__beautyHeadline {
        margin-bottom: 30px;
    }
    .main__beauty {
        background: #f8f8f8 url(../img/beauty.png) no-repeat;
        background-position: -200px;
        background-size: auto 100%;
    }
}
@media screen and (max-width: 767px) {
    .main__footerContentTab {
        padding: 40px;
    }
    .main__header {
        background: none;
        padding-bottom: 50px;
    }
    .main__headerContent {
        margin-top: 40px;
    }
    .main__headerHeadline {
        font-size: 40px;
    }

    .main {
        padding-top: 60px;
    }
    .hamburger {
        display: block;
    }
    .hamburger .bar {
        background: black;
    }
    .header {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        height: 60px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background: #f8f8f8;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .header__logoBlock {
        margin-bottom: 0;
    }
    .header__logoText {
        margin-bottom: 2px;
    }
    .header__nav {
        display: none;
    }
    .header__navToggleBlock-mobile {
        display: none;
        position: fixed;
        z-index: 9;
        right: 0;
        top: 59px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background: #f8f8f8;
        border-bottom-left-radius: 6px;
    }
    .header__navToggleBlock-mobile .header__nav {
        display: flex;
    }
    .header__nav {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 15px 20px;
    }
    .header__navLink {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .header__navLink:last-child {
        margin-bottom: 0;
    }

    .main__body .wrapper {
        padding: 30px 15px;
    }
    .main__food .wrapper {
        padding: 30px 15px;
    }
    .main__beauty .wrapper {
        padding: 30px 15px 0;
    }
    .main__cosmetic .wrapper {
        padding: 30px 15px;
    }
    .main__footer .wrapper {
        padding-top: 30px;
    }
    .footer {
        padding-top: 30px;
    }
    .main__bodyHeadline {
        font-size: 36px;
        margin-bottom: 16px;
    }
    .main__beautyHeadline {
        font-size: 36px;
        margin-bottom: 16px;
    }
    .main__footerContentHeadline {
        font-size: 36px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width: 670px) {
    .main__beauty {
        background: #f8f8f8;
    }
    .main__beautyItems {
        align-items: center;
    }
    .main__beautyItem {
        max-width: 440px;
        width: 100%;
    }
    .main__header {
        padding-bottom: 30px;
    }
    .main__headerContent {
        margin-top: 20px;
    }
    .main__headerHeadline {
        font-size: 34px;
    }
    .main__headerContentBtns {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }
    .main__headerContentBtns .main__headerContentBtn {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 480px) {
    .footer__text {
        font-size: 13px;
    }
    .footer .header__logoBlock {
        margin-bottom: 10px;
    }

    .main__footerContentTabRowText {
        font-size: 16px;
    }
    .main__footerContentTabRowPrice {
        font-size: 16px;
        min-width: 70px;
        margin-left: 15px;
    }
    .main__footerContentHeadline {
        text-align: center;
    }
    .main__footerContentBtns {
        margin-bottom: 10px;
    }
    .main__bodyHeadline {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .main__beautyHeadline {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .main__footerContentHeadline {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .main__bodyText {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 400px) {
    .main__footerContentBtn {
        width: 100%;
    }
    .main__footerContentTab {
        padding: 30px;
    }
    .footer {
        padding-top: 20px;
    }
    .main__beautyItemHeadline {
        margin-bottom: 10px;
    }
    .main__beautyItemImg {
        width: 90px;
        height: 90px;
    }
    .main__headerHeadline {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .main__headerContentText {
        font-size: 18px;
    }
    .main__bodyContentBtn {
        margin-top: 0;
    }
    .main__headerContentBtn {
        font-size: 18px;
    }
    .main__header {
        padding-bottom: 25px;
    }
    .main__footerContentBtn {
        font-size: 18px;
    }
}
/*MEDIA END*/