.response__content
    .content__log
        ul
            li
                a(href='#!') Вход / 
            li
                a(href='#!') Регистрация
    .container__video
        .description__video
            .video__link
                a(href='#!') Архив записей - 
                a(href='#!') Будущие стримы - 
                a(href='#!') Прошедшие стримы 
            .video__title
                h3 Успех в эпоху коммунизма
            .video__description
                p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.