@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: #282B31;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 1470px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
}

/*BUTTON*/
.btn {
    width: 430px;
    height: 64px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    background: #4339F2;
    box-shadow: 0 4px 26px rgba(23, 80, 255, 0.34);
    border-radius: 5px;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    border: 3px solid #4339F2;
}
.btn:hover {
    background: #FFFFFF;
    color: #4339F2;
}
.btn-white {
    background: #FFFFFF;
    color: #4339F2;
}
.btn-white:hover {
    background: #4339F2;
    color: #FFFFFF;
}
.btn-white__active {
    background: #4339F2;
    color: #FFFFFF;
}
.btn-form {
    margin-top: 31px;
}
/*BUTTON END*/

/*BURGER MENU*/
.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
h1 {
    text-align: center;
}
.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
.bar1 {
    top: 0;
}
.bar2,
.bar3 {
    top: 13px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}
.checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}
.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

.header__closeableMask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header__closeableMask-active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*BURGER MENU END*/

/*NAME AND INPUT*/
.main__nameAndInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.main__nameAndInput:last-child {
    margin-bottom: 0;
}
.main__nameAndInputHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 4px;
    position: relative;
}
.main__nameAndInputHeaderName {
    transition: .3s;
    z-index: 2;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #4339F2;
    margin-bottom: 11px;
    text-align: center;
}
.main__nameAndInputHeaderImg {
    max-height: 20px;
    height: 20px;
    margin-bottom: 11px;
}
.main__nameAndInputHeaderImg-bch {
    margin-top: 10px;
    height: 10px;
}
.main__nameAndInputFooter {
    height: 64px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.main__nameAndInputFooterInput {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 24px;

    border: none;

    background: rgba(221, 225, 232, 0.26);
    border-radius: 6px;


    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #282B31;
}
.main__nameAndInputFooterInput:focus {
    border: 1px solid #CFDDFA;
}
.main__nameAndInputFooterAlert {
    opacity: 0;
    transition: .3s;
    position: absolute;
    right: 20px;
}
.main__nameAndInputHeaderAlert {
    display: flex;
    right: 0;
    top: 3px;
    opacity: 0;
    transition: .3s;
    margin-bottom: 6px;
}
.main__nameAndInputHeaderAlertText {
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #FF0000;
}
.main__nameAndInputFooterInput::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #282B31;
}
.main__nameAndInput-error .main__nameAndInputFooterInput {
    border: 1px solid #FF0000;
}
.main__nameAndInput-error .main__nameAndInputFooterAlert {
    opacity: 1;
}
.main__nameAndInput-error .main__nameAndInputHeaderAlert {
    opacity: 1;
}

.main__nameAndInputFooterInput-textarea {
    padding: 15px 24px 10px 24px;
    min-height: 256px;
    resize: none;
    font-weight: normal;
    font-size: 18px;
}
.main__nameAndInput-textarea .main__nameAndInputFooter {
    height: 100%;
    padding: 1px 0;
}

.main__nameAndInputFooter-captcha .main__nameAndInputFooterInput {
    padding-left: 130px;
}
.main__nameAndInputFooterNumber {
    padding-right: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 24px;
    border-right: solid 3px #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #282B31;
}

.main__nameAndInput-inviter .main__nameAndInputFooterInput {
    padding-left: 70px;
}
.main__nameAndInput-inviterIcon {
    position: absolute;
    left: 24px;
}
/*NAME AND INPUT END*/

/*INPUT*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
/*INPUT END*/

/*CHECKBOX*/
.main__checkboxBlock {
    position: relative;
    width: 100%;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 20px;
    cursor: pointer;

    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #282B31;
}
.custom-checkbox + label a {
    color: #4339F2;
    font-weight: 800;
    margin-left: 3px;
    font-size: 14px;
    line-height: 20px;
}
.custom-checkbox + label span {
    color: #4339F2;
    font-weight: 800;
    margin-left: 3px;
    font-size: 14px;
    line-height: 20px;
}
.custom-checkbox + label a:hover {
    text-decoration: none;
}
.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 16px;
    background-size: 50% 50%;
    margin-bottom: 2px;

    background: rgba(221, 225, 232, 0.26);
    border-radius: 6px;
}
.custom-checkbox:checked + label::after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background: rgba(67, 57, 242, 0.9);
    border-radius: 3px;
    position: absolute;
    left: 3px;
    bottom: 7px;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    background-color: #FFFFFF;
}
/*CHECKBOX END*/

/*HEADER*/
.header {
    width: 100%;
    position: relative;
    z-index: 10;
    height: 107px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-bottom: 3px solid #F5F5F9;
}
.header .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    max-width: 100%;
}
.header__logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logoLink-mobile {
    display: none;
}
.header__logo {
    max-height: 39px;
}
.header__navWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navBtn-mobile {
    display: none;
}
.header__navItem {
    font-family: GothamPro, "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    color: #262626;
    transition: .3s;
    margin: 0 18px;
}
.header__navItem:hover {
    color: #1750FF;
}
.header__navItem-active {
    color: #1750FF;
}
.header__navLangBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    width: 253px;
    align-items: flex-end;
}
.header__navLangHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.header__navLangFlag {
    margin-right: 17px;
}
.header__navLangText {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.header__navLangHeader .header__navLangText {
    color: #1750FF;
}
.header__navLangIcon {
    margin-left: 13px;
    margin-top: 5px;
}
.header__navLangItems {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 20px;
    right: 16px;

    padding: 10px 10px 3px 10px;

    transition: .3s;
    opacity: 0;
    visibility: hidden;

    filter: drop-shadow(0px -2px 12px #F8F8F8);
    background: #FFFFFF;
    border-radius: 4px;
}
.header__navLangItems:hover {
    visibility: visible;
    opacity: 1;
}
.header__navLangItem {
    margin-bottom: 3px;
    font-size: 14px;
}
.header__navLangItem.link-animation:after {
    bottom: 0;
}
.header__navLangHeader:hover ~ .header__navLangItems {
    visibility: visible;
    opacity: 1;
}

.header__account {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__account .header__navLangBlock {
    width: auto;
}
.header__accountBalance {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F8F8F8;
    border-radius: 13px;
    min-width: 163px;
    height: 46.5px;
    padding: 6px;
    margin-left: 20px;
}
.header__accountBtn {
    background: #1750FF;
    border-radius: 10px;
    width: 33.5px;
    height: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.header__accountBtn:hover {
    background: #0f3dc3;
}
.header__accountBalanceIcon {
    margin-right: 9.5px;
}
.header__accountText {
    margin-top: 3px;
    font-family: GothamPro, "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #282B31;
}

.header__accountUser {
    margin-left: 29px;
    position: relative;
}
.header__accountUserCircle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
    cursor: pointer;
}
.header__accountUserBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 66px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.header__accountUserBlock::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #1750FF;
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    right: 10px;
    top: -6px;
}
.header__accountUserBlock:hover,
.header__accountUserCircle:hover ~ .header__accountUserBlock {
    visibility: visible;
    opacity: 1;
}
.header__accountUserContent {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 16px 14px 13px 14px;
}
.header__accountUserText {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #1750FF;
    margin-bottom: 4px;
}
.header__accountUserExit {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #282B31;
}
/*HEADER END*/

/*MAIN*/
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*MAIN END*/

/*REGISTRATION*/
.main-reg {
    margin: 60px 0;
    width: 1000px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.main-reg__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #262626;
    margin-bottom: 50px;
    text-align: center;
}
.main-reg__title span {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #4339F2;
}
.main-reg__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.main-reg__formColumn {
    width: 430px;
    display: flex;
    flex-direction: column;
}
/*REGISTRATION END*/

/*LOGIN*/
.main-reg__login {
    width: 730px;
}
.main-reg__formColumn-center {
    align-items: center;
    margin: 0 auto;
}
.main-reg__formColumn-center .main__nameAndInputHeader {
    justify-content: center;
}
.main-reg__formColumn-center .main__nameAndInputHeaderAlert {
    display: none;
}
.main-reg__formColumn-center .main__checkboxBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-reg__formColumn-center .custom-checkbox + label {
    margin-top: -10px;
}
.main-reg__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.main-reg__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    color: #282B31;
    opacity: 0.5;
}
.main-reg__link:hover {
    text-decoration: none;
}

.main-reg__margin {
    margin-top: 143px;
}

.main-reg__inputCenter .main__nameAndInputFooterInput {
    text-align: center;
    padding-left: 0;
}

.main-reg__success {
    width: 528px;
}
.main-reg__successText {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #282B31;
    margin-top: -15px;
    margin-bottom: 35px;
}
/*LOGIN END*/

/*ASIDE*/
.aside {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 96px;
    max-width: 320px;
    width: 96px;
    min-height: 100%;
    background: #FFFFFF;
    border-radius: 0 20px 20px 0;
    padding-top: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s;
    z-index: 3;
}
.aside:hover {
    width: 320px;
}
.aside__items {
    display: flex;
    flex-direction: column;
}
.aside__item {
    padding: 30px 0 30px 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.aside__itemIcon {
    margin-right: 35px;
    opacity: .2;
    min-width: 26px;
}
.aside__itemText {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #CCCCCC;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 22px;
    white-space: nowrap;
}
.aside:hover .aside__itemText {
    visibility: visible;
    opacity: 1;
    width: auto;
}
.aside__item-active .aside__itemIcon,
.aside__item:hover .aside__itemIcon {
    opacity: 1;
    filter: invert(17%) sepia(98%) saturate(7458%) hue-rotate(249deg) brightness(104%) contrast(90%);
}
.aside__item-active .aside__itemText,
.aside__item:hover .aside__itemText {
    color: #4339F2;
}
.aside__item-mobile {
    display: none;
}
.aside-mask {
    background: rgba(248, 248, 248, 0.85);
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    z-index: 2;
    transition: .3s;
}
.aside-mask:hover {
    background: transparent;
}
.aside:hover ~ .aside-mask {
    visibility: visible;
}
.aside__row {
    display: none;
    width: 100%;
    background: #FFFFFF;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}
.aside__rowIcon {
    transform: rotate(0deg);
    transition: .3s;
}
.aside__rowIcon-active {
    transform: rotate(180deg);
}
/*ASIDE END*/

/*WITHDRAWAL*/
.main-withdrawal__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 3px;
}
.main-withdrawal__item {
    width: 126px;
    height: 56px;
    background: #F8F8F8;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid transparent;
}
.main-withdrawal__item-active {
    box-shadow: 0px 10px 29px rgba(23, 33, 47, 0.3);
    border: 3px solid #4339F2;
}
.main-withdrawal__item-pm {
    background: #F01010;
}
.main-withdrawal__item-pm:hover {
    background: #cb1111;
}
.main-withdrawal__item-btc {
    background: #F8941B;
}
.main-withdrawal__item-btc:hover {
    background: #de8113;
}
.main-withdrawal__item-ltc {
    background: #345D9D;
}
.main-withdrawal__item-ltc:hover {
    background: #234f8d;
}
.main-withdrawal__item-eth {
    background: rgba(52, 181, 58, 0.4);
}
.main-withdrawal__item-eth:hover {
    background: rgba(31, 134, 35, 0.4);
}
.main-withdrawal__item-bch {
    background: #345D9D;
}
.main-withdrawal__item-bch:hover {
    background: #264679;
}
.main-withdrawal__item-dc {
    background: #DC9A00;
}
.main-withdrawal__item-dc:hover {
    background: #a5780c;
}
/*WITHDRAWAL END*/

/*SETTINGS*/
.main__title {
    margin: 30px 0;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    color: #4339F2;
}
.main-settings {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.main-settings__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}
.main-settings__columnWrapper {
    width: 408px;
    height: 845px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 30px 30px;
}
.main-settings__columnWrapper .btn {
    width: 100%;
}
.main-settings__columnContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.main-settings__columnContent .btn-white {
    width: 100%;
    margin-bottom: 20px;
}
.main-settings__delimiter {
    width: 100%;
    display: block;
    height: 2px;
    background: #F8F8F8;
    margin-bottom: 20px;
}
.main-settings__avatarBlock {
    position: relative;
    margin-bottom: 30px;
}
.main-settings__avatarImg {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
.main-settings__avatarStatus {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: #34B53A;
    display: block;
    border-radius: 50%;
}
.main-settings__textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.main-settings__textBlock-margin {
    margin-bottom: 30px;
}
.main-settings__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}
.main-settings__text-bold {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #4339F2;
}
.main-settings__columnContent .main__nameAndInput {
    margin-bottom: 20px;
}
/*SETTINGS END*/

/*LINK ANIMATION*/
.link-animation {
    position: relative;
    text-decoration: none;
}
.link-animation:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #1750FF;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scale(0, 1);
    transition: .3s;
}
.link-animation:hover:after {
    transform: scale(1, 1);
}
/*LINK ANIMATION END*/

/*REQUISITES*/
.main-header {
    width: 100%;
}
.main-header .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 96px;
}
.main-content {
    width: 100%;
}
.main-content .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 96px;
}
.main-requisites {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 50px 30px 50px 50px;
}
.main-requisites__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main-requisites__itemImgBlock {
    max-height: 40px;
    min-width: 196px;
}
.main-requisites__itemInput {
    margin-left: 50px;
    width: 100%;
    height: 64px;
}
.main-requisites .btn {
    width: 266px;
    height: 64px;
    margin-top: 10px;
}
/*REQUISITES END*/

/*HISTORY INFO*/
.main__title-margin {
    margin-bottom: 20px;
}
.main-header__center .wrapper {
    justify-content: center;
}
.main-history__info {
    width: 673px;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 30px;
}
.main-history__infoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.main-history__infoItem:last-child {
    margin-bottom: 0;
}
.main-history__infoItemText {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}
.main-history__infoItemText span {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    color: rgba(0, 0, 0, 0.8);
}
.main-history__infoItemText-big {
    font-weight: bold;
    font-size: 46px;
    letter-spacing: 7px;
    color: #02A0FC;
}
.main-history__infoItemText-green {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    color: #34B53A;
}
/*HISTORY INFO END*/

/*SCROLLBARS*/
::-webkit-scrollbar {
    width: 3px;
    background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    background-color: #4339F2;
    -webkit-border-radius: 2px;
}
::-webkit-scrollbar-track {
    border-width: 0;
}
::-webkit-scrollbar-track:hover {
    background-color: #cac9c9;
}
:root {
    scrollbar-color: #4339F2 #e2e2e2 !important;
    scrollbar-width: thin !important;
}
/*SCROLLBARS END*/

/*TICKETS*/
.main-header .btn {
    width: 180px;
    height: 64px;
    margin: 30px 0;
    font-weight: 600;
    font-size: 18px;
}
.main-tickets__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.main-tickets {
    width: 510px;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 10px;
}
.main-tickets .main__nameAndInput {
    margin-bottom: 20px;
}

.main-tickets__items {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-right: 15px;
}
.main-tickets__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}
.main-tickets__itemName {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #4339F2;
}
.main-tickets__itemText {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #282B31;
    opacity: 0.9;
    max-width: 380px;
    text-align: left;
}
.main-tickets__item-right {
    align-items: flex-end;
}
.main-tickets__item-right .main-tickets__itemText {
    text-align: right;
}
/*TICKETS END*/

/*INDEX*/
.main-index__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    width: calc(100% + 30px);
}
.main-index__item {
    width: 406px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 30px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
}
.main-index__itemImgBlock {
    width: 100%;
    max-height: 40px;
    max-width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-index__itemImg {
    object-fit: contain;
}
.main-index__itemDelimiter {
    width: 100%;
    height: 2px;
    background: #F8F8F8;
    display: block;
    margin: 20px 0 15px;
}
.main-index__itemRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-index__itemColumn {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-index__itemTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}
.main-index__itemName {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
    margin-bottom: 5px;
}
.main-index__itemSum {
    font-weight: bold;
    font-size: 19px;
    line-height: 20px;
    color: #155A18;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.main-index__itemSum span {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.main-index__chartBlock {
    max-height: 460px;
    height: 460px;
    width: 100%;
    margin: 20px 0 50px;
}
.main-index__chart {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
}
.main-index__question {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 90px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}
.main-index__questionTitle {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #4339F2;
    max-width: 700px;
    margin-bottom: 18px;
}
.main-index__questionText {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 37px;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.main-index__question .btn {
    width: 247px;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
}
/*INDEX END*/

/*OPEN DEPOSIT*/
.main-tariffs__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% + 30px);
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.main-tariffs__item {
    margin: 0 15px 30px;
    width: 262px;
    height: 297px;
    background: linear-gradient(180deg, #192433 0%, #0E131A 100%);
    box-shadow: 0 5px 30px rgba(23, 33, 47, 0.3);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
}
.main-tariffs__itemBg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    transition: .3s;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main-tariffs__itemRow {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.main-tariffs__itemPlan {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 110px;
}
.main-tariffs__itemPlan span {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #17202D;
    width: 30px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FEAB01;
    border-radius: 4px;
}
.main-tariffs__itemDeposit {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #B2B3B5;
    opacity: 0.8;
    max-width: 77px;
    margin-top: 17px;
}
.main-tariffs__itemTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-tariffs__itemText {
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: #B2B3B5;
    opacity: 0.8;
}
.main-tariffs__itemSum {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.main-tariffs__itemPercent {
    font-weight: 900;
    font-size: 56px;
    line-height: 43px;
    color: #FEAB01;
}
.main-tariffs__itemPercent span {
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #FEAB01;
}
.main-tariffs__itemDays {
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    color: #B2B3B5;
}
.main-tariffs__itemDays span {
    font-weight: 800;
    font-size: 13px;
    line-height: 26px;
    color: #FEAB01;
}
.main-tariffs__itemTotal {
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 75px;
    margin-top: 0;
}
.main-tariffs__itemRow-margin {
    margin-top: 36px;
}
.main-tariffs__item:hover,
.main-tariffs__item-active {
    background: linear-gradient(180deg, #006AFF 0%, #0E131A 100%);
}
.main-tariffs__item:hover .main-tariffs__itemBg,
.main-tariffs__item-active .main-tariffs__itemBg {
    opacity: .3;
}

.main-tariffs__btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.main-tariffs__btns .btn {
    width: 364px;
    height: 66px;
    margin: 0 15px;
}

.main-tariffs__payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}
.main-tariffs__paymentsItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 100%;
}
.main-tariffs__paymentsItems .main-withdrawal__item {
    margin: 0 7.5px 15px;
}
.main-tariffs__paymentsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 722px;
}
.main-tariffs__paymentsRow .btn {
    margin-left: 30px;
    min-width: 262px;
    height: 66px;
}
.main-tariffs__paymentsRow .main__nameAndInputFooter {
    height: 66px;
}
.main-tariffs__paymentsRow .main__nameAndInputFooterInput {
    border-radius: 15px;
}
.main-tariffs__paymentsRow .main__nameAndInput {
    margin-bottom: 0;
}
.main__nameAndInputFooterAmount {
    position: absolute;
    right: 20px;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #282B31;
}
/*OPEN DEPOSIT END*/

/*DEPOSITS*/
.main-deposits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-bottom: -26px;
    justify-content: center;
}
.main-deposits__item {
    width: 624px;
    height: 358px;
    background: #FFFFFF;
    border-radius: 12px;
    margin: 0 15px 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-deposits__itemImgBlock {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.main-deposits__itemDate {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333333;
    opacity: 0.9;
    margin-top: 20px;
}
.main-deposits__itemRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.main-deposits__itemTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-deposits__itemName {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 5px;
}
.main-deposits__itemValue {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4339F2;
}
.main-deposits__itemValue span {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #4339F2;
}
.main-deposits__itemStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 384px;
    height: 72px;
    background: #F8F8F8;
    border-radius: 9px;
}
.main-deposits__itemStatusText {
    width: 190px;
    font-weight: 600;
    font-size: 22px;
    line-height: 12px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.9;
    text-align: center;
}
.main-deposits__itemStatusDelimiter {
    display: block;
    width: 3px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 22px;
}
.main-deposits__itemStatusValue {
    color: #000000;
    width: 190px;
    font-weight: bold;
    font-size: 22px;
    line-height: 12px;
    mix-blend-mode: normal;
    text-align: center;
}
.main-deposits__itemStatusValue-red {
    color: #FF0000;
}
.main-deposits__itemStatusValue-green {
    color: #34B53A;
}
.main-deposits__itemStatusValue-yellow {
    color: #FFB200;
}

.main-pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0 50px;
}
.main-pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #4339F2;
    border: 1px solid #4339F2;
    border-radius: 5px;
    transition: .3s;
    margin: 0 5px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.main-pagination__item:hover {
    background: #261eb5;
}
.main-pagination__itemIcon {

}
/*DEPOSITS END*/

/*TEAM*/
.main-header__team .wrapper {
    align-items: flex-end;
}
.main__title-marginBig {
    margin-bottom: 40px;
}
.main-header__clipboard {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 30px 0;
}
.main-header__clipboard .main__nameAndInput {
    margin-bottom: 0;
    width: 460px;
}
.main-header__clipboard .btn {
    margin: 0 0 0 20px;
    min-width: 256px;
    height: 64px;
}
.main__nameAndInputCopied {
    position: absolute;
    bottom: 6px;
    right: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.main-team {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 45px;
}
.main-team__textBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-team__textName {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #7B839D;
}
.main-team__textSum {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1B253C;
}
.main-team__textSum span {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #1B253C;
}
.main-team__btns {
    display: flex;
    flex-direction: row;
}
.main-team__btns .btn-white {
    min-width: 232px;
    width: 232px;
    height: 64px;
    margin-left: 20px;
}

.main-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
.main-table__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-bottom: 20px;
}
.main-table__items {
    display: flex;
    flex-direction: column;
}
.main-table__item {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 1244px;
}
.main-table__item:last-child {
    margin-bottom: 0;
}
.main-table__headerText {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.main-table__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1B253C;
}
.main-table__text-green {
    color: #28D24E;
}

.main-table__text.main-table__text-payment {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-table__icon {

}

.main-table__text-darkGreen {
    color: #219653;
}
.main-table__text-red {
    color: #FF3A29;
}
.main-table__text-yellow {
    color: #FFB200;
}

.main-table__text-email {
    min-width: 424px;
}
.main-table__text-date {
    min-width: 269px;
}
.main-table__text-refBonus {
    min-width: 294px;
}
.main-table__text-refAmount {
    min-width: 194px;
}

.main-table__text-date2 {
    min-width: 332px;
}
.main-table__text-title {
    min-width: 469px;
}
.main-table__text-answer {
    min-width: 272px;
}
.main-table__text-status {
    min-width: 90px;
}

.main-table__text-number {
    min-width: 190px;
}
.main-table__text.main-table__text-number {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    color: #02A0FC;
}
.main-table__text-date3 {
    min-width: 213px;
}
.main-table__text.main-table__text-date3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #02A0FC;
}
.main-table__text-operation {
    min-width: 166px;
}
.main-table__text-man {
    min-width: 188px;
}
.main-table__text-out {
    min-width: 141px;
}
.main-table__text-payment {
    min-width: 160px;
    margin-right: 70px;
}
/*TEAM END*/

/*RESPONSIVE FIX*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.5;
        -ms-zoom: 0.5;
        -webkit-zoom: 0.5;
        -moz-transform: scale(0.5, 0.5);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 150vw;
        }
    }
}
@media screen and (max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media screen and (max-width: 1459px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media screen and (max-width: 1457px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1025px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (                min-resolution: 192dpi) and ( max-width: 1025px), only screen and (                min-resolution: 2dppx) and ( max-width: 1025px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1020px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (                min-resolution: 192dpi) and ( max-width: 1020px), only screen and (                min-resolution: 2dppx) and ( max-width: 1020px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;

    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
}
/*RESPONSIVE FIX END*/

/*MEDIA*/
@media screen and (max-width: 1400px) {
    .main {
        padding-top: 60px;
    }

    .header__logoLink {
        display: none;
    }
    .header__logoLink-mobile {
        display: flex;
    }
    .header .wrapper {
        padding: 0 15px;
        max-width: 100%;
    }
    .hamburger {
        display: block;
    }
    .hamburger .bar {
        background: black;
    }
    .header {
        position: fixed;
        padding: 0;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 60px;
        z-index: 11;
        border-bottom: unset;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 10px 0 15px;
    }
    .header__navLangBlock {
        width: auto;
        margin-top: 17px;
    }
    .header__navLangText {
        font-size: 16px;
    }
    .header__navLangFlag {
        margin-right: 10px;
    }
    .header__navWrapper {
        position: fixed;
        top: 75px;
        right: -240px;
        width: 220px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px 0 0 10px;
        transition: .3s;
        z-index: 12;
        display: flex;
        flex-direction: column-reverse;
    }
    .header__navWrapper-active {
        right: 0;
    }
    .header__navItem {
        margin: 4px 0;
    }

    .header__account {
        flex-direction: column-reverse;
    }
    .header__accountUser {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
    }
    .header__accountUserContent {
        padding: 0;
    }
    .header__accountBalance {
        margin-left: 0;
    }
    .header__accountUserText {
        margin-bottom: 0;
    }
    .header__accountUserCircle {
        margin-right: 10px;
    }
    .header__account .header__navLangBlock {
        margin-top: 13px;
    }
    .header__accountUserBlock {
        visibility: visible;
        opacity: 1;
        position: relative;
        top: unset;
        right: unset;
    }
    .header__accountUserBlock::before {
        display: none;
    }

    .body-fixed {
        overflow-y: hidden;
    }

    .aside {
        position: relative;
        width: 100%;
        min-height: 50px;
        height: 50px;
        max-width: 100%;
        border-radius: unset;
        padding-top: 60px;
        background: #FFFFFF;
    }
    .aside-mask {
        display: none;
    }
    .aside:hover {
        width: 100%;
    }
    .aside__items {
        /*border-bottom: 3px solid #F5F5F9;*/
        transition: .3s;
        display: none;
    }
    .aside__item {
        display: flex;
        padding: 15px;
        visibility: visible;
        opacity: 1;
        background: #FFFFFF;
        margin-top: -1px;
        height: 56px;
        transition: .3s;
    }
    .aside__item:last-child {
        height: 51px;
    }
    .aside__itemIcon {
        margin-right: 15px;
    }
    .aside__itemText {
        visibility: visible;
        opacity: 1;
        width: auto;
    }
    .aside__item-mobile {
        display: flex;
    }
    .aside__item-settings {
        display: none;
    }

    .aside__row {
        display: flex;
        border-bottom: 3px solid #F5F5F9;
    }
}
@media screen and (max-width: 1180px) {
    .main-header .wrapper,
    .main-content .wrapper {
        padding: 0 15px;
    }
}
@media screen and (max-width: 1070px) {
    .main-settings {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-settings__columnWrapper {
        height: auto;
    }
    .main-settings__delimiter {
        display: none;
    }

    .main-index__items {
        justify-content: center;
    }
}
@media screen and (max-width: 1023px) {
    .main-reg {
        margin: 15px 0;
        width: calc(100% - 30px);
        padding: 15px;
        height: auto;
    }
    .main-reg__form {
        flex-direction: column;
        align-items: center;
    }
    .main__nameAndInput {
        margin-bottom: 15px;
    }
    .main__nameAndInput:last-child {
        margin-bottom: 15px;
    }
    .btn-form {
        margin-top: 9px;
    }
    .main-reg__title {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 22px;
    }
    .main-reg__title span {
        font-size: 22px;
    }
    .main__nameAndInputHeaderName {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .main__nameAndInputFooterInput {
        font-size: 16px;
    }
    .main__nameAndInputFooterNumber {
        font-size: 16px;
    }
    .main__nameAndInputFooter {
        height: 54px;
    }
    .main__nameAndInput-inviterIcon {
        height: 29px;
        width: 22px;
    }
    .main-reg__formColumn .btn {
        height: 54px;
    }
    .btn {
        font-size: 16px;
    }

    .main-reg__formColumn-center .custom-checkbox + label {
        margin: 0 0 6px 0;
    }
    .main-reg__links {
        margin-top: 15px;
    }

    .main-reg__successText {
        margin-bottom: 14px;
    }

    .main-withdrawal__item {
        margin-bottom: 10px;
        width: 32%;
    }

    .main__title {
        font-size: 24px;
        margin: 20px 0 10px;
    }

    .main-header .main__title {
        margin: 15px 0 10px;
    }
    .main-requisites {
        padding: 15px;
    }
    .main-requisites__item {
        margin-bottom: 10px;
    }
    .main-requisites .btn {
        margin-top: 5px;
    }
    .main-requisites__itemImgBlock {
        min-width: 130px;
    }
    .main-requisites__itemImg {
        width: 130px;
    }
    .main-requisites__itemInput {
        margin-left: 20px;
        height: 50px;
    }

    .main-header__center .wrapper {
        justify-content: space-between;
    }
    .main-history__info {
        width: 100%;
        padding: 15px;
    }
    .main-history__infoItem {
        margin-bottom: 15px;
    }

    .main-header .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-header .btn {
        margin: 0 0 15px 0;
        height: 50px;
        font-size: 16px;
    }

    .main-tariffs__items {
        justify-content: center;
    }

    .main-tariffs__paymentsItems .main-withdrawal__item {
        width: 126px;
    }

    .main-header__clipboard {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .main-header__clipboard .btn {
        margin-bottom: 0;
        margin-left: 15px;
    }
    .main-team {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    .main-team__btns .btn-white {
        margin-right: 20px;
        margin-left: 0;
    }
    .main-team__textBlock {
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .main-table__item:last-child {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 850px) {
    .main-tariffs__btns {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .main-tariffs__btns .btn {
        margin: 0 0 15px;
    }
    .main-tariffs__items {
        margin-bottom: 10px;
    }
    .main-tariffs__item {
        margin: 0 10px 20px;
    }

    .main-tariffs__paymentsRow {

        width: 100%;
        flex-direction: column;
    }
    .main-tariffs__paymentsRow .main__nameAndInput {
        margin-bottom: 15px;
    }
    .main-tariffs__paymentsItems {
        margin-bottom: 10px;
    }
    .main-tariffs__paymentsRow .btn {
        width: 100%;
        margin-left: 0;
    }
    .main-tariffs__payments {
        margin-bottom: 15px;
    }

    .main-header__clipboard {
        flex-direction: column;
        align-items: flex-start;
        max-width: 460px;
        width: 100%;
    }
    .main-header__clipboard .main__nameAndInput {
        width: 100%;
    }
    .main-header__clipboard .btn {
        margin-top: 10px;
        margin-left: 0;
    }
    .main-team__btns {
        width: 100%;
    }
    .main-team__btns .btn-white {
        margin-bottom: 10px;
        margin-right: 0;
        max-width: 460px;
        width: 100%;
        height: 50px;
    }
    .main-team__btns {
        flex-direction: column;
    }
}
@media screen and (max-width: 720px) {
    .main-history__infoItem {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-history__infoItem {
        margin-bottom: 20px;
    }

    .main-tickets {
        width: 100%;
        padding: 15px;
    }
    .main-tickets .btn {
        width: 100%;
        height: 50px;
    }

    .main-deposits__item {
        height: auto;
        margin-bottom: 15px;
    }
    .main-deposits__itemRow {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    .main-deposits__itemTextBlock {
        margin: 5px 10px;
    }
    .main-deposits {
        margin-bottom: -15px;
    }
    .main-pagination {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 500px) {
    .main-reg__formColumn {
        width: 100%;
    }
    .main-reg__formColumn .btn {
        width: 100%;
    }
    .header__logoLink-mobile img {
        max-height: 22px;
    }
    .custom-checkbox + label::before {
        margin-right: 6px;
    }

    .main-settings__column {
        width: 100%;
    }
    .main-settings__columnWrapper {
        width: 100%;
        padding: 15px;
    }

    .main-requisites__itemImgBlock {
        min-width: 100px;
    }
    .main-requisites__itemImg {
        width: 100px;
    }
    .main-requisites .btn {
        width: 100%;
        height: 50px;
    }
    .main__title {
        font-size: 20px;
        line-height: 30px;
    }

    .main-tickets__items {
        margin-bottom: 15px;
    }
    .main-tickets__item {
        margin-bottom: 20px;
    }
    .main-tickets__itemText {
        font-size: 16px;
    }

    .main-index__chartBlock {
        display: none;
    }
    .main-index__question {
        padding: 35px;
        margin-bottom: 15px;
    }
    .main-index__questionTitle {
        line-height: unset;
        font-size: 24px;
        margin-bottom: 15px;

    }
    .main-index__questionText {
        margin-bottom: 20px;
    }
    .main-index__question .btn {
        font-size: 16px;
        height: 50px;
    }

    .main-index__item {
        padding: 15px;
        margin-bottom: 15px;
        height: auto;
        width: 100%;
    }

    .main-tariffs__items {
        margin-bottom: 0;
    }
    .main-tariffs__item {
        margin: 0 0 15px 0;
    }
    .main-tariffs__btns {
        margin-bottom: 5px;
    }
    .main-tariffs__btns .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .main-tariffs__paymentsItems {
        margin-bottom: 0;
    }

    .main-deposits__item {
        padding: 15px;
    }
    .main-deposits__itemImgBlock {
        margin-bottom: 10px;
    }
    .main-deposits__itemRow {
        margin-bottom: 10px;
    }
    .main-deposits__itemStatus {
        width: 100%;
    }
    .main-deposits__itemStatusText,
    .main-deposits__itemStatusValue {
        width: 40%;
    }
    .main-pagination {
        margin: 15px 0;
    }
}
@media screen and (max-width: 360px) {
    .main-index__itemRow {
        justify-content: flex-start;
    }
    .main-index__itemColumn {
        width: 100px;
        margin-right: 30px;
    }
}
/*MEDIA END*/

