aside
    nav.menu
        ul
            li.menu__item.menu__item-active
                a(href='#!')
                    i.fas.fa-user-alt
            li.menu__item
                a(href='#!')
                    i.fas.fa-users
            li.menu__item
                a(href='#!')
                    i.fas.fa-server
            li.menu__item
                a(href='#!')
                    i.fas.fa-chart-line