@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
    url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium'), local('Gotham-Pro-Medium'),
    url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
    url('../fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

html, body {
    overflow-x: hidden;
}
body {
    background: #14171E;
    font-size: 16px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: normal;
    position: relative;
}

.wrapper {
    width: 1261px;
    padding: 0 15px;
    margin: 0 auto;
}

/*LINK ANIMATION*/
.link-animation {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.link-animation:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #01E2FF;
    border-radius: 3px;
    transform: scale(0, 1);
    transition: .3s;
}
.link-animation:hover:after {
    transform: scale(1, 1);
}
/*LINK ANIMATION END*/

/*BUTTON*/
.btn {
    width: 290px;
    height: 64px;
    background: #122B34;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    font-family: "Gotham Pro";
    font-size: 16px;
    line-height: 15px;
    font-weight: 500;
    color: #01E2FF;
    transition: .3s;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    background: #01E2FF;
    color: #05080C;
}
.btn-light {
    background: #01E2FF;
    color: #05080C;
}
.btn-light:hover {
    background: #007888;
}
/*BUTTON END*/

/*HEADER*/
.header {

}
.headerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 18.46px 0;
    margin-bottom: 10px;
}
.headerBottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 65px;
}
.headerBottom__link {
    margin: 0 45px;
    text-transform: uppercase;
    font-weight: 700;
}
.headerBottom__logo {
    margin: 0 100px;
}
.headerBottom__cart {
    position: absolute;
    right: 5px;
    bottom: 50%;
    transform: translateY(44%);
}
.headerBottom__cartNum {
    position: absolute;
    bottom: -6px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #171A21;
    font-weight: 700;
    background: #01E2FF;
    border-radius: 50%;
    font-size: 12px;
}
.headerBottom__cartNum-disabled {
    display: none;
}
.headerTop__lang {
    position: relative;
    width: 150px;
    margin-right: 7px;
}
.headerTop__langBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.headerTop__langText {
    margin-right: 6px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 25px;
}
.headerTop__langIcon {
    transform: rotate(-180deg);
    transition: .3s;
}
.headerTop__langIcon-rotated {
    transform: rotate(0);
}
.headerTop__langItems {
    position: absolute;
    left: 0;
    top: 27px;
    display: none;
    flex-direction: column;
    width: 150px;
    background: #171A21;
    border: 1.2px solid #5A5F6D;
    box-sizing: border-box;
    border-radius: 6px;
    padding-bottom: 7px;
    z-index: 1;
}
.headerTop__langItem {
    width: 100%;
    height: 38px;
    padding-left: 25px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .2s;
}
.headerTop__langItem:hover {
    background: #01E2FF;
    color: #171A21;
}
.headerTop__office {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.headerTop__officeIcon-filled {
    position: absolute;
    left: 1px;
    opacity: 0;
    transition: .3s;
}
.headerTop__officeLink {
    margin-left: 7px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.headerTop__office:hover .headerTop__officeIcon-filled {
    opacity: 1;
}
.headerTop__office .headerTop__officeLink:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #01E2FF;
    border-radius: 3px;
    transform: scale(0, 1);
    transition: .3s;
}
.headerTop__office:hover .headerTop__officeLink:after {
    transform: scale(1, 1);
}
.headerBottom__burgerLink {
    display: none;
}
.header__closebleMask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(20, 23, 30, 0.2);
    backdrop-filter: blur(19px);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header__closebleMask-active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.header__mobileToggleBlock {
    display: none;
}
.header__mobileToggleBlockContent-lang {
    display: none;
    position: absolute;
    left: -100%;
    top: 0;
}
/*HEADER END*/

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__headline {
    margin-top: 70px;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*MAIN END*/

/*REMASK*/
.main__remask {
    background: url(../img/main/smoke.png) no-repeat;
    background-size: 100% 100%;
}
.main__remask .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 126px;
}
.main__remaskText {
    font-size: 24px;
    opacity: 0.6;
    margin-top: 27px;
}
.main__remaskMask {
    margin-top: -119px;
    margin-right: -210px;
}
.main__remaskScroll {
    margin-top: 0px;
    cursor: pointer;
    animation: breathe 1s ease-in-out infinite;
}
@keyframes breathe {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*REMASK END*/

/*LEVELS*/
.main__levels .wrapper {
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.main__levelsTextBlock {
    display: flex;
    flex-direction: column;
    margin-left: -105px;
}
.main__levelsTextBlockHeadline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 41px;
}
.main__levelsTextBlockHeadlineNum {
    color: #01E2FF;
    font-size: 135px;
    font-weight: 500;
}
.main__levelsTextBlockHeadlineText {
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 36px;
    margin-left: 20px;
}
.main__levelsTextBlockItems {
    padding-left: 50px;
}
.main__levelsTextBlockItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 60px;
}
.main__levelsTextBlockItem:last-child {
    margin-bottom: 0;
}
.main__levelsTextBlockItemIcon {
    margin-right: 24px;
}
.main__levelsTextBlockItemText {
    max-width: 500px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.main__levelsTextBlockItemText span {
    font-weight: 700;
}
.main__levelsImg {
    margin-top: -97px;
    margin-right: -350px;
}
/*LEVELS END*/

/*PROS*/
.main__pros .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 60px;
}
.main__prosItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 175px;
    max-width: 207px;
}
.main__prosItemIcon {
    margin-bottom: 38px;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(0, 0, 1, 1);
}
.main__prosItem:hover .main__prosItemIcon {
    transform: translateY(10px);
}
.main__prosItemText {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.main__prosItemText span {
    font-weight: 700;
}
.main__prosDelimiter {
    height: 47px;
    display: block;
    background: #FFFFFF;
    opacity: 0.1;
    width: 1px;
}
/*PROS END*/

/*ABOUT PROS*/
.main__aboutPros .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main__aboutProsTextBlock {
    display: flex;
    flex-direction: column;
}
.main__aboutProsHeadline {
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: #01E2FF;
    margin-bottom: 38px;
}
.main__aboutProsText {
    width: 660px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.main__aboutProsImg {
    margin-left: -120px;
    margin-bottom: -140px;
    margin-top: -60px;
}
.main__bgName {
    position: absolute;
    top: 2450px;
    left: 15px;
}
/*ABOUT PROS END*/

/*MORE BTN*/
.main__more .wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main__moreBtnIcon {
    margin-right: 16px;
    transition: .3s;
}
.main__moreBtn:hover .main__moreBtnIcon {
    filter: brightness(0%);
}
.main__moreText {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8B8D91;
    max-width: 650px;
    margin-top: 24px;
}
/*MORE BTN END*/

/*BUY*/
.main__buy .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 325px;
    /*padding-bottom: 195px;*/
    position: relative;
}
.main__buySmoke {
    position: absolute;
    top: -300px;
    right: -750px;
    opacity: .3;
}
.main__buyImgBlock {
    width: 600px;
    position: relative;
}
.main__buyImgBlockSmoke-behind {
    position: absolute;
    opacity: .3;
    left: -600px;
    top: -130px;
}
.main__buyImgBlockMask {
    position: absolute;
    right: 0;
    top: 100px;
}
.main__buyImgBlockSmoke-front {
    position: absolute;
    top: -40px;
    left: -350px;
    opacity: .2;
}
.main__buyControlBlock {
    width: 390px;
    height: 740px;
    margin-right: 160px;
    position: relative;
    z-index: 1;
}
.main__buyControlBtns {
    width: 100%;
    height: 60px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #14171E;
    border-radius: 6px;
    position: relative;
}
.main__buyControlBtnsBtn {
    width: 120px;
    height: 44px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: transparent;
    position: relative;
    z-index: 1;
}
.main__buyControlBtnsBtn-active {
    color: #14171E;
}
.main__buyControlBtnsBtn:hover {
    background: rgba(1, 226, 255, .2);
    color: #14171E;
}
.main__buyControlActive {
    position: absolute;
    width: 120px;
    height: 44px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    font-weight: 500;
    font-size: 18px;
    background: #01E2FF;
    left: unset;
    right: unset;
    transition: .3s;
}
.main__buyControlActive-pro {
    left: 8px;
}
.main__buyControlActive-basic {
    left: 135px;
}
.main__buyControlActive-lite {
    left: 263px;
}
.main__buyControlName {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0 50px;
}
.main__buyControlNameType {
    font-weight: 700;
    font-size: 48px;
    color: #01E2FF;
    margin-bottom: -8px;
}
.main__buyControlRadioBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 24px;
}
.main__buyControlRadioBtnsText {
    font-weight: 500;
    font-size: 18px;
    color: #8B8D91;
    margin-left: 38px;
}
.main__buyControlInListText {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}
.main__buyControlList {
    display: flex;
    flex-direction: column;
}
.main__buyControlListItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 14px;
}
.main__buyControlListItemIcon {
    width: 22px;
    margin-right: 12px;
}
.main__buyControlListItemText {
    font-size: 18px;
    color: #8B8D91;
    font-weight: 500;
}
.main__buyControlBtn {
    width: 100%;
    margin-top: 30px;
}
/*BUY END*/

/*RADIO BUTTON*/
.form_radio {
    margin-bottom: 10px;
    position: relative;
}
.form_radio input[type=radio] {
    display: none;
}
.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 38px;
    margin-right: 0;
    user-select: none;
    font-weight: 700;
    font-size: 30px;
    transition: .3s;
}
.form_radio label:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    bottom: 6px;
    background: url(../img/icons/radio-unchecked.svg) 0 0 no-repeat;
}
/* Checked */
.form_radio input[type=radio]:checked + label:before {
    background: url(../img/icons/radio-checked.svg) 0 0 no-repeat;
}
.form_radio input[type=radio]:checked + label {
    color: #01E2FF;
}
/*RADIO BUTTON END*/

/*NOTE*/
.main__note .wrapper {
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main__noteText {
    font-size: 10px;
    color: #8B8D91;
    font-weight: 500;
}
/*NOTE END*/

/*FOOTER*/
.footer .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px 15px;
}
.footer__text {
    font-size: 14px;
    color: #8B8D91;
    font-weight: 500;
}
/*FOOTER END*/

/*THX*/
.main__thx {
    background: url(../img/thx/smoke-thx.png) no-repeat;
    background-size: 100% 100%;
}
.main__thx .wrapper {
    padding-bottom: 140px;
}
.main__thxHeadline {
    margin-top: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
    text-align: center;
}
.main__thxText {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    max-width: 565px;
    margin-bottom: 30px;
}
/*THX END*/

/*CONTACTS*/
.main__contacts .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.main__contactsItem {
    margin: 40px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main__contactsItemHeadline {
    font-size: 30px;
    line-height: 29px;
    text-transform: uppercase;
    color: #01E2FF;
    font-weight: 700;
    margin-bottom: 30px;
}
.main__contactsItemHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__contactsItemBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__contactsItemBlock-address {
    max-width: 400px;
}
.main__contactsItemBlock-phone {
    max-width: 180px;
}
.main__contactsItemBlock-mail {
    max-width: 240px;
}
.main__contactsItemBlockHeadline {
    font-size: 14px;
    font-weight: 400;
    color: #8B8D91;
    margin-bottom: 15px;
}
.main__contactsItemBlockText {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.main__contactsItemBtn {
    width: 235px;
    margin-top: 28px;
}
.main__contactsMap {
    width: 100%;
    margin-top: 40px;
    height: 325px;
    border-radius: 6px;
}
.main__contactsSmoke {
    position: absolute;
    z-index: -1;
}
.main__contactsSmoke-right {
    right: 0;
    top: 456px;
}
.main__contactsSmoke-left {
    bottom: 0;
    left: 0;
}
/*CONTACTS END*/

/*INFO*/
.main__info {
    background: url(../img/info/smoke-bg.png) no-repeat;
    background-position: top center;
    background-size: 100% auto;
}
.main__info .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
}
.main__infoForms {
    display: flex;
    flex-direction: column;
    max-width: 720px;
}
.main__infoFormBlock {
    width: 100%;
}
.main__infoFormHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
}
.main__infoFormHeaderChange {
    font-size: 20px;
    line-height: 19px;
    color: #01E2FF;
    text-decoration: none;
    visibility: hidden;
    font-weight: 500;
    transition: .3s;
}
.main__infoFormHeaderChange:hover {
    text-decoration: underline;
}
.main__infoFormHeadlineBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 440px;
    margin-left: -81px;
}
.main__infoFormHeadlineNum {
    width: 54px;
    font-size: 135px;
    color: #01E2FF;
    font-weight: 500;
    text-align: right;
    display: block;
    transition: .3s;
}
.main__infoFormHeadlineBlock-2 {
    margin-left: -110px;
    margin-top: 50px;
}
.main__infoFormHeadlineBlock-2 .main__infoFormHeadlineNum {
    width: 83px;
}
.main__infoFormHeadline {
    font-weight: 500;
    margin-bottom: 19px;
    margin-left: 27px;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    transition: .3s;
}
.main__infoSmallFormBlock {
    display: flex;
    flex-direction: column;
}
.main__infoSmallFormHeadline {
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: -8px;
}
.main__infoSmallForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.main__infoInputBlock {
    margin: 24px 24px 0 0;
    position: relative;
}
.main__infoInput {
    background: #171A21;
    width: 336px;
    height: 56px;
    border: 1.2px solid #8B8D91;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 24px;
    font-weight: 500;
    font-family: "Gotham Pro";
    outline: none;
    transition: .3s;
}
.main__infoInput:focus {
    border: 1.2px solid #01E2FF;
    padding-top: 9px;
}
.main__infoInput:focus {
    padding-top: 9px;
}
.main__infoInputLabel {
    font-weight: 500;
    font-family: "Gotham Pro";
    color: #FFFFFF;
    padding: 20px 0 10px 24px;
    font-size: 14px;
    position: absolute;
    top: 2px;
    left: 0;
    pointer-events: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.main__infoInput:focus ~ .main__infoInputLabel {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    top: -12px;
    left: 0;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}
.main__infoInputLabel-active {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    top: -14px;
    left: 0;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}
.main__infoInput-active {
    padding-top: 9px;
}
.main__infoInputText {
    font-weight: 500;
    display: none;
    font-size: 14px;
    line-height: 26px;
    color: #EF4040;
    transition: .3s;
    margin-top: 1px;
}
.main__infoInputText-succeed {
    color: #01E2FF;
}
.main__infoInputBlockError-required .main__infoInput, .main__infoInputBlockError-bad .main__infoInput {
    background: linear-gradient(0deg, rgba(239, 64, 64, 0.2), rgba(239, 64, 64, 0.2)), #171A21;
    border: 1.2px solid #EF4040;
}
.main__infoInputBlockError-required .main__infoInputText-required {
    display: block;
}
.main__infoInputBlockError-required .selectize-input.full {
    background: linear-gradient(0deg, rgba(239, 64, 64, 0.2), rgba(239, 64, 64, 0.2)), url(../img/icons/list-down.svg) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 303px;
    border: 1.2px solid #EF4040;
}
.main__infoInputBlockError-required .selectize-control.single .selectize-input.input-active {
    background: linear-gradient(0deg, rgba(239, 64, 64, 0.2), rgba(239, 64, 64, 0.2)), url(../img/icons/list.svg) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 303px;
    border: 1.2px solid #EF4040;
}
.main__infoInputBlockError-bad .main__infoInputText-bad {
    display: block;
}
.main__infoInputBlockError-succeed .main__infoInputText-succeed {
    display: block;
}
.main__infoInput-hidden {
    color: transparent;
}
.main__infoInput-postalCode {
    width: 178px;
}
.main__infoInput-house {
    width: 140px;
}
.main__infoInput-street {
    width: 696px;
}
.main__infoInput-apartment {
    width: 172px;
}
.main__infoSelect1 {
    width: 336px;
    height: 56px;
    border: 1.2px solid #8B8D91;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 24px;
    font-weight: 500;
    font-family: "Gotham Pro";
    outline: none;
    transition: .3s;
    background: #171A21 url(../img/icons/list-down.svg) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 303px;
    cursor: pointer;
}
.main__infoSelect option {
    margin: 10px 0;
}
.main__infoPromoBtn {
    width: 178px;
    height: 56px;
    margin-top: 24px;
}
.main__infoNextBtn {
    margin-top: 10px;
}
.main__infoPayBtn {
    margin-bottom: 33px;
}
.main__infoPayItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 32px 0 40px;
}
.main__infoPayItem {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171A21;
    border: 1.2px solid #5A5F6D;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 24px;
    transition: .1s;
}
.main__infoPayItem:hover {
    border: 3px solid #01E2FF;
}
.main__infoPayItem-active {
    border: 3px solid #01E2FF;
}

.main__infoFormBlock-inactive {
    margin-bottom: 30px;
}
.main__infoFormBlock-inactive .main__infoFormHeadlineNum, .main__infoFormBlock-inactive .main__infoFormHeadline {
    color: #FFFFFF;
    opacity: 0.3;
}
.main__infoFormBlock-inactive .main__infoFormHeaderChange {
    visibility: visible;
}
.main__infoSmallFormBlock-inactive {
    display: none;
}

.main__infoTotal {
    position: relative;
    z-index: 1;
    width: 434px;
    height: max-content;
    background: linear-gradient(360deg, #232835 0%, rgba(20, 23, 30, 0) 97.91%);
    border-radius: 6px;
    padding: 40px 37px;
}
.main__infoTotalImgBlock {
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}
.main__infoTotalImg {
    height: 100%;
    position: relative;
    z-index: 1;
}
.main__infoTotalImg-smoke {
    position: absolute;
    top: -140px;
}
.main__infoTotalTextBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
    z-index: 1;
}
.main__infoTotalText {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.main__infoTotalText-bold span {
    font-weight: 700;
    font-size: 20px;
}
.main__infoTotalText-bold img {
    height: 15px;
}
.main__infoTotalTextBlock-sum {
    margin-bottom: 0;
}
.main__infoTotalTextBlock-sum .main__infoTotalText {
    font-weight: 700;
    font-size: 24px;
}
.main__infoTotalTextBlock-sum .main__infoTotalText-bold span {
    font-weight: 700;
    font-size: 24px;
    color: #01E2FF;
}
.main__infoTotalTextBlock-sum .main__infoTotalText-bold img {
    height: 17px;
}
.main__infoTotalFreeDelivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: rgba(196, 196, 196, 0.08);
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 25px;
    transition: .3s;
}
.main__infoTotalFreeDeliveryIcon {
    margin-right: 10px;
    animation: breathe-carx 1s ease-in-out infinite;
}
@keyframes breathe-car {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes breathe-carx {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0px);
    }
}
.main__infoTotalFreeDeliveryText {
    max-width: 123px;
    font-size: 16px;
    line-height: 120%;
    color: #01E2FF;
    font-weight: 500;
    cursor: default;
}
.main__infoTotalFreeDelivery:hover {
    background: rgba(196, 196, 196, .15);
}
.main__infoSmallForm-house {
    display: flex;
    flex-direction: row;
}
.selectize-input > * {
    font-size: 14px;
}
.selectize-dropdown .option {
    font-size: 14px;
}
/*INFO END*/

/*SCROLLBARS*/
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #5A5F6D;
    background-color: #01E2FF;
}
::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
}
::-webkit-scrollbar-track {
    border-width: 0;
}
::-webkit-scrollbar-track:hover {
    background-color: #5A5F6D;
}

:root {
    scrollbar-color: #01E2FF rgb(46, 54, 69) !important;
    scrollbar-width: thin !important;
}
/*SCROLLBARS END*/

/*PRODUCTS*/
.main__products {

}
.main__products .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    position: relative;
    z-index: 1;
}
.main__productsSmoke {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: none;
}
.main__productsHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main__productsHeaderBreadCrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;
}
.main__productsHeaderBreadCrumbsText {
    font-size: 14px;
    color: #6B6D70;
    text-decoration: none;
}
.main__productsHeaderBreadCrumbsText:hover {
    text-decoration: underline;
}
.main__productsHeaderBreadCrumbsText-delimiter {
    margin: 0 7px;
}
.main__productsHeaderBreadCrumbsText-blue {
    color: #01E2FF;
}
.main__productsHeaderBottomBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.main__productsHeaderTitle {
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
}
.main__productsHeaderSort {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}
.main__productsHeaderSort:hover {
    text-decoration: underline;
}
.main__productsHeaderSortIcon {
    margin-left: 10px;
}
.main__productsContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 28px;
}
.main__productsSidebar {
    min-width: 296px;
    width: 296px;
    background: rgba(18, 43, 52, .25);
    border-radius: 6px;
}
.main__productsSidebarLink {
    width: 100%;
    height: 52px;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-left: 39px;
    align-items: center;
    text-decoration: none;
    transition: .3s;
    font-weight: 500;
}
.main__productsSidebarLink:hover {
    background: rgba(1, 226, 255, .3);
    color: #171A21;
}
.main__productsSidebarLink:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.main__productsSidebarLink:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.main__productsSidebarLink-active {
    background: #01E2FF;
    color: #171A21;
}
.main__productsSidebarLink-active:hover {
    background: #01E2FF;
    color: #171A21;
}
.main__productsItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main__productsItem {
    margin: 0 0 23px 23px;
    width: 288px;
    height: 370px;
    background: linear-gradient(180deg, rgba(35, 40, 53, 0) 0%, #232835 100%);
    border-radius: 6px;
    padding: 25px 27px 20px;
    position: relative;
    transition: .3s;
    border-bottom: 5px solid #232835;
}
.main__productsItem:hover {
    border-bottom: 5px solid #01E2FF;
}
.main__productsItemImgBlock {
    width: 100%;
    height: 203px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.main__productsItemImg {
    height: 100%;
    object-fit: contain;
}
.main__productsItemName {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 6px;
    text-decoration: none;
}
.main__productsItemName:hover {
    text-decoration: underline;
}
.main__productsItemDesc {
    font-size: 14px;
    color: #5A5F6D;
}
.main__productsItemPriceBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 22px;
}
.main__productsItemPrice a {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.main__productsItemPrice a:hover {
    text-decoration: underline;
}
.main__productsItemPriceIcon {
    height: 14px;
    margin-left: 7px;
}
.main__productsItemPriceIcon-blue {
    display: none;
}
.main__productsItemPriceIcon-gray {
    height: 11px;
}
.main__productsItemPrice-old {
    font-size: 14px;
    text-decoration-line: line-through;
    color: #5A5F6D;
    margin-left: 18px;
    display: none;
}
.main__productsItemPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__productsItemPriceBlock-sale .main__productsItemPrice a {
    color: #01E2FF;
}
.main__productsItemPriceBlock-sale .main__productsItemPrice .main__productsItemPriceIcon {
    display: none;
}
.main__productsItemPriceBlock-sale .main__productsItemPrice .main__productsItemPriceIcon-blue {
    display: block;
}
.main__productsItemPriceBlock-sale .main__productsItemPrice-old {
    display: block;
}
.main__productItemDiscount {
    display: none;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 35px;
    background: #01E2FF;
    border-radius: 0px 6px 6px 0px;
    font-size: 14px;
    font-weight: 700;
    color: #171A21;
    position: absolute;
    left: 0;
    top: 25px;
}
.main__productItemDiscount-active {
    display: flex;
}
.main__productItemCartBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #14171E;
    border-radius: 50%;
    position: absolute;
    transition: .6s;
    width: 0;
    height: 0;
    right: 0;
    bottom: -5px;
}
.main__productItemCartBlockBlue {
    background: #01E2FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .6s;
    width: 0;
    height: 0;
}
.main__productItemCartIcon {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: .6s;
    height: 0;
}
.main__productsItem:hover .main__productItemCartBlock {
    visibility: visible;
    opacity: 1;
    width: 83px;
    height: 83px;
    bottom: -18px;
    right: -13px;
}
.main__productsItem:hover .main__productItemCartBlockBlue {
    visibility: visible;
    opacity: 1;
    width: 57px;
    height: 57px;
}
.main__productsItem:hover .main__productItemCartIcon {
    opacity: 1;
    height: 22.8px;
}
/*PRODUCTS END*/

/*SIGN IN*/
.main__signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
}
.main__signInBg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}
.main__signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 444px;
    background: #1A222C;
    border-radius: 6px;
    padding: 60px 0;
}
.main__signInForm .main__infoInputBlock {
    margin-right: 0;
    margin-top: 12px;
}
.main__signInForm .main__infoInput {
    width: 322px;
}
.main__signInFormTitle {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 23px;
}
.main__signInForgotPassBlock {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 322px;
}
.main__signInForgotPass {
    font-size: 14px;
    color: #01E2FF;
    font-weight: 500;
    text-decoration: none;
}
.main__signInForgotPass:hover {
    text-decoration: underline;
}
.main__signInBtn {
    margin: 24px 0;
    width: 322px;
    height: 56px;
}
.main__signInText {
    font-weight: 500;
    font-size: 14px;
    color: #C4C4C4;
}
.main__signInText a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.main__signInText a:hover {
    text-decoration: underline;
}
.main__restoreText {
    max-width: 322px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C4C4C4;
    font-weight: 500;
    margin-bottom: 9px;
    margin-top: -15px;
}
.main__restoreBtn {
    margin-bottom: 0;
}
/*SIGN IN END*/

/*MAIN MEDIA*/
@media screen and (max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
        width: 125vw;
    }
    .main__signIn {
        height: 125vh;
    }
}
@media screen and (max-width: 1535px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
        width: 100vw;
    }
    .main__signIn {
        height: 100vh;
    }
}
@media screen and (max-width: 1441px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
        width: 125vw;
    }
    .main__signIn {
        height: 125vh;
    }
}
@media screen and (max-width: 1439px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
        width: 100vw;
    }
    .main__signIn {
        height: 100vh;
    }
}
@media screen and (max-width: 1261px) {
    .wrapper {
        width: 100%;
    }
    .main__remask {
        background-position: center;
        background-size: cover;
    }
    .main__bgName {
        left: -100px;
    }
    .main__remask .wrapper {
        padding-top: 60px;
    }
    .main__levels .wrapper {
        padding-top: 150px;
    }
    .main__buy .wrapper {
        padding-top: 200px;
    }
    .main__buyControlBlock {
        height: 700px;
    }
    .headerBottom__logo {
        margin: 0 60px;
    }
    .main__aboutProsText {
        width: 400px;
    }
    .main__buyControlBlock {
        margin-right: 0px;
    }
    .main__buy .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    .main__buyImgBlock {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }
    .main__buyImgBlockMask {
        width: 100%;
        top: unset;
        position: relative;
    }
    .main__buyImgBlockSmoke-front {
        z-index: 1;
        left: -150px;
    }
    .main__levelsTextBlock {
        margin-left: 0;
    }
}
@media screen and (max-width: 1024px) {
    .main__aboutPros .wrapper {
        flex-direction: column-reverse;
    }
    .main__aboutProsImg {
        margin: 0 -100px 0 0;
        width: 100%;
    }
    .main__aboutProsText {
        max-width: 600px;
        width: auto;
    }
    .main__levels .wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .main__levelsImg {
        margin: 0 -100px 0 0;
        width: 100%;
    }
    .main__pros .wrapper {
        justify-content: center;
    }
    .main__prosItemText {
        width: 130px;
    }
    .main__prosItem {
        height: 190px;
        justify-content: space-between;
        margin: 0 20px;
    }
    .main__prosItemIcon {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .main__prosDelimiter {
        display: none;
    }
    .main__prosItemText {
        font-size: 14px;
    }
    .main__prosItemIcon {
        transform: scale(0.7);
    }
    .main__levels .wrapper {
        padding-top: 110px;
    }
    .main__remaskScroll {
        display: none;
    }
}
@media screen and (max-width: 1020px) {
    .main__pros .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__bgName {
        display: none;
    }
    .main__prosItem {
        min-width: 180px;
        margin: 30px 10px 0;
    }
    .header {
        padding-top: 120px;
    }
    .header .wrapper {
        background: #14171E;
        height: 120px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transition: .3s;
        padding: 0 45px 0 40px;
    }
    .headerTop {
        display: none;
    }
    .headerBottom {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 0;
    }
    .headerBottom__logo {
        margin: 0;
    }
    .headerBottom__cart {
        position: relative;
        bottom: unset;
        right: unset;
        transform: translateY(0);
    }
    .headerBottom .headerBottom__link {
        display: none;
    }
    .headerBottom__logo img {
        height: 65px;
        margin-top: 3px;
    }
    .headerBottom__burgerLink {
        display: flex;
        margin-top: 3px;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    .headerBottom__logoBlock {
        display: flex;
        flex-direction: row;
    }
    .headerBottom__cart {
        transform: scale(1);
    }

    .header__mobileToggleBlock {
        display: block;
        position: fixed;
        top: 0;
        left: -583px;
        z-index: 11;
        width: 543px;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        min-height: -webkit-fill-available;
        background: #14171E;
        box-shadow: 24px 0px 82px rgba(1, 226, 255, 0.11);
        transition: .3s;
    }
    .header__mobileToggleBlock-active {
        left: 0;
    }
    .header__mobileToggleBlockContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: space-between;
    }
    .header__mobileToggleBlockContent .footer__text, .header__mobileToggleBlockContent-lang .footer__text {
        margin-left: 40px;
        margin-bottom: 24px;
    }
    .header__mobileToggleDelimiter {
        display: block;
        width: 100%;
        height: 1px;
        background: #5A5F6D;
    }
    .headerBottom__link {
        margin: 0;
        padding: 30px 0 30px 40px;
        font-weight: 500;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-size: 24px;
        line-height: 23px;
        /*font-size: 12.5px;*/
    }
    .headerBottom__link:hover:after {
        display: none;
    }
    .headerTop__officeLink {
        font-size: 20px;
        margin-left: 15px;
    }
    .headerTop__office {
        margin-left: 40px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .headerTop__officeIcon {
        width: 13.47px;
    }
    .headerTop__officeIcon-filled {
        width: 13.47px;
    }
    .headerTop__lang {
        width: 100%;
    }
    .headerTop__langBtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 40px;
        width: 100%;
        justify-content: space-between;
    }
    .headerTop__langIcon {
        transform: rotate(90deg);
    }
    .headerTop__langText {
        margin: 0;
        font-size: 20px;
    }
    .scrollUp .wrapper {
        top: -120px;
    }
    .header__mobileToggleBlockTop {
        width: 100%;
    }
    .header__mobileToggleBlockContent-close {
        margin: 45px 0 135px 40px;
        cursor: pointer;
    }
    .header__mobileToggleBlockContent-return {
        margin: 45px 0 45px 40px;
        cursor: pointer;
    }
    .header__mobileToggleBlockContent-lang {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        z-index: 12;
        justify-content: space-between;
        transition: .3s;
        background: #14171E;
    }
    .header__mobileToggleBlockContent-lang-active {
        left: 0;
    }
    .headerTop__langItems {
        width: 100%;
        display: flex;
        margin: 0;
        padding-bottom: 0;
        top: unset;
        position: relative;
        border: none;
        border-radius: 0;
        background: transparent;
    }
    .headerTop__langItem {
        height: 58px;
        padding-left: 40px;
        width: 100%;
        font-size: 20px;
    }

    .body-fixed {
        overflow-y: hidden;
    }
}
@media screen and (max-width: 768px) {
    .footer .wrapper {
        flex-direction: column-reverse;
    }
    .footer__text:first-child {
        margin-top: 10px;
    }
    .main__remaskMask {
        width: 100%;
        margin: -50px 0 0 0;
    }
    .main__levelsTextBlockHeadlineNum {
        font-size: 100px;
    }
    .main__levelsTextBlockHeadlineText {
        font-size: 30px;
        margin-top: 0;
        line-height: 30px;
        max-width: 300px;
    }
    .main__levelsTextBlockItems {
        padding-left: 25px;
    }
    .main__levels .wrapper {
        padding-top: 80px;
    }
    .main__pros .wrapper {
        padding: 40px 15px;
    }
    .main__aboutProsHeadline {
        margin-bottom: 20px;
        font-size: 36px;
    }
    .main__more .wrapper {
        padding-top: 80px;
    }
    .main__buyControlBlock {
        height: 670px;
    }
    .main__aboutProsText {
        font-size: 16px;
    }
    .main__buyControlNameType {
        font-size: 34px;
        margin-bottom: -10px;
    }
}
@media screen and (max-width: 767px) {
    .header {
        padding-top: 60px;
    }
    .header .wrapper {
        height: 60px;
        padding: 0 15px;
    }
    .headerBottom__burgerLink {
        height: 21px;
        width: 18px;
        margin-left: 2px;
    }
    .headerBottom__cart {
        transform: scale(.6);

    }
    .headerBottom__logo img {
        height: 35px;
        margin-top: 3px;
    }
    .scrollUp .wrapper {
        top: -60px;
    }
    .header__mobileToggleBlockContent-close {
        height: 21px;
        margin: 17px 0 60px 17px;
    }
    .header__mobileToggleBlockContent-return {
        height: 21px;
        margin: 17px 0 60px 17px;
    }
    .header__mobileToggleBlockContent .footer__text, .header__mobileToggleBlockContent-lang .footer__text {
        margin-left: 17px;
        margin-bottom: 17px;
        font-size: 12px;
        max-width: 170px;
        text-align: left;
    }
    .headerBottom__link {
        font-size: 14px;
        padding: 10px 0 10px 17px;
    }
    .headerTop__office {
        margin-left: 17px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .headerTop__officeLink {
        margin-left: 7px;
        font-size: 14px;
    }
    .headerTop__langBtn {
        padding: 0 17px;
    }
    .headerTop__langText {
        font-size: 14px;
    }
    .header__mobileToggleBlock {
        width: 280px;
    }
    .headerTop__langItem {
        padding-left: 17px;
        height: 38px;
        font-size: 14px;
    }
}
@media screen and (max-width: 556px) {
    .main__remaskBrand {
        width: 290px;
    }
    .main__remaskText {
        font-size: 16px;
        margin-top: 10px;
    }
    .main__levelsTextBlockItem {
        margin-bottom: 30px;
    }
    .main__levelsTextBlockHeadline {
        margin-bottom: 30px;
    }
    .main__aboutProsImg {
        margin: 0 -50px 0 0;
    }
    .main__levelsImg {
        margin: 0 -50px 0 0;
    }
    .main__remaskMask {
        margin: -20px 0 0 0;
    }
    .main__levels .wrapper {
        padding-top: 40px;
    }
}
@media screen and (max-width: 420px) {
    .main__prosItemIcon {
        transform: scale(1);
        margin-bottom: 10px;
    }
    .main__prosItem {
        height: auto;
    }
    .main__pros .wrapper {
        padding: 20px 15px;
    }
    .main__buyControlBlock {
        height: 650px;
        width: 100%;
    }
    .main__more .wrapper {
        padding-top: 25px;
    }

    .main__buyControlBtnsBtn {
        width: 100px;
    }
    .main__buyControlActive {
        width: 100px;
    }
    .main__buyControlActive-lite {
        left: 278px;
    }
    .main__buyControlActive-basic {
        left: 145px;
    }
    .main__aboutProsText {
        font-size: 14px;
    }
    .main__levelsTextBlockItemText {
        font-size: 16px;
    }
    .main__aboutProsHeadline {
        font-size: 26px;
        margin-bottom: 10px;
        line-height: 36px;
    }
    .main__aboutProsTextBlock {
        padding: 0 15px;
    }
    .main__moreText {
        padding: 0 15px;
    }
    .main__buyControlActive {
        display: none;
    }
    .main__buyControlBtnsBtn-active {
        color: #14171E;
        background: #01E2FF;
    }
    .main__buyControlBtnsBtn-active:hover {
        background: #01E2FF;
    }
    .main__buyControlName {
        margin: 30px 0;
    }
    .main__buyControlBlock {
        height: auto;
        padding: 0 15px 35px;
    }
    .main__buyControlBtn {
        margin-top: 20px;
    }
    .main__buyControlRadioBtns {
        flex-direction: column;
    }
    .main__buyControlInListText {
        font-size: 16px;
    }
    .main__buyControlListItemText {
        font-size: 16px;
    }
    .main__buyControlNameImg {
        width: 170px;
    }
    .main__more .btn {
        width: calc(100% - 30px);
    }
    .main__buyControlName {
        justify-content: center;
    }
    .main__buySmoke {
        top: -500px;
    }
    .main__levelsTextBlockItemText {
        max-width: 300px;
    }
}
@media screen and (max-width: 385px) {
    .footer__text {
        text-align: center;
        font-size: 12px;
    }
    .footer__text:first-child {
        margin-bottom: 5px;
    }
    .footer .wrapper {
        padding: 10px 10px;
    }
    .main__buyControlBlock {
        padding: 0 0 35px;
    }
    .main__buy .wrapper {
        padding-top: 60px;
    }
    .main__buyControlBtnsBtn {
        width: 88px;
    }
    .main__buyControlBtn {
        margin-top: 10px;
    }
    .main__buyImgBlock {
        margin-bottom: 50px;
    }
    .main__levelsTextBlockHeadlineNum {
        font-size: 80px;
    }
    .main__levelsTextBlockHeadlineText {
        font-size: 26px;
        line-height: 30px;
        margin-top: 0;
    }
    .main__levelsTextBlockItems {
        padding-left: 18px;
    }
    .main__levelsTextBlockItemIcon {
        margin-right: 20px;
    }
    .main__remaskBrand {
        width: 260px;
    }
}
/*MAIN MEDIA END*/

/*THX MEDIA*/
@media screen and (max-width: 767px) {
    .main__thx .wrapper {
        padding-bottom: 70px;
    }
    .main__thxHeadline {
        font-size: 36px;
        margin-top: 36px;
    }
    .main__thxText {
        font-size: 16px;
        max-width: 500px;
    }
}
@media screen and (max-width: 556px) {
    .main__thxHeadline {
        font-size: 30px;
        margin-bottom: 5px;
        line-height: 36px;
    }
    .main__thxText {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 22px;
    }
    .main__thx .wrapper {
        padding-bottom: 60px;
    }
    .main__thxMask {
        max-width: 356px;
        width: 100%;
    }
}
@media screen and (max-width: 385px) {
    .main__thx .wrapper {
        padding-bottom: 30px;
    }
}
/*THX MEDIA END*/

/*CONTACTS MEDIA*/
@media screen and (max-width: 1130px) {
    .main__contactsItemBlock-address {
        max-width: 280px;
    }
}
@media screen and (max-width: 1020px) {
    .main__contactsItemHeader {
        flex-wrap: wrap;
        width: 100vw;
    }
    .main__contactsItemBtn {
        margin: 15px 15px 0;
    }
    .main__contactsItemBlock {
        margin: 0 15px 15px;
    }
    .main__contactsItem {
        margin-bottom: 10px;
    }
    .main__contactsMap {
        margin-top: 15px;
    }
    .main__contactsItemHeadline {
        margin-bottom: 20px;
    }
    .main__headline {
        margin-top: 50px;
    }
}
@media screen and (max-width: 480px) {
    .main__contactsItemBlock-address {
        max-width: 280px;
    }
    .main__contactsItemHeader {
        display: flex;
        flex-direction: column;

    }
    .main__contactsItemBtn {
        margin-top: 0;
    }
    .main__contactsMap {
        height: 280px;
    }
    .main__headline {
        margin-top: 30px;
    }
    .main__contactsItem {
        margin-top: 25px;
    }
    .main__contactsItemBlockHeadline {
        margin-bottom: 5px;
    }
    .main__contactsItemBlockText {
        font-size: 16px;
    }
    .main__headline {
        font-size: 36px;
    }
    .main__contactsItemHeadline {
        font-size: 24px;
        margin-bottom: 16px;
    }
}
/*CONTACTS MEDIA END*/

/*INFO*/
@media screen and (max-width: 1500px) {
    .main__infoFormHeadlineBlock {
        margin-left: 0;
        margin-top: 30px;
    }
    .main__infoFormHeadlineBlock-2 {
        margin-left: 0;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1180px) {
    .main__info .wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .main__infoFormBlock {
        width: 336px;
    }
    .main__infoSmallFormBlock {
        width: 336px;
        margin: 0 auto;
    }
    .main__infoSmallForm {
        flex-direction: column;
        width: 336px;
    }
    .main__infoInput-postalCode {
        width: 100%;
    }
    .main__infoInput-street {
        width: 100%;
    }
    .main__infoInputBlock {
        margin-right: 0;
        width: 100%;
    }
    .main__infoForms {
        max-width: 100%;
    }
    .main__infoSmallForm-house {
        width: 100%;
        justify-content: space-between;
    }
    .main__infoSmallForm-house .main__infoInputBlock {
        width: auto;
    }
    .main__infoSmallForm-house .main__infoInput-house {
        width: 140px;
    }
    .main__infoSmallForm-house .main__infoInput-apartment {
        width: 172px;
    }
    .main__infoPayItems {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 336px;
        margin-bottom: 10px;
    }
    .main__infoPayItem {
        margin-bottom: 24px;
        margin-right: 10px;
    }
    .main__infoFormHeader {
        flex-direction: column;
        align-items: flex-start;
    }
    .main__infoFormHeadlineNum {
        font-size: 100px;
    }
    .main__infoFormHeadline {
        font-size: 26px;
        line-height: 30px;
    }
    .main__infoForms {
        align-items: center;
    }
    .main__infoFormHeadlineBlock-2 {

    }
}
@media screen and (max-width: 480px) {
    .main__infoTotal {
        width: 100%;
    }
    .main__infoFormBlock {
        width: 100%;
    }
    .main__infoSmallFormBlock {
        width: 100%;
    }
    .main__infoInputBlock {
        width: 100%;
    }
    .main__infoSmallForm {
        width: 100%;
    }
    .main__infoInput {
        width: 100%;
    }
    .selectize-input {
        width: 100%;
        background-position-x: 350px;
        font-size: 14px;
    }
    .selectize-input {
        width: 100%;
        background-position-x: 350px;
        font-size: 14px;
        padding-left: 16px;
    }
    .selectize-input.full {
        background-position-x: 350px;
        font-size: 14px;
        padding-left: 16px;
    }
    .selectize-dropdown .option {
        padding-left: 16px;
    }
    .main__infoSmallForm-house .main__infoInput-house {
        width: calc(100% - 24px);
    }
    .main__infoSmallForm-house .main__infoInput-apartment {
        width: 100%;
    }
    .main__info .wrapper {
        padding-top: 20px;
    }
    .main__infoFormHeadlineBlock {
        max-width: 290px;
    }
    .main__infoFormHeadline {
        margin-left: 20px;
    }
    .main__infoTotal {
        padding: 20px 20px;
    }
    .main__infoSmallForm {
        margin-bottom: 20px;
    }
    .main__infoTotalImg {
        max-width: 100%;
        width: 100%;
        object-fit: contain;
        height: auto;
    }
    .main__infoTotalImgBlock {
        height: auto;
    }
    .main__infoInputBlock {
        margin-top: 16px;
    }
    .main__infoPayItem {
        margin-bottom: 16px;
        margin-right: 16px;
    }
    .main__infoSmallForm-house .main__infoInput-house {
        width: calc(100% - 16px);
    }
    .main__infoInput {
        padding-left: 16px;
    }
    .main__infoInputLabel {
        left: -8px;
    }
    .main__infoInput:focus ~ .main__infoInputLabel {
        left: -8px;
    }
}
@media screen and (max-width: 420px) {
    .selectize-input {
        background-position-x: 320px;
    }
    .selectize-input.full {
        background-position-x: 320px;
    }
    .main__infoTotalText {
        font-size: 16px;
    }
    .main__infoTotalText-bold {
        font-size: 18px;
    }
    .main__infoTotalTextBlock-sum .main__infoTotalText {
        font-size: 22px;
    }
    .main__infoTotalTextBlock-sum .main__infoTotalText {
        font-size: 22px;
    }
    .main__infoTotalTextBlock {
        margin-bottom: 7px;
    }
    .main__infoTotalFreeDelivery {
        margin-bottom: 20px;
    }
    .main__infoTotal {
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 390px) {
    .selectize-input {
        background-position-x: 290px;
    }
    .selectize-input.full {
        background-position-x: 290px;
    }
}
@media screen and (max-width: 360px) {
    .selectize-input {
        background-position-x: 250px;
    }
    .selectize-input.full {
        background-position-x: 250px;
    }
    .main__infoPayItems {
        width: 208px;
    }
    .main__infoPayItem {
        margin-right: 0;
    }
}
/*INFO END*/

/*SIGN IN*/
@media screen and (max-width: 767px) {
    .main__signIn .main__infoInputBlock {
        width: 322px;
    }
}
@media screen and (max-width: 780px) {
    .main__signIn .main__infoInputBlock {
        width: 322px;
    }
    .main__signIn {
        min-height: 100vh;
    }
    .main__signInForm {
        width: 100%;
        margin: 15px;
        padding: 40px 0;
    }
}
@media screen and (max-width: 380px) {
    .main__signInBtn {
        margin: 12px 0;
        width: 100%;
    }
    .main__signInForm {
        padding: 20px 15px;
    }
    .main__signInFormTitle {
        margin-bottom: 5px;
        font-size: 18px;
    }
    .main__signInForm .main__infoInputBlock {
        width: 100%;
    }
    .main__signInForm .main__infoInput {
        width: 100%;
    }
    .main__signInForgotPassBlock {
        width: 100%;
    }
    .main__infoInputText {
        font-size: 12px;
        line-height: 16px;
        margin-top: 7px;
    }
    .main__restoreText {
        max-width: 322px;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px;
        margin-top: 5px;
    }
    .main__restoreBtn {
        margin-bottom: 0;
    }
}
/*SIGN IN END*/