@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
    url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium'), local('Gotham-Pro-Medium'),
    url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
    url('../fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

html, body {
    overflow-x: hidden;
}
body {
    background: #14171E;
    font-size: 16px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    width: 1261px;
    padding: 0 15px;
    margin: 0 auto;
}

/*LINK ANIMATION*/
.link-animation {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.link-animation:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #01E2FF;
    border-radius: 3px;
    transform: scale(0, 1);
    transition: .3s;
}
.link-animation:hover:after {
    transform: scale(1, 1);
}
/*LINK ANIMATION END*/

/*BUTTON*/
.btn {
    width: 290px;
    height: 64px;
    background: #122B34;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
    line-height: 15px;
    font-weight: 500;
    color: #01E2FF;
    transition: .3s;
    text-transform: uppercase;
}
.btn:hover {
    background: #01E2FF;
    color: #05080C;
}
.btn-light {
    background: #01E2FF;
    color: #05080C;
}
.btn-light:hover {
    background: #007888;
}
/*BUTTON END*/

/*HEADER*/
.header {

}
.headerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 18.46px 0;
    margin-bottom: 10px;
}
.headerBottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.headerBottom__link {
    margin: 0 45px;
    text-transform: uppercase;
    font-weight: 700;
}
.headerBottom__logo {
    margin: 0 100px;
}
.headerBottom__cart {
    position: absolute;
    right: 5px;
    bottom: 50%;
    transform: translateY(44%);
}
.headerBottom__cartNum {
    position: absolute;
    bottom: -6px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #171A21;
    font-weight: 700;
    background: #01E2FF;
    border-radius: 50%;
    font-size: 12px;
}
.headerBottom__cartNum-disabled {
    display: none;
}
.headerTop__lang {
    position: relative;
    width: 150px;
    margin-right: 7px;
}
.headerTop__langBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.headerTop__langText {
    margin-right: 6px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 25px;
}
.headerTop__langIcon {
    transform: rotate(-180deg);
    transition: .3s;
}
.headerTop__langIcon-rotated {
    transform: rotate(0);
}
.headerTop__langItems {
    position: absolute;
    left: 0;
    top: 27px;
    display: none;
    flex-direction: column;
    width: 150px;
    background: #171A21;
    border: 1.2px solid #5A5F6D;
    box-sizing: border-box;
    border-radius: 6px;
    padding-bottom: 7px;
    z-index: 1;
}
.headerTop__langItem {
    width: 100%;
    height: 38px;
    padding-left: 25px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .2s;
}
.headerTop__langItem:hover {
    background: #01E2FF;
    color: #171A21;
}
.headerTop__office {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.headerTop__officeIcon-filled {
    position: absolute;
    left: 1px;
    opacity: 0;
    transition: .3s;
}
.headerTop__officeLink {
    margin-left: 7px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.headerTop__office:hover .headerTop__officeIcon-filled {
    opacity: 1;
}
.headerTop__office .headerTop__officeLink:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #01E2FF;
    border-radius: 3px;
    transform: scale(0, 1);
    transition: .3s;
}
.headerTop__office:hover .headerTop__officeLink:after {
    transform: scale(1, 1);
}
.headerBottom__burgerLink {
    display: none;
}
/*HEADER END*/

/*BURGER*/
input {
    display: none;
    outline: none;
}
.burger {
    width: 40px;
    height: 42px;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 0px;
    display: none;
    z-index: 11;
}
.burger label {
    width: 50px;
    height: 42px;
    display: block;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    cursor: pointer;
}
.bar {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    border-radius: 10px;
    background: #fff;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    pointer-events: none;
}
.bar-1 {
    top: 4px;
}
.bar-2 {
    top: 18px;
}
.bar-3 {
    top: 32px;
}
.txt {
    display: none;
}
.burger-1 input:checked ~ label .bar-1 {
    top: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.burger-1 input:checked ~ label .bar-2 {
    left: -100%;
}
.burger-1 input:checked ~ label .bar-3 {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.header__mobileToggleBlock {
    display: none;
}
/*BURGER END*/

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
}
/*MAIN END*/

/*REMASK*/
.main__remask {
    background: url(../img/main/smoke.png) no-repeat;
    background-size: 100% 100%;
}
.main__remask .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 126px;
}
.main__remaskText {
    font-size: 24px;
    opacity: 0.6;
    margin-top: 27px;
}
.main__remaskMask {
    margin-top: -119px;
    margin-right: -210px;
}
.main__remaskScroll {
    margin-top: 0px;
    cursor: pointer;
    animation: breathe 1s ease-in-out infinite;
}
@keyframes breathe {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*REMASK END*/

/*LEVELS*/
.main__levels .wrapper {
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.main__levelsTextBlock {
    display: flex;
    flex-direction: column;
    margin-left: -105px;
}
.main__levelsTextBlockHeadline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 41px;
}
.main__levelsTextBlockHeadlineNum {
    color: #01E2FF;
    font-size: 135px;
    font-weight: 500;
}
.main__levelsTextBlockHeadlineText {
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 36px;
    margin-left: 20px;
}
.main__levelsTextBlockItems {
    padding-left: 50px;
}
.main__levelsTextBlockItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 60px;
}
.main__levelsTextBlockItem:last-child {
    margin-bottom: 0;
}
.main__levelsTextBlockItemIcon {
    margin-right: 24px;
}
.main__levelsTextBlockItemText {
    max-width: 500px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.main__levelsTextBlockItemText span {
    font-weight: 700;
}
.main__levelsImg {
    margin-top: -97px;
    margin-right: -350px;
}
/*LEVELS END*/

/*PROS*/
.main__pros .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 60px;
}
.main__prosItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 175px;
    max-width: 207px;
}
.main__prosItemIcon {
    margin-bottom: 38px;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(0, 0, 1, 1);
}
.main__prosItem:hover .main__prosItemIcon {
    transform: translateY(10px);
}
.main__prosItemText {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.main__prosItemText span {
    font-weight: 700;
}
.main__prosDelimiter {
    height: 47px;
    display: block;
    background: #FFFFFF;
    opacity: 0.1;
    width: 1px;
}
/*PROS END*/

/*ABOUT PROS*/
.main__aboutPros .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main__aboutProsTextBlock {
    display: flex;
    flex-direction: column;
}
.main__aboutProsHeadline {
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    color: #01E2FF;
    margin-bottom: 38px;
}
.main__aboutProsText {
    width: 660px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.main__aboutProsImg {
    margin-left: -120px;
    margin-bottom: -140px;
    margin-top: -60px;
}
.main__bgName {
    position: absolute;
    top: 2450px;
    left: 15px;
}
/*ABOUT PROS END*/

/*MORE BTN*/
.main__more .wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main__moreBtnIcon {
    margin-right: 16px;
    transition: .3s;
}
.main__moreBtn:hover .main__moreBtnIcon {
    filter: brightness(0%);
}
.main__moreText {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8B8D91;
    max-width: 650px;
    margin-top: 24px;
}
/*MORE BTN END*/

/*BUY*/
.main__buy .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 325px;
    /*padding-bottom: 195px;*/
    position: relative;
}
.main__buySmoke {
    position: absolute;
    top: -300px;
    right: -750px;
    opacity: .3;
}
.main__buyImgBlock {
    width: 600px;
    position: relative;
}
.main__buyImgBlockSmoke-behind {
    position: absolute;
    opacity: .3;
    left: -600px;
    top: -130px;
}
.main__buyImgBlockMask {
    position: absolute;
    right: 0;
    top: 100px;
}
.main__buyImgBlockSmoke-front {
    position: absolute;
    top: -40px;
    left: -350px;
    opacity: .2;
}
.main__buyControlBlock {
    width: 390px;
    height: 740px;
    margin-right: 160px;
    position: relative;
    z-index: 1;
}
.main__buyControlBtns {
    width: 100%;
    height: 60px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #14171E;
    border-radius: 6px;
    position: relative;
}
.main__buyControlBtnsBtn {
    width: 120px;
    height: 44px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: transparent;
    position: relative;
    z-index: 1;
}
.main__buyControlBtnsBtn-active {
    color: #14171E;
}
.main__buyControlBtnsBtn:hover {
    background: rgba(1, 226, 255, .2);
    color: #14171E;
}
.main__buyControlActive {
    position: absolute;
    width: 120px;
    height: 44px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    font-weight: 500;
    font-size: 18px;
    background: #01E2FF;
    left: unset;
    right: unset;
    transition: .3s;
}
.main__buyControlActive-pro {
    left: 8px;
}
.main__buyControlActive-basic {
    left: 135px;
}
.main__buyControlActive-lite {
    left: 263px;
}
.main__buyControlName {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0 50px;
}
.main__buyControlNameType {
    font-weight: 700;
    font-size: 48px;
    color: #01E2FF;
    margin-bottom: -8px;
}
.main__buyControlRadioBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 24px;
}
.main__buyControlRadioBtnsText {
    font-weight: 500;
    font-size: 18px;
    color: #8B8D91;
    margin-left: 38px;
}
.main__buyControlInListText {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}
.main__buyControlList {
    display: flex;
    flex-direction: column;
}
.main__buyControlListItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 14px;
}
.main__buyControlListItemIcon {
    width: 22px;
    margin-right: 12px;
}
.main__buyControlListItemText {
    font-size: 18px;
    color: #8B8D91;
    font-weight: 500;
}
.main__buyControlBtn {
    width: 100%;
    margin-top: 30px;
}
/*BUY END*/

/*RADIO BUTTON*/
.form_radio {
    margin-bottom: 10px;
    position: relative;
}
.form_radio input[type=radio] {
    display: none;
}
.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 38px;
    margin-right: 0;
    user-select: none;
    font-weight: 700;
    font-size: 30px;
    transition: .3s;
}
.form_radio label:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    bottom: 6px;
    background: url(../img/icons/radio-unchecked.svg) 0 0 no-repeat;
}
/* Checked */
.form_radio input[type=radio]:checked + label:before {
    background: url(../img/icons/radio-checked.svg) 0 0 no-repeat;
}
.form_radio input[type=radio]:checked + label {
    color: #01E2FF;
}
/*RADIO BUTTON END*/

/*NOTE*/
.main__note .wrapper {
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main__noteText {
    font-size: 10px;
    color: #8B8D91;
    font-weight: 500;
}
/*NOTE END*/

/*FOOTER*/
.footer .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px 15px;
}
.footer__text {
    font-size: 14px;
    color: #8B8D91;
    font-weight: 500;
}
/*FOOTER END*/

@media screen and (max-width: 1261px) {
    .wrapper {
        width: 100%;
    }
    .main__bgName {
        left: -100px;
    }
    .main__remask .wrapper {
        padding-top: 60px;
    }
    .main__levels .wrapper {
        padding-top: 150px;
    }
    .main__buy .wrapper {
        padding-top: 200px;
    }
    .main__buyControlBlock {
        height: 700px;
    }
    .headerBottom__logo {
        margin: 0 60px;
    }
    .main__aboutProsText {
        width: 400px;
    }
    .main__buyControlBlock {
        margin-right: 0px;
    }
    .main__buy .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    .main__buyImgBlock {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }
    .main__buyImgBlockMask {
        width: 100%;
        top: unset;
        position: relative;
    }
    .main__buyImgBlockSmoke-front {
        z-index: 1;
        left: -150px;
    }
    .main__levelsTextBlock {
        margin-left: 0;
    }
}
@media screen and (max-width: 1024px) {
    .main__aboutPros .wrapper {
        flex-direction: column-reverse;
    }
    .main__aboutProsImg {
        margin: 0 -100px 0 0;
        width: 100%;
    }
    .main__aboutProsText {
        max-width: 600px;
        width: auto;
    }
    .main__levels .wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .main__levelsImg {
        margin: 0 -100px 0 0;
        width: 100%;
    }
    .main__pros .wrapper {
        justify-content: center;
    }
    .main__prosItemText {
        width: 130px;
    }
    .main__prosItem {
        height: 190px;
        justify-content: space-between;
        margin: 0 20px;
    }
    .main__prosItemIcon {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .main__prosDelimiter {
        display: none;
    }
    .main__prosItemText {
        font-size: 14px;
    }
    .main__prosItemIcon {
        transform: scale(0.7);
    }
    .main__levels .wrapper {
        padding-top: 110px;
    }
    .main__remaskScroll {
        display: none;
    }
}
@media screen and (max-width: 1020px) {
    .main__pros .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__bgName {
        display: none;
    }
    .main__prosItem {
        min-width: 180px;
        margin: 30px 10px 0;
    }
    .header {
        padding-top: 60px;
    }
    .header .wrapper {
        background: #1f3741;
        height: 60px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transition: .3s;
    }
    .headerTop {
        display: none;
    }
    .headerBottom {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .headerBottom__logo {
        margin: 0;
    }
    .headerBottom__cart {
        position: relative;
        bottom: unset;
        right: unset;
        transform: translateY(0);
    }
    .headerBottom .headerBottom__link {
        display: none;
    }
    .headerBottom__logo img {
        height: 35px;
        margin-top: 3px;
    }
    .headerBottom__burgerLink {
        display: flex;
        margin-top: 3px;
    }
    .headerBottom__logoBlock {
        display: flex;
        flex-direction: row;
    }
    .burger {
        margin-left: -2px;
        transform: scale(.45);
    }
    .headerBottom__cart {
        transform: scale(.6);
    }

    .header__mobileToggleBlock {
        position: fixed;
        top: 59px;
        z-index: 9;
        background: #1f3741;
        width: 100%;
        height: calc(100vh - 59px);
        max-height: calc(100vh - 59px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .header__mobileToggleBlockContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 0;
        min-height: 560px;
        height: 560px;
    }
    .headerTop__langBtn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
    }
    .headerTop__langText {
        margin-left: 9px;
        margin-right: 0;
        font-size: 12px;
    }
    .header__mobileToggleDelimiter {
        display: block;
        width: 100%;
        height: 1px;
        background: #5A5F6D;
    }
    .headerBottom__link {
        margin: 0;
        padding-left: 20px;
        font-weight: 500;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-size: 12.5px;
    }
    .headerBottom__link:hover:after {
        display: none;
    }
    .headerTop__officeLink {
        font-size: 12px;
    }
    .headerTop__office {
        margin-left: 20px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .headerTop__langBtn {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-left: 22px;
    }
    .headerTop__langItems {
        margin-left: 15px;
        top: 17px;
        padding-bottom: 0;
    }
    .headerTop__langItem {
        font-size: 12px;
        padding-left: 10px;
        height: 30px;
    }
    .scrollUp .wrapper {
        top: -60px;
    }
    .body-fixed {
        /*overflow: hidden;*/
    }
}
@media screen and (max-width: 768px) {
    .footer .wrapper {
        flex-direction: column-reverse;
    }
    .footer__text:first-child {
        margin-top: 10px;
    }
    .main__remaskMask {
        width: 100%;
        margin: -50px 0 0 0;
    }
    .main__levelsTextBlockHeadlineNum {
        font-size: 100px;
    }
    .main__levelsTextBlockHeadlineText {
        font-size: 30px;
        margin-top: 0;
        line-height: 30px;
        max-width: 300px;
    }
    .main__levelsTextBlockItems {
        padding-left: 25px;
    }
    .main__levels .wrapper {
        padding-top: 80px;
    }
    .main__pros .wrapper {
        padding: 40px 15px;
    }
    .main__aboutProsHeadline {
        margin-bottom: 20px;
        font-size: 36px;
    }
    .main__more .wrapper {
        padding-top: 80px;
    }
    .main__buyControlBlock {
        height: 670px;
    }
    .main__aboutProsText {
        font-size: 16px;
    }
    .main__buyControlNameType {
        font-size: 34px;
        margin-bottom: -10px;
    }
}
@media screen and (max-width: 556px) {
    .main__remaskBrand {
        width: 290px;
    }
    .main__remaskText {
        font-size: 16px;
        margin-top: 10px;
    }
    .main__levelsTextBlockItem {
        margin-bottom: 30px;
    }
    .main__levelsTextBlockHeadline {
        margin-bottom: 30px;
    }
    .main__aboutProsImg {
        margin: 0 -50px 0 0;
    }
    .main__levelsImg {
        margin: 0 -50px 0 0;
    }
    .main__remaskMask {
        margin: -20px 0 0 0;
    }
    .main__levels .wrapper {
        padding-top: 40px;
    }
}
@media screen and (max-width: 420px) {
    .main__prosItemIcon {
        transform: scale(1);
        margin-bottom: 10px;
    }
    .main__prosItem {
        height: auto;
    }
    .main__pros .wrapper {
        padding: 20px 15px;
    }
    .main__buyControlBlock {
        height: 650px;
        width: 100%;
    }
    .main__more .wrapper {
        padding-top: 25px;
    }

    .main__buyControlBtnsBtn {
        width: 100px;
    }
    .main__buyControlActive {
        width: 100px;
    }
    .main__buyControlActive-lite {
        left: 278px;
    }
    .main__buyControlActive-basic {
        left: 145px;
    }
    .main__aboutProsText {
        font-size: 14px;
    }
    .main__levelsTextBlockItemText {
        font-size: 16px;
    }
    .main__aboutProsHeadline {
        font-size: 26px;
        margin-bottom: 10px;
        line-height: 36px;
    }
    .main__aboutProsTextBlock {
        padding: 0 15px;
    }
    .main__moreText {
        padding: 0 15px;
    }
    .main__buyControlActive {
        display: none;
    }
    .main__buyControlBtnsBtn-active {
        color: #14171E;
        background: #01E2FF;
    }
    .main__buyControlBtnsBtn-active:hover {
        background: #01E2FF;
    }
    .main__buyControlName {
        margin: 30px 0;
    }
    .main__buyControlBlock {
        height: auto;
        padding: 0 15px 35px;
    }
    .main__buyControlBtn {
        margin-top: 20px;
    }
    .main__buyControlRadioBtns {
        flex-direction: column;
    }
    .main__buyControlInListText {
        font-size: 16px;
    }
    .main__buyControlListItemText {
        font-size: 16px;
    }
    .main__buyControlNameImg {
        width: 170px;
    }
    .main__more .btn {
        width: calc(100% - 30px);
    }
    .main__buyControlName {
        justify-content: center;
    }
    .main__buySmoke {
        top: -500px;
    }
    .main__levelsTextBlockItemText {
        max-width: 300px;
    }
}
@media screen and (max-width: 385px) {
    .footer__text {
        text-align: center;
        font-size: 12px;
    }
    .footer__text:first-child {
        margin-bottom: 5px;
    }
    .footer .wrapper {
        padding: 10px 10px;
    }
    .main__buyControlBlock {
        padding: 0 0 35px;
    }
    .main__buy .wrapper {
        padding-top: 60px;
    }
    .main__buyControlBtnsBtn {
        width: 88px;
    }
    .main__buyControlBtn {
        margin-top: 10px;
    }
    .main__buyImgBlock {
        margin-bottom: 50px;
    }
    .main__levelsTextBlockHeadlineNum {
        font-size: 80px;
    }
    .main__levelsTextBlockHeadlineText {
        font-size: 26px;
        line-height: 30px;
        margin-top: 0;
    }
    .main__levelsTextBlockItems {
        padding-left: 18px;
    }
    .main__levelsTextBlockItemIcon {
        margin-right: 20px;
    }
    .main__remaskBrand {
        width: 260px;
    }
}