@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost, 'Jost', sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: #FFFFFF;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    background: #F5F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;
}

/*BURGER MENU*/
.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
h1 {
    text-align: center;
}
.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
.bar1 {
    top: 0;
}
.bar2,
.bar3 {
    top: 13px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}
.checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}
.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

.header__closeableMask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header__closeableMask-active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*BURGER MENU END*/

/*BUTTON*/
.btn {
    width: 100%;
    height: 55px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    background: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 2px;
    border: none;
}
.btn:hover {
    box-shadow: none;
}
.btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(94.36deg, #FF9A02 0%, #FF3F02 100%);
    transition: .3s;
    z-index: 0;
    border-radius: 2px;
}
.btn:after {
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(94.36deg, #d58500 0%, #db3f01 100%);
    transition: .3s;
    z-index: 0;
    border-radius: 2px;
}
.btn:hover:after {
    opacity: 1;
    visibility: visible;
}
.btn__text {
    position: relative;
    z-index: 1;
}
.btn-form {
    margin-top: 21px;
}
/*BUTTON END*/

/*NAME AND INPUT*/
.main__nameAndInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.main__nameAndInput:last-child {
    margin-bottom: 0;
}
.main__nameAndInputHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 4px 0 20px;
    position: relative;
}
.main__nameAndInputHeaderName {
    transition: .3s;
    z-index: 2;
    margin-bottom: 5px;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;

    color: #303236;
}
.main__nameAndInputHeaderImg {
    max-height: 20px;
    height: 20px;
    margin-bottom: 11px;
}
.main__nameAndInputHeaderImg-bch {
    margin-top: 10px;
    height: 10px;
}
.main__nameAndInputFooter {
    max-width: 330px;
    height: 55px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.main__nameAndInputFooterInput {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 20px;

    background: rgba(221, 225, 232, 0.26);

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #303236;

    background: #FFFFFF;
    border: 1px solid #898989;
    box-sizing: border-box;
    border-radius: 2px;
    transition: .3s;
}
.main__nameAndInputFooterInput:focus {
    border: 1px solid #aaa9a9;
}
.main__nameAndInputFooterAlert {
    opacity: 0;
    transition: .3s;
    position: absolute;
    right: 20px;
}
.main__nameAndInputHeaderAlert {
    display: flex;
    right: 0;
    top: 3px;
    opacity: 0;
    transition: .3s;
    margin-bottom: 1px;
}
.main__nameAndInputHeaderAlertText {
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #FF0000;
}
.main__nameAndInputFooterInput::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #282B31;
}
.main__nameAndInput-error .main__nameAndInputFooterInput {
    border: 1px solid #FF0000;
}
.main__nameAndInput-error .main__nameAndInputFooterAlert {
    opacity: 1;
}
.main__nameAndInput-error .main__nameAndInputHeaderAlert {
    opacity: 1;
}

.main__nameAndInputFooterInput-textarea {
    padding: 15px 24px 10px 24px;
    min-height: 256px;
    resize: none;
    font-weight: normal;
    font-size: 18px;
}
.main__nameAndInput-textarea .main__nameAndInputFooter {
    height: 100%;
    padding: 1px 0;
}

.main__nameAndInputFooter-captcha .main__nameAndInputFooterInput {
    padding-left: 116px;
}
.main__nameAndInputFooterNumber {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    text-align: center;
    border-right: 1px solid #898989;
    max-width: 96px;

    padding: 0 20px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #303236;
}

.main__nameAndInput-inviter .main__nameAndInputFooterInput {
    color: #FFFFFF;
    background: #0B42D5;
}
/*NAME AND INPUT END*/

/*INPUT*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
/*INPUT END*/

/*CHECKBOX*/
.main__checkboxBlock {
    position: relative;
    width: 100%;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 10px;
    cursor: pointer;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #1B253C;
}
.custom-checkbox + label a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #1B253C;
    text-decoration: underline;
    margin-left: 5px;
}
.custom-checkbox + label a:hover {
    text-decoration: none;
}
.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
    background-size: 50% 50%;
    margin-bottom: 2px;

    background: #FFFFFF;
    border: 1px solid #898989;
    box-sizing: border-box;
    border-radius: 3px;
}
.custom-checkbox:checked + label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #0B42D5;
    border-radius: 3px;
    position: absolute;
    left: 3px;
    bottom: 9px;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    background-color: #FFFFFF;
}
/*CHECKBOX END*/

/*HEADER*/
.header {
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logoLink-mobile {
    display: none;
}
.header__logo {
    max-height: 39px;
}
.header__mobileWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    background: #0B42D5;
}
.header__top .wrapper {
    width: 100%;
}
.header__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
}
.header__bottom .wrapper {
    width: 100%;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__nav-mobile {
    display: none;
}
.header__navBtn-mobile {
    display: none;
}
.header__navItem {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #0B42D5;
    transition: .3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    opacity: .5;
}
.header__navItemIcon {
    margin-right: 5px;
}
.header__navItem:hover,
.header__navItem-active {
    opacity: 1;
}

.header__navLangBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    width: 138px;
    align-items: flex-end;
}
.header__navLangHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.header__navLangText {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.header__navLangIcon {
    margin-left: 5px;
    margin-top: 5px;
}
.header__navLangItems {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 23px;
    right: 8px;

    padding: 7px 7px 3px 7px;

    transition: .3s;
    opacity: 0;
    visibility: hidden;

    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background: #0B42D5;
    border-radius: 4px;
}
.header__navLangItems:hover {
    visibility: visible;
    opacity: 1;
}
.header__navLangItem {
    margin-bottom: 1px;
    font-size: 14px;
}
.header__navLangItem.link-animation:after {
    bottom: 0;
}
.header__navLangHeader:hover ~ .header__navLangItems {
    visibility: visible;
    opacity: 1;
}

.header__account {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__accountName {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__accountName span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
}
.header__accountNameIcon {
    margin-right: 10px;
    margin-bottom: 3px;
}
.header__accountBalance {
    margin: 0 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #0B42D5;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 5px 5px 3px 5px;
}
.header__accountBalance span {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #0B42D5;
    margin-left: 6px;
}
.header__accountTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
}
.header__accountTime span {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
}
.header__accountTimeIcon {
    margin: 0 7px 5px 9px;
}
/*HEADER END*/

/*BREADCRUMBS*/
.main-breadcrumbs {
    margin: 30px 0;
    width: 100%;
}
.main-breadcrumbs .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main-breadcrumbs__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #0B42D5;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
    opacity: .5;
}
.main-breadcrumbs__link:hover {
    text-decoration: underline;
}
.main-breadcrumbs__link:before {
    content: '/';
    margin-right: 5px;
}
.main-breadcrumbs__link:first-child {
    margin-left: 0;
}
.main-breadcrumbs__link:first-child:before {
    content: '';
    margin-right: 0;
}
.main-breadcrumbs__link-active {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    opacity: 1;
}
.main-breadcrumbs__link-active:hover {
    text-decoration: none;
}
/*BREADCRUMBS END*/

/*MAIN*/
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
/*MAIN END*/

/*DASHBOARD*/
.main-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-dashboard .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-dashboard__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.main-dashboard__button {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: .3s;
    margin-bottom: 20px;
}
.main-dashboard__button:hover,
.main-dashboard__button-active {
    background: #0B42D5;
}

.main-dashboard__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin: 0 0 -30px -15px;
    justify-content: center;
}
.main-dashboard__item {
    max-width: 440px;
    width: 100%;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
    margin: 0 15px 30px;
}
.main-dashboard__item:after {
    content: url(../img/shadow.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.main-dashboard__itemHeader {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(94.36deg, #FF9A02 0%, #FF3F02 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.main-dashboard__itemHeaderText {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}
.main-dashboard__itemContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}
.main-dashboard__itemContentText {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: #1B253C;
    position: relative;
    z-index: 1;
}
.main-dashboard__itemContentText span {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #1B253C;
}
.main-dashboard__item-filled {
    background: linear-gradient(94.36deg, #FF9A02 0%, #FF3F02 100%);
}
.main-dashboard__item-filled:after {
    content: url(../img/shadow-white.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.main-dashboard__item-filled .main-dashboard__itemHeader {
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #FFFFFF;
}
.main-dashboard__item-filled .main-dashboard__itemContentText,
.main-dashboard__item-filled .main-dashboard__itemContentText span {
    color: #FFFFFF;
}
/*DASHBOARD END*/

/*CONFIRM*/
.main-confirm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-confirm .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-confirm__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 760px;
    width: 100%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 50px;
    background: #FFFFFF url(../img/shadow-confirm.png) no-repeat;
    background-size: cover;
}
.main-confirm__title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    color: #191234;
    margin-bottom: 30px;
}
.main-confirm__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-confirm__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid rgba(25, 18, 52, 0.1);
}
.main-confirm__item:last-child {
    height: auto;
    border-bottom: unset;
    padding-top: 28px;
}
.main-confirm__itemIcon {
    height: 46px;
}
.main-confirm__itemText {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #191234;
}
.main-confirm__itemText-bold {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #191234;
}
.main-confirm__itemTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #28D24E;
    border-radius: 2px;
    padding: 5px;
}
.main-confirm__itemTagIcon {
    margin-right: 5px;
}
.main-confirm__itemTagText {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}
.main-confirm__itemTag-red {
    background: #FF0000;
}
.main-confirm__itemTag-yellow {
    background: #FFD600;
}
.main-confirm__itemTag-orange {
    background: #FF9A02;
}
.main-confirm__itemTag-gray {
    background: #C4C4C4;
}
/*CONFIRM END*/

/*ADDFUNDS*/
.main-addfunds {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-addfunds .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-addfunds__itemsWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.main-addfunds__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 600px;
    justify-content: space-between;
    width: 100%;
}
.main-addfunds__item {
    width: 440px;
    height: 100px;
    background: #FFFFFF url(../img/shadow-long.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: default;
    transition: .3s;
    margin-bottom: 20px;
    margin-right: 30px;
}
.main-addfunds__items-buttons .main-addfunds__item {
    cursor: pointer;
}
.main-addfunds__itemIcon {
    height: 60px;
    margin-right: 20px;
}
.main-addfunds__itemText {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #1B253C;
}
.main-addfunds__items-buttons .main-addfunds__item:hover,
.main-addfunds__items-buttons .main-addfunds__item-active {
    background: #0B42D5 url(../img/shadow-long.png) no-repeat;
}
.main-addfunds__items-buttons .main-addfunds__item:hover .main-addfunds__itemText,
.main-addfunds__items-buttons .main-addfunds__item-active .main-addfunds__itemText {
    color: #FFFFFF;
}
.main-addfunds__block {
    min-width: 440px;
}
.main-addfunds__blockInputBlock {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.main-addfunds__blockInput {
    height: 100%;
    margin-left: 10px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: #303236;
    border: none;
    outline: none;
}
.main-addfunds__blockText {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    color: #303236;
    margin-bottom: 20px;
}
.main-addfunds__blockInputBlock .main-addfunds__blockText {
    margin-top: 4px;
    margin-bottom: 0;
}
.main-addfunds__blockText span {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: #303236;
}
.main-addfunds__blockText span span {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: #303236;
}
.main-addfunds__blockButton {
    width: 100%;
    min-height: 100px;
    border-radius: 2px;
}
.main-addfunds__blockButton .btn__text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
/*ADDFUNDS END*/

/*WALLET*/
.main-addfunds__items-wallet {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: unset;
    justify-content: flex-start;
    min-width: calc(100% + 30px);
}
.main-addfunds__items-wallet .main-addfunds__item {
    margin-right: 30px;
}
.main-addfunds__items-wallet .main-addfunds__blockButton {
    width: 440px;
    height: 100px;
}
.main-addfunds__itemInput {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1B253C;
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}
/*WALLET END*/

/*LINK ANIMATION*/
.link-animation {
    position: relative;
    text-decoration: none;
}
.link-animation:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scale(0, 1);
    transition: .3s;
}
.link-animation:hover:after {
    transform: scale(1, 1);
}
/*LINK ANIMATION END*/

/*SCROLLBARS*/
::-webkit-scrollbar {
    width: 3px;
    background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    background-color: #4339F2;
    -webkit-border-radius: 2px;
}
::-webkit-scrollbar-track {
    border-width: 0;
}
::-webkit-scrollbar-track:hover {
    background-color: #cac9c9;
}
:root {
    scrollbar-color: #4339F2 #e2e2e2 !important;
    scrollbar-width: thin !important;
}
/*SCROLLBARS END*/

/*FOOTER*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #0B42D5;
    padding: 35px 0;
}
.footer .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer__textBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.footer__text:first-child {
    margin-right: 50px;
}
.footer__copyright {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.footer .header__logoLink {
    display: flex;
}
/*FOOTER END*/

/*RESPONSIVE FIX*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.5;
        -ms-zoom: 0.5;
        -webkit-zoom: 0.5;
        -moz-transform: scale(0.5, 0.5);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 150vw;
        }
    }
}
@media screen and (max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media screen and (max-width: 1459px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media screen and (max-width: 1457px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1025px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (                min-resolution: 192dpi) and ( max-width: 1025px), only screen and (                min-resolution: 2dppx) and ( max-width: 1025px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1020px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (                min-resolution: 192dpi) and ( max-width: 1020px), only screen and (                min-resolution: 2dppx) and ( max-width: 1020px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;

    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
}
/*RESPONSIVE FIX END*/

/*MEDIA*/
@media screen and (max-width: 1200px) {
    .wrapper {
        padding: 0 15px;
    }
    .main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .header__logoLink {
        display: none;
    }
    .header__logoLink-mobile {
        display: flex;
    }
    .header .wrapper {
        padding: 0 15px;
        max-width: 100%;
    }
    .hamburger {
        display: block;
    }
    .header {
        position: fixed;
        padding: 0;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 60px;
        z-index: 11;
        border-bottom: unset;
    }
    .header__nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 2px 0;
        border-top: 1px solid #0B42D5;
        border-bottom: 1px solid #0B42D5;
        width: 100%;
        margin: 7px 0 2px 0;
    }
    .header__navItem {
        font-size: 16px;
    }
    .header__navLangBlock {
        width: auto;
        margin-top: 17px;
    }
    .header__navLangText {
        font-size: 16px;
    }
    .header__navLangFlag {
        margin-right: 10px;
    }
    .header__mobileWrapper {
        position: fixed;
        top: 75px;
        right: -240px;
        width: 220px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px 0 0 10px;
        transition: .3s;
        z-index: 12;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .header__mobileWrapper-active {
        right: 0;
    }
    .header__navItem {
        margin: 3px 0;
    }
    .header__navItemIcon {
        margin-right: 3px;
        height: 20px;
    }

    .header__account {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .header__top {
        min-height: 50px;
    }
    .header__top .wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header__bottom {
        height: auto;
    }
    .header__accountName {
        margin-bottom: 7px;
    }
    .header__accountName span {
        color: #0B42D5;
        font-size: 16px;
    }
    .header__accountNameIcon {
        margin-right: 8px;
    }
    .header__accountTime {
        color: #0B42D5;
        font-size: 16px;
    }
    .header__accountTime span {
        color: #0B42D5;
        font-size: 16px;
    }
    .header__accountTimeIcon {
        height: 15px;
        margin-bottom: 2px;
        margin-left: 7px;
    }
    .header__navLangText {
        color: #0B42D5;
    }
    .header__navLangItems .header__navLangText {
        color: #FFFFFF;
    }
    .header__navLangIcon {
        filter: invert(60%) sepia(94%) saturate(3101%) hue-rotate(225deg) brightness(70%) contrast(129%);
    }
    .header__accountTimeIcon {
        filter: invert(60%) sepia(94%) saturate(3101%) hue-rotate(225deg) brightness(70%) contrast(129%);
    }
    .header__accountBalance {
        margin: 0 0 7px 0;
        font-size: 16px;
        padding: 0;
    }
    .header__accountBalance span {
        font-size: 16px;
    }
    .header__navLangBlock {
        margin-top: 5px;
    }
    .header__nav-mobile {
        display: flex;
    }

    .body-fixed {
        overflow-y: hidden;
    }

    .footer {
        padding: 20px 0;
    }
    .footer .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer__textBlock {
        margin: 10px 0 15px;
        flex-direction: column;
        align-items: center;
    }
    .footer__text:first-child {
        margin-right: 0;
        margin-bottom: 6px;
    }

    .main-dashboard__buttons {
        justify-content: center;
        width: 100%;
    }

    .main-addfunds__items-wallet {
        min-width: unset;
    }
    .main-addfunds__items-wallet .main-addfunds__blockButton {
        margin-right: 30px;
    }
}
@media screen and (max-width: 1180px) {
    .main-addfunds__itemsWrapper {
        flex-direction: column;
        align-items: center;
    }
    .main-addfunds__items {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        max-height: unset;
    }
    .main-addfunds__item {
        margin: 0 15px 20px;
    }
    .main-addfunds__items-wallet .main-addfunds__item {
        margin: 0 15px 20px;
    }
    .main-addfunds__items-wallet .main-addfunds__blockButton {
        margin: 0 15px 20px;
    }
    .main-addfunds__block {
        margin-top: 10px;
    }
}
@media screen and (max-width: 1070px) {

}
@media screen and (max-width: 1023px) {
    .main-reg {
        padding: 20px 0 30px;
    }
    .main-reg__form {
        flex-direction: column;
        align-items: center;
        background: transparent;
        box-shadow: none;
    }
    .main__nameAndInput {
        margin-bottom: 10px;
    }
    .main__nameAndInput:last-child {
        margin-bottom: 10px;
    }
    .main-reg__form-login .btn-form {
        margin-top: 0;
    }
    .btn-form {
        margin-top: 0;
    }
    .main__nameAndInputHeaderName {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .main__nameAndInputFooterInput {
        font-size: 16px;
    }
    .main__nameAndInputFooterNumber {
        font-size: 16px;
    }
    .main__nameAndInputFooter {
        height: 54px;
    }
    .main__nameAndInput-inviterIcon {
        height: 29px;
        width: 22px;
    }
    .main-reg__formColumn .btn {
        height: 54px;
    }
    .btn {
        font-size: 16px;
    }
}
@media screen and (max-width: 850px) {
    .main {
        padding-bottom: 30px;
    }
    .main-breadcrumbs {
        margin: 15px 0;
    }

    .main-dashboard__item {
        margin-bottom: 15px;
    }
    .main-dashboard__item:last-child {
        margin-bottom: 0;
    }
    .main-dashboard__items {
        margin-bottom: 0;
    }
    .main-dashboard__buttons {
        margin-bottom: 5px;
        width: calc(100% + 10px);
        margin-left: -5px;
    }
    .main-dashboard__button {
        margin: 0 5px 10px;
        width: 60px;
        height: 60px;
    }
    .main-dashboard__buttonIcon {
        height: 35px;
    }

    .main-confirm__block {
        padding: 20px;
    }
    .main-confirm__item {
        height: 60px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .main-confirm__item:last-child {
        padding-top: 14px;
    }
    .main-confirm__item-row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .main-confirm__itemText {
        font-size: 20px;
    }
    .main-confirm__itemText-bold {
        font-size: 20px;
        margin-top: 5px;
    }
    .main-confirm__itemTagText {
        font-size: 20px;
    }
    .main-confirm__title {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
        line-height: unset;
    }

    .main-addfunds__item {
        margin: 0 0 15px;
    }
    .main-addfunds__block {
        max-width: 440px;
        width: 100%;
        min-width: unset;
    }
    .main-addfunds__blockText {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .main-addfunds__blockText span {
        font-size: 25px;
    }
    .main-addfunds__blockText span span {
        font-size: 25px;
    }
    .main-addfunds__blockInputBlock {
        margin-bottom: 10px;
        height: 80px;
    }
    .main-addfunds__blockButton {
        min-height: 80px;
    }
    .main-addfunds__blockButton .btn__text {
        font-size: 25px;
    }
    .main-addfunds__blockInput {
        font-size: 25px;
    }

    .main-addfunds__items-wallet .main-addfunds__item {
        margin: 0 0 15px;
    }
    .main-addfunds__items-wallet .main-addfunds__blockButton {
        margin: 0;
        height: 80px;
    }
}
@media screen and (max-width: 720px) {

}
@media screen and (max-width: 500px) {
    .custom-checkbox + label::before {
        margin-right: 6px;
    }

    .footer__text {
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (max-width: 360px) {

}
/*MEDIA END*/

