video(poster="./img/video-preview.png")
    source(src='')
.video__control
    .control__logo
        a(href="#!")
            img(src='./img/logo-chanel.png', alt='logo chanel', draggable="false")
    .control__options.row__between
        ul.row
            li.option__item
                i.fas.fa-volume-up
            li.option__item.option__item-camera
                i.fas.fa-video
            li.option__item.option__item-stop
                i.fas.fa-play
        ul
            li.option__item.option__item-full
                i.fas.fa-expand