@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Circe;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    color: #191234;
    background: #FFFFFF;
}

.wrapper {
    max-width: 1230px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
}

/*LINK ANIMATION*/
.link-animation {
    position: relative;
    text-decoration: none;
}
.link-animation:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #0080FF;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scale(0, 1);
    transition: .3s;
}
.link-animation:hover:after {
    transform: scale(1, 1);
}
/*LINK ANIMATION END*/

/*BUTTON*/
.btn {
    width: 210px;
    height: 62px;
    background: #0080FF;
    box-shadow: 0px 10px 20px rgba(26, 130, 233, 0.2);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: #0371e5;
}
.btn-white {
    border: 2px solid #0080FF;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: unset;
    background: #FFFFFF;
    font-size: 18px;
    color: #0080FF;
    width: 108px;
    height: 50px;
}
.btn-white:hover {
    background: #0080FF;
    color: #FFFFFF;
}
/*BUTTON END*/

/*NAME AND INPUT*/
.main__nameAndInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.main__nameAndInputHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    position: relative;
}
.main__nameAndInputHeaderName {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 21px;
    color: rgba(11, 27, 45, 0.5);
    transition: .3s;
}
.main__nameAndInputFooter {
    height: 50px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.main__nameAndInputFooterInput {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 20px;

    font-size: 16px;
    line-height: 24px;
    color: #191234;

    background: #FFFFFF;
    border: 1px solid #0080FF;
    box-sizing: border-box;
    border-radius: 5px;
}
.main__nameAndInputFooterAlert {
    opacity: 0;
    transition: .3s;
    position: absolute;
    right: 15px;
}
.main__nameAndInputHeaderAlert {
    position: absolute;
    height: 25px;
    background: #FF0000;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    right: 0;
    top: -6px;
    opacity: 0;
    transition: .3s;
}
.main__nameAndInputHeaderAlertText {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.main__nameAndInput-error .main__nameAndInputFooterInput {
    border: 1px solid #FF0000;
}
.main__nameAndInput-error .main__nameAndInputFooterAlert {
    opacity: 1;
}
.main__nameAndInput-error .main__nameAndInputHeaderAlert {
    opacity: 1;
}

.main__nameAndInputFooterInput-textarea {
    padding: 15px 20px 10px;
    min-height: 145px;
    resize: vertical;
}
.main__nameAndInput-textarea .main__nameAndInputFooter {
    height: auto;
    padding: 1px 0;
}

.main__nameAndInput-select .main__nameAndInputFooterInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: #0B1B2D url(../img/icons/select.svg) no-repeat right center;
    background-position: calc(100% - 15px);
}
.crm__transactionsBtnsRow {
    display: flex;
    flex-direction: row;
}
.main__nameAndInputFooter-month {
    width: 112px;
    margin-right: 20px;
}
.main__nameAndInputFooter-year {
    width: 75px;
}
.main__nameAndInputFooter-day {
    width: 55px;
    margin-right: 20px;
}
/*NAME AND INPUT END*/

/*BURGER MENU*/
.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #0080FF;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham4 .top {
    stroke-dasharray: 40 121;
}
.ham4 .bottom {
    stroke-dasharray: 40 121;
}
.ham4.active .top {
    stroke-dashoffset: -68px;
}
.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.header__closeableMask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header__closeableMask-active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*BURGER MENU END*/

/*OWL DOTS*/
.owl-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10px;
}
.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 128, 255, 0.25);
    border-radius: 50%;
    transition: .3s;
    margin: 0 7.5px;
    outline: none;
}
.owl-carousel button.owl-dot.active {
    background: #0080FF;
    box-shadow: unset;
}
/*OWL DOTS END*/

/*HEADER*/
.header {
    width: 100%;
    padding: 30px 0;
    position: relative;
    z-index: 10;
}
.header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 57px;
}
.header__navBtn-mobile {
    display: none;
}
.header__navItem {
    font-weight: bold;
    font-size: 18px;
    color: #191234;
    transition: .3s;
    margin: 0 20px;
}
.header__navItem:hover {
    color: #0080FF;
}
.header__navItem-active {
    color: #0080FF;
}
.header__navLangBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 20px;
}
.header__navLangHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.header__navLangText {
    font-weight: bold;
    font-size: 18px;
    color: #191234;
}
.header__navLangIcon {
    margin-left: 10px;
    margin-bottom: 10px;
}
.header__navLangItems {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: -10px;

    padding: 10px;
    background: rgba(248, 252, 255, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 10px;

    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.header__navLangItems:hover {
    visibility: visible;
    opacity: 1;
}
.header__navLangItem {
    margin-bottom: 3px;
}
.header__navLangItem.link-animation:after {
    bottom: 0;
}
.header__navLangHeader:hover ~ .header__navLangItems {
    visibility: visible;
    opacity: 1;
}
/*HEADER END*/

/*MAIN*/
.main {
    position: relative;
}
.main__decor {
    position: absolute;
    z-index: -1;
}
.main__decor-1 {
    left: -200px;
    top: 118px;
}
.main__decor-2 {
    right: -60px;
    top: 539px;
}
.main__decor-3 {
    top: 1539px;
    left: 36px;
}
.main__decor-4 {
    top: 2631px;
    right: -145px;
}
.main__decor-5 {
    top: 3211px;
    left: -102px
}
.main__filter {
    background: rgba(248, 252, 255, 0.9);
    z-index: 1;
    position: relative;
}

.main__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    color: #191234;
    position: relative;
    text-align: center;
}
.main__title:after {
    position: absolute;
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #0080FF;
    left: 50%;
    transform: translateX(-50%);
}

.main__header {
    width: 100%;
    padding: 150px 0 130px;
    border-radius: 0px 0px 100px 100px;
    margin-top: -110px;
}
.main__header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main__headerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
}
.main__headerTitle {
    max-width: 585px;
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 15px;
}
.main__headerText {
    max-width: 480px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(24, 25, 31, 0.5);
    margin-bottom: 25px;
}

.main__about {
    width: 100%;
    margin: 100px 0;
}
.main__about .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__aboutContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
}
.main__aboutContentTitle {
    margin-bottom: 20px;
}
.main__aboutContentTitle:after {
    left: 0;
    transform: unset;
}
.main__aboutContentText {
    margin-bottom: 10px;
    max-width: 510px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(25, 18, 52, 0.5);
}
.main__aboutImg-mobile {
    display: none;
}
.main__aboutContent .btn {
    margin-top: 30px;
}

.main__plans {
    width: 100%;
}
.main__plans .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__plansItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    width: 100%;
    border-radius: 40px;
    padding: 45px 75px;
}
.main__plansItem {
    width: 330px;
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(25, 18, 52, 0.03);
    border-radius: 30px;
    position: relative;
    padding: 30px;
    margin: 30px 15px;
    cursor: pointer;
}
.main__plansItemMoney {
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    color: #191234;
    white-space: nowrap;
}
.main__plansItemTitle {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #191234;
    margin-bottom: 5px;
}
.main__plansItemTitle span {
    font-weight: 800;
    font-size: 25px;
    color: #0080FF;
    margin-left: 10px;
}
.main__plansItemText {
    font-size: 18px;
    line-height: 140%;
    color: #191234;
    opacity: 0.5;
}
.main__plansItemDelimiter {
    display: block;
    background: #191234;
    opacity: 0.1;
    width: 100%;
    height: 1px;
    margin: 30px 0;
}
.main__plansItemCheck {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.main__plansItemIconBlock {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(55, 240, 96, 0.1);
    margin-right: 18px;
}
.main__plansItemIcon {
    max-width: 13.22px;
}
.main__plansItemCheckText {
    font-size: 18px;
    line-height: 140%;
    color: #191234;
    white-space: nowrap;
}
.main__plansItem .btn {
    border-radius: 15px;
    width: 100%;
    height: 59px;
    margin-top: 10px;
}
.main__plansItem-blue {
    background: #0080FF;
    box-shadow: 0px 10px 10px rgba(41, 147, 252, 0.3);
}
.main__plansItem-blue .main__plansItemMoney,
.main__plansItem-blue .main__plansItemTitle,
.main__plansItem-blue .main__plansItemTitle span,
.main__plansItem-blue .main__plansItemCheckText {
    color: #FFFFFF;
}
.main__plansItem-blue .main__plansItemIconBlock {
    background: rgba(255, 255, 255, 0.1);
}
.main__plansItem-blue .btn-white:hover {
    border: 2px solid #FFFFFF;
}
.main__plansItem-blue .main__plansItemText {
    color: #FFFFFF;
    opacity: 0.5;
}

.main__reasons {
    width: 100%;
    margin-top: 100px;
}
.main__reasons .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__reasonsItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 65px;
    width: 100%;
    justify-content: center;
}
.main__reasonsItem {
    width: 330px;
    margin: 0 15px 60px;
}
.main__reasonsItemIcon {
    margin-bottom: 23px;
}
.main__reasonsItemTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #191234;
    margin-bottom: 10px;
}
.main__reasonsItemText {
    font-size: 18px;
    line-height: 150%;
    color: #191234;
    opacity: 0.5;
}

.main__referral {
    width: 100%;
    margin: 40px 0 0;
}
.main__referral .wrapper {
    border-radius: 40px;
    padding: 75px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__referralText {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(25, 18, 52, 0.5);
    max-width: 450px;
    margin-top: 10px;
}
.main__referralItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.main__referralItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 57px;
}
.main__referralItemImgBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 179px;
    margin-bottom: 35px;
}
.main__referralItemText {
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #191234;
}
/*MAIN END*/

/*BREADCRUMBS*/
.main__breadcrumbs {
    margin: -3px 0 50px 0;
}
.main__breadcrumbs .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main__breadcrumbsLink {
    font-size: 16px;
    color: #191234;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}
.main__breadcrumbsLink:before {
    content: url(../img/icons/breadcrumb-black.svg);
    margin-right: 9px;
}
.main__breadcrumbsLink-active:before {
    content: url(../img/icons/breadcrumb.svg);
}
.main__breadcrumbsLink:first-child {
    margin-left: 0;
}
.main__breadcrumbsLink:first-child:before {
    content: '';
    margin-right: 0;
}
.main__breadcrumbsLink.link-animation:after {
    font-size: 16px;
    background: #191234;
    bottom: 1px;
}
.main__breadcrumbsLink-active {
    color: #0080FF;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/*BREADCRUMBS END*/

/*TERMS*/
.main__default {
    border-radius: 70px;
    padding: 100px 15px;
}
.main__terms .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__termsItems {
    max-width: 970px;
}
.main__termsHeadline {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #191234;
}
.main__termsText {
    line-height: 140%;
    font-size: 18px;
    color: #191234;
    margin-bottom: 27px;
}
.main__termsText:last-child {
    margin-bottom: 0;
}
/*TERMS END*/

/*ABOUT US*/
.main__title-margin {
    margin-bottom: 60px;
}
.main__aboutPage .wrapper {
    align-items: center;
}
.main__decorAbout-1 {
    right: -61px;
    top: 296px;
}
.main__decorAbout-2 {
    left: 70px;
    top: 734px;
}
.main__aboutPageText {
    font-size: 18px;
    line-height: 160%;
    color: #191234;
    max-width: 970px;
}
.main__aboutPage .main__reasonsItems {
    max-width: 970px;
    width: 100%;
    justify-content: space-between;
    margin-top: 35px;
}
.main__aboutPage .main__reasonsItem {
    max-width: 303px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
}
/*ABOUT US END*/

/*INVESTORS*/
.main__investors .wrapper {
    align-items: center;
}

.main__investors .main__referralItems {
    margin-top: 50px;
}
.main__investorsDelimiter {
    width: 100%;
    max-width: 1050px;
    display: block;
    height: 1px;
    background: #0080FF;
    margin-bottom: 75px;
}
.main__investors .main__plansItems {
    margin-top: 0;
}
/*INVESTORS END*/

/*FAQ*/
.main__faq {

}
.main__faq .wrapper {
    align-items: center;
}
.main__faqBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 970px;
    width: 100%;
    justify-content: space-between;
}
.main__faqBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(25, 18, 52, 0.05);
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}
.main__faqBtnIcon {
    margin-bottom: 11px;
    transition: .3s;
}
.main__faqBtnIcon path {
    fill: #0080FF;
}
.main__faqBtnText {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #191234;
    max-width: 116px;
    transition: .3s;
}
.main__faqBtn:hover,
.main__faqBtn-active {
    background: #0080FF;
    box-shadow: 0px 15px 50px rgba(41, 147, 252, 0.3);
    border-radius: 20px;
}
.main__faqBtn:hover .main__faqBtnIcon path,
.main__faqBtn-active .main__faqBtnIcon path {
    fill: #FFFFFF;
}
.main__faqBtn:hover .main__faqBtnText,
.main__faqBtn-active .main__faqBtnText {
    color: #FFFFFF;
}

.main__faqTabs {
    max-width: 970px;
    margin-top: 50px;
    width: 100%;
}
.main__faqTab {
    display: none;
    flex-direction: column;
    align-items: center;
}
.main__faqTab-active {
    display: flex;
}
.main__faqTabItem {
    width: 100%;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #0080FF;
    border-radius: 20px;

}
.main__faqTabItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 24px 33px 24px 30px;
}
.main__faqTabItemTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #191234;
}
.main__faqTabItemText {
    font-size: 18px;
    line-height: 27px;
    color: #191234;
    opacity: 0.5;
    display: none;
    margin: -9px 33px 24px 30px;
}
.main__faqTabItemIcon {
    transition: .3s;
}
.main__faqTabItemHeader-active .main__faqTabItemIcon {
    transform: rotate(180deg);
}
/*FAQ END*/

/*CONTACTS*/
.main__contacts {

}
.main__contacts .wrapper {
    padding: 100px 115px 9px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.main__contactsContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__contactsContentText {
    font-size: 18px;
    line-height: 150%;
    color: #191234;
    opacity: 0.5;
    max-width: 470px;
    margin-bottom: 32px;
}
.main__contactsContent .main__aboutContentTitle {
    margin-bottom: 22px;
}
.main__contactsContentItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 19px;
    width: 260px;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #0080FF;
    border-radius: 5px;
    margin-top: 10px;
}
.main__contactsContentItemIcon {
    margin-right: 12px;
}
.main__contactsContentItemText {
    font-size: 16px;
    line-height: 150%;
    color: #191234;
}
.main__decorContacts-1 {
    left: -295px;
    top: 112px;
}
.main__decorContacts-2 {
    right: -61px;
    top: 296px;
}
.main__decorContacts-3 {
    left: 169px;
    top: 498px;
}
.main__contactsForm {
    width: 425px;
    background: #F9FDFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 50px;
    position: relative;
}
.btn-contacts {
    width: 100%;
    margin-top: 5px;
}
.main__contactsFormSuccess {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #e5fbef;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main__contactsFormSuccess-active {
    visibility: visible;
    opacity: 1;
}
.main__contactsFormSuccessIcon {
    position: absolute;
    cursor: pointer;
    top: 50px;
    right: 50px;
}
.main__contactsFormSuccessTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #37F060;
    margin-bottom: 9px;
}
.main__contactsFormSuccessText {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #191234;
    max-width: 270px;
}
.main__contactsFormBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
.main__contactsContentItems-mobile {
    display: none;
}
.main__contactsForm-mobile .main__nameAndInput-textarea {
    display: none;
}
.main__contactsForm-mobile .btn {
    display: none;
}
/*CONTACTS END*/

/*FOOTER*/
.footer {
    width: 100%;
    background: #0080FF url(../img/main/footer-bg.svg) no-repeat;
    background-position: center right;
    border-radius: 100px 100px 0px 0px;
    position: relative;
    z-index: 10;
    margin-top: 100px;
}
.footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 15px;
}
.footer__left {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    align-items: flex-start;
}
.footer__leftContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 29px;
}
.footer__text {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.footer__leftBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.footer__leftBtn {
    background: rgba(255, 255, 255, 0.15);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    margin-right: 16px;
}
.footer__leftBtn:hover {
    background: rgba(255, 255, 255, 0.3);
}
.footer__leftBtnIcon {
    position: relative;
}
.footer__right {
    margin-right: 110px;
}
.footer__rightTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer__rightItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 450px;
}
.footer__rightItemBlock {
    width: 150px;
    margin-bottom: 10px;
}
.footer__rightItem {
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.footer__rightItem.link-animation:after {
    background: #FFFFFF;
    bottom: 0;
}
/*FOOTER END*/

/*MEDIA*/
@media screen and (max-width: 1450px) {
    .main__decor-4 {
        display: none;
    }
}
@media screen and (max-width: 1230px) {
    .wrapper {
        width: 100%;
    }
    .main__plansItems {
        padding: 15px;
    }
    .main__plansItem {
        margin: 15px;
    }
    .main__investorsDelimiter {
        display: none;
    }
    .main__investors .main__plansItems {
        margin-top: 10px;
    }
}
@media screen and (max-width: 1090px) {
    .main__plansItem {
        width: 290px;
        height: 481px;
        padding: 20px;
    }
    .main__plansItemMoney {
        font-size: 38px;
    }
    .main__plansItemCheckText {
        white-space: pre-wrap;
    }
    .main__plansItemCheck {
        align-items: flex-start;
    }

    .main__contacts .wrapper {
        padding: 50px 40px 10px;
    }
}
@media screen and (max-width: 1024px) {
    .main__plans .wrapper {
        padding-top: 45px;
    }
    .main__plansItems {
        padding-top: 0;
        padding-bottom: 50px;
        margin-top: 20px;
    }
    .main__plansItem {
        margin: 20px auto 30px;
    }
    .main__filter-mobile {
        background: rgba(248, 252, 255, 0.9);
        z-index: 1;
        position: relative;
        border-radius: 10px;
    }
    .main__plans .main__filter {
        background: unset;
    }
    .main__headerTitle {
        font-size: 56px;
        line-height: 70px;
    }
    .main__header {
        padding-bottom: 90px;
    }
    .main__about {
        margin: 90px 0;
    }
    .main__reasons {
        margin-top: 90px;
    }
}
@media screen and (max-width: 980px) {
    .main__breadcrumbs {
        margin-top: 10px;
    }
    .main__breadcrumbs .wrapper {
        padding-left: 10px;
    }

    .main__default {
        padding: 50px 15px;
    }
    .footer {
        margin-top: 50px;
    }

    .main {
        padding-top: 56px;
    }
    .main__header {
        margin-top: 0;
        padding-top: 34px;
    }
    .header {
        position: fixed;
        padding: 15px 0;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        height: 56px;
        z-index: 11;
    }
    .header__navBtn {
        display: none;
    }
    .header__navBtn-mobile {
        display: flex;
    }
    .ham {
        display: block;
        margin: -15px;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 15px 0;
    }
    .header__navWrapper {
        position: fixed;
        top: 66px;
        right: -220px;
        width: 200px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px 0 0 10px;
        transition: .3s;
        z-index: 12;
    }
    .header__navWrapper-active {
        right: 0;
    }
    .header__navItem {
        margin: 2px 0;
    }
    .header__navItem.link-animation:after {
        bottom: 0;
    }
    .footer__right {
        margin-right: 20px;
    }
    .body-fixed {
        overflow-y: hidden;
    }
    .header__navBtn-mobile {
        height: 40px;
        margin-top: 10px;
    }
    .main__headerContent {
        margin-left: 40px;
    }
    .main__aboutContent {
        margin-left: 40px;
    }
    .main__headerImg {
        max-width: 400px;
    }
    .main__aboutImg {
        max-width: 400px;
    }

    .main__faqBtns {
        flex-direction: column;
        width: 100%;
    }
    .main__faqBtn {
        margin-bottom: 10px;
        width: 100%;
        height: 75px;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }
    .main__faqBtnText {
        margin-left: 22px;
        max-width: 207px;
        width: 100%;
        text-align: left;
    }
    .main__faqBtnIcon {
        margin-bottom: 0;
        min-width: 27px;
    }
    .main__faqBtn:last-child {
        margin-bottom: 0;
    }
    .main__faqTabs {
        margin-top: 40px;
    }
}
@media screen and (max-width: 870px) {
    .main__header .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .main__headerImg {
        max-width: 400px;
        width: 100%;
        margin-bottom: 20px;
    }
    .main__headerTitle {
        font-size: 40px;
        line-height: 50px;
        font-feature-settings: 'liga' off;
        color: #18191F;
        margin-bottom: 10px;
    }
    .main__headerContent {
        margin-left: 0;
    }
    .main__headerText {
        margin-bottom: 20px;
    }
    .main__header {
        padding-bottom: 50px;
        border-radius: 0px 0px 10px 10px;
    }
    .main__header .btn {
        width: 100%;
        max-width: 512px;
    }

    .main__about {
        margin: 0 0 50px;
    }
    .main__about .wrapper {
        justify-content: center;
    }
    .main__aboutImg {
        display: none;
    }
    .main__aboutImg-mobile {
        display: block;
        width: 100%;
        max-width: 400px;
        margin-bottom: 10px;
    }
    .main__aboutContent .btn {
        width: 100%;
        max-width: 512px;
        margin-top: 10px;
    }
    .main__aboutContent {
        margin-left: 0;
        align-items: center;
    }
    .main__aboutContentTitle:after {
        left: 50%;
        transform: translateX(-50%);
    }
    .main__aboutContentTitle {
        margin-bottom: 15px;
    }

    .main__plans .wrapper {
        padding-top: 50px;
    }
    .main__plansItems {
        margin-top: 0;
        padding: 0 0 50px 0;
    }

    .main__reasons {
        margin-top: 50px;
    }
    .main__reasonsItemIcon {
        margin-bottom: 10px;
    }
    .main__reasonsItems {
        margin-top: 40px;
    }

    .main__referral {
        margin: 20px 0 0 0;
    }
    .main__referral .wrapper {
        padding: 50px 15px;
        border-radius: 10px;
        margin-bottom: -50px;
    }
    .main__referralItem {
        margin: 0 20px;
    }
    .main__referralItems {
        margin-top: 40px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer {
        background: #0080FF;
        border-radius: 30px 30px 0px 0px;
    }
    .footer__right {
        display: none;
    }
    .footer .wrapper {
        padding: 50px 15px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer__left {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer__leftContent {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__logoLink {
        margin-bottom: 30px;
    }
    .footer__leftBtns {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .footer__text {
        margin-bottom: 15px;
    }
    .footer__text:nth-child(1) {
        margin-bottom: 0;
    }

    .main__default {
        padding: 0 15px;
        border-radius: unset;
    }
    .main__terms .wrapper {
        padding: 0 15px;
    }
    .main__termsText {
        margin-bottom: 24px;
    }

    .main__filter {
        background: transparent;
    }
    .main__header.main__filter,
    .main__referral .main__filter {
        background: rgba(248, 252, 255, 0.9);
    }
    .main__decor {
        display: none;
    }

    .main__title-margin {
        margin-bottom: 50px;
    }

    .main__investors .main__referralItems {
        margin-top: 30px;
    }
    .main__investors .main__plansItems {
        padding-bottom: 30px;
    }

    .main__faqBtns {
        margin-top: -30px;
    }
    .main__faqTabItem {
        border-radius: 10px;
    }
    .main__faqTabItemTitle {
        font-size: 16px;
        line-height: 24px;
    }
    .main__faqTabItemIcon {
        min-width: 14px;
        width: 14px;
        margin-left: 14px;
    }
    .main__faqTabItemHeader {
        padding: 0 20px;
        height: 77px;
    }
    .main__faqTabItemText {
        font-size: 14px;
        line-height: 21px;
        margin: -23px 20px 22px 20px;
    }

    .main__contacts .wrapper {
        padding: 0 15px;
        flex-direction: column;
        align-items: center;
    }
    .main__contactsFormBlock {
        margin-left: 0;
        width: 100%;
    }
    .main__contactsContentText {
        max-width: 425px;
    }
    .main__contactsContentItems {
        display: none;
        width: 100%;
        max-width: 425px;
        margin-top: 10px;
    }
    .main__contactsContentItem {
        width: 100%;
    }
    .main__contactsContentItems-mobile {
        display: flex;
        flex-direction: column;
    }
    .main__contactsForm {
        padding: 0;
        max-width: 425px;
        width: 100%;
        background: transparent;
        box-shadow: unset;
    }
    .main__contactsContent {
        align-items: center;
    }
    .main__contactsContentText {
        margin-bottom: 25px;
    }
    .main__contactsFormSuccess {
        border-radius: 10px;
    }
    .main__contactsFormSuccessIcon {
        width: 15px;
        top: 25px;
        right: 25px;
    }
}
@media screen and (max-width: 640px) {
    .main__reasonsItem {
        margin: 0 0 30px 0;
        width: 100%;
    }
    .main__aboutPage .main__reasonsItem {
        max-width: 100%;
    }
}
/*MEDIA END*/