@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    color: #19233B;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    background: #FFFFFF;
}

.wrapper {
    max-width: 1230px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
}

/*BUTTON*/
.btn {
    width: 210px;
    height: 58px;
    background: #19233B;
    border-radius: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    color: #46DDCF;
}
.btn:hover {
    background: #273264;
    text-decoration: underline;
}
.btn-white {
    border: 2px solid #19233B;
    background: #FFFFFF;
    color: #19233B;
}
.btn-white:hover {
    background: #f3efef;
}
/*BUTTON END*/

/*BURGER MENU*/
.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #19233B;;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham4 .top {
    stroke-dasharray: 40 121;
}
.ham4 .bottom {
    stroke-dasharray: 40 121;
}
.ham4.active .top {
    stroke-dashoffset: -68px;
}
.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.header__closeableMask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header__closeableMask-active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*BURGER MENU END*/

/*OWL DOTS*/
.owl-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10px;
    margin-top: 15px;
}
.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 128, 255, 0.25);
    border-radius: 50%;
    transition: .3s;
    margin: 0 7.5px;
    outline: none;
}
.owl-carousel button.owl-dot.active {
    background: #19233B;
    box-shadow: unset;
}
/*OWL DOTS END*/

/*ANIMATIONS*/
@keyframes arrow {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes breathe {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*ANIMATIONS END*/

/*INPUT*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
/*INPUT END*/

/*HEADER*/
.header {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(25, 35, 59, 0.05);
    height: 101px;
}
.header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header__logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -4px;
}
.header__logo {
    max-height: 46px;
}
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navBtn-mobile {
    display: none;
}
.header__navItem {
    font-size: 16px;
    transition: .3s;
    margin: 0 15px;
    text-decoration: none;
}
.header__navItem:hover {
    text-decoration: underline;
}
.header__navItem-active {
    font-weight: 600;
}
.header__navLangBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 0 85px;
}
.header__navLangHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.header__navLangText {
    font-size: 16px;
}
.header__navLangIcon {
    margin-left: 5px;
    margin-bottom: 8px;
}
.header__navLangItems {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: -10px;

    padding: 10px 10px 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 25px rgba(25, 35, 59, 0.05);
    border-radius: 10px;

    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.header__navLangItems:hover {
    visibility: visible;
    opacity: 1;
}
.header__navLangItem {
    margin-bottom: 3px;
    text-decoration: none;
}
.header__navLangItem:hover {
    text-decoration: underline;
}
.header__navLangHeader:hover ~ .header__navLangItems {
    visibility: visible;
    opacity: 1;
}
/*HEADER END*/

/*MAIN*/
.main {
    position: relative;
    padding-bottom: 100px;
}

.main__decor {
    position: absolute;
    z-index: -1;
}
.main__decor-1 {
    left: -522px;
    top: 869px;
}
.main__decor-2 {
    bottom: 0;
    left: 0;
}

.main__title {
    font-size: 40px;
    text-align: center;
    color: #19233B;
    width: 100%;
    margin-bottom: 60px;
    position: relative;
}
.main__title-underline:after {
    position: absolute;
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #46DDCF;;
    left: 50%;
    transform: translateX(-50%);
}
.main__title-about {
    margin-bottom: 40px;
}
.main__title-calc {
    color: #FFFFFF;
    margin-bottom: 50px;
}
.main__title-referral {
    color: #FFFFFF;
}

.main__header {
    width: 100%;
    padding: 200px 0 340px 0;
    margin-bottom: 100px;
    background: #FFFFFF url(../img/main/header-bg.png) no-repeat;
    background-position: top right;
    background-size: auto 100%;
    position: relative;
}
.main__header .wrapper {
    align-items: center;
    position: relative;
    z-index: 1;
}
.main__headerDecor {
    position: absolute;
}
.main__headerDecor-1 {
    right: 64px;
    top: 454px;
    max-height: 257px;
    animation: breathe 1.5s ease-in-out infinite;
}
.main__headerDecor-2 {
    left: 170px;
    top: 536px;
    max-height: 208px;
    animation: breathe 1.2s ease-in-out infinite;
}
.main__headerTitle {
    max-width: 977px;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #19233B;
    margin-bottom: 50px;
}
.main__headerText {
    letter-spacing: 0.03em;
    color: #7B839D;
    text-align: center;
}
.main__headerBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}
.main__headerBtn:first-child {
    margin-right: 40px;
}
.main__headerBtn-mobile {
    display: none;
}

.main__aboutBlock {
    width: 100%;
    margin-bottom: 100px;
}
.main__aboutBlock .wrapper {
    align-items: center;
}
.main__aboutBlockText {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #7B839D;
    max-width: 959px;
    margin-bottom: 28px;
}
.main__aboutBlock .btn {
    margin-top: 10px;
}

.main__plans {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}
.main__plans .wrapper {
    align-items: center;
}
.main__plansItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}
.main__plansItem {
    width: 380px;
    height: 654px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF url(../img/main/planBg.png) no-repeat;
    background-position: top center;
    background-size: 100% auto;
    box-shadow: 0px 10px 10px rgba(25, 35, 59, 0.05);
    border-radius: 15px;
    position: relative;
    padding: 50px;
    margin: 0 15px 29px;
    cursor: pointer;
}
.main__plansItemTitle {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.main__plansItemImg {
    max-height: 78px;
    max-width: 100px;
    margin-bottom: 50px;
}
.main__plansItemText {
    font-weight: normal;
    line-height: 27px;
    opacity: 0.3;
}
.main__plansItemDelimiter {
    display: block;
    background: #19233B;
    opacity: 0.1;
    width: 100%;
    height: 1px;
    margin: 30px 0;
}
.main__plansItem .btn {
    position: absolute;
    bottom: -29px;
}
.main__plansItemLineText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: normal;
    color: #7B839D;
    margin-top: 18px;
}
.main__plansItemLineText span {
    font-weight: 600;
    color: #19233B;
}

.main__calc {
    width: 100%;
    margin-bottom: 100px;
}
.main__calc .wrapper {
    align-items: center;
}
.main__calcBlock {
    background: #19233B url(../img/main/calc-bg.png) no-repeat;
    box-shadow: 0 15px 35px rgba(25, 35, 59, 0.05);
    border-radius: 15px;
    width: 100%;
    padding: 80px;
}
.main__calcText {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
.main__calcText span {
    font-weight: normal;
    font-size: 24px;
    color: #46DDCF;
}
.main__calcForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}
.main__calcFormBtn {
    width: 237px;
    height: 52px;
}
.main__calcFormInput {
    width: 237px;
    height: 52px;
    background: rgba(25, 35, 59, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 15px;
}
.main__calcFormInput::placeholder {
    color: #f3efef;
}
.main__calcFormInput-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: rgba(25, 35, 59, 0.1) url(../img/icons/select-drop.svg) no-repeat right center;
    background-position: calc(100% - 20px);
}

.main__activity {
    width: 100%;
    margin-bottom: 70px;
}
.main__activity .wrapper {
    align-items: center;
}
.main__activityItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}
.main__activityItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px 30px 15px;
    background: #FFFFFF;
    border-radius: 15px;
    width: 277px;
    height: 139px;
    box-shadow: 0 0 15px rgba(25, 35, 59, 0.1);
    cursor: pointer;
    transition: .3s;
}
.main__activityItem:hover {
    box-shadow: 15px 15px 35px rgba(25, 35, 59, 0.1);
}
.main__activityItemTitle {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #19233B;
    margin-bottom: 8px;
}
.main__activityItemText {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #7B839D;
}

.main__referral {
    width: 100%;
    margin-bottom: 100px;
}
.main__referral .wrapper {
    align-items: center;
}
.main__referralBlock {
    background: #19233B url(../img/main/referral-bg.png) no-repeat;
    box-shadow: 0px 15px 35px rgba(25, 35, 59, 0.05);
    border-radius: 15px;
    width: 100%;
    padding: 80px;
}
.main__referralRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.main__referralDelimiter {
    display: block;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.2;
    margin: 50px 0;
}
.main__referralRowText {
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #7B839D;
    max-width: 277px;
    margin-top: 12px;
}
.main__referralRowContent {
    display: flex;
    flex-direction: row;
}
.main__referralItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main__referralItemImgBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: #46DDCF;
    box-shadow: 0 0 25px rgba(70, 221, 207, 0.3);
    border-radius: 50%;
    margin-bottom: 6px;
}
.main__referralItemText {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7B839D;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__referralItemText span {
    line-height: 45px;
    font-weight: 600;
    color: #7B839D;
    font-size: 30px;
}
.main__referralItemLine {
    display: block;
    width: 243px;
    height: 1px;
    border: 1px dashed #46DDCF;
    margin: 50px -19px 0;
}
.main__referralRow-daily .main__referralItemImgBlock {
    border-radius: 40px;
    transform: rotate(-45deg);
    margin-bottom: 9px;
}
.main__referralRow-daily .main__referralItemImg {
    transform: rotate(45deg);
}

.main__chart {
    width: 100%;
}
.main__chart .wrapper {
    align-items: center;
    height: 525px;
    padding-bottom: 1px;
}
.tradingview-widget-container {
    background: #FFFFFF;
    box-shadow: 0 15px 35px rgba(25, 35, 59, 0.05);
}
/*MAIN END*/

/*FOOTER*/
.footer {
    width: 100%;
    background: #1B253C;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 15px 58px;
}
.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__leftContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}
.footer__logo {
    max-height: 26px;
}
.footer__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #7B849D;
    max-width: 321px;
}
.footer__leftBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 38px;
}
.footer__leftBtn {
    background: #46DDCF;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    margin-right: 15px;
}
.footer__leftBtn:hover {
    background: #16ab9e;
}
.footer__leftBtnIcon {
    position: relative;
}
.footer__right {
    margin-right: 166px;
}
.footer__rightTitle {
    font-weight: bold;
    font-size: 16px;
    color: #46DDCF;
    margin-bottom: 40px;
}
.footer__rightItems {
    display: flex;
    flex-direction: row;
}
.footer__rightItemsColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__rightItemsColumn:first-child {
    margin-right: 227px;
}
.footer__rightItem {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 13px;
}
.footer__rightItem:last-child {
    margin-bottom: 0;
}
.footer__rightItem:hover {
    text-decoration: underline;
}
.footer__bottom {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #343D51;
}
.footer__bottomText {
    font-size: 16px;
    color: #7B849D;
}
/*FOOTER END*/

/*BREADCRUMBS*/
.main__breadcrumbs {
    padding-top: 30px;
    margin: 0 0 50px 0;
}
.main__breadcrumbs .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main__breadcrumbsLink {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}
.main__breadcrumbsLink:hover {
    text-decoration: underline;
}
.main__breadcrumbsLink:before {
    content: url(../img/icons/breadcrumb.svg);
    margin-right: 9px;
}
.main__breadcrumbsLink-active:before {
    content: url(../img/icons/breadcrumb-green.svg);
}
.main__breadcrumbsLink:first-child {
    margin-left: 0;
}
.main__breadcrumbsLink:first-child:before {
    content: '';
    margin-right: 0;
}
.main__breadcrumbsLink-active {
    color: #46DDCF;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.main__breadcrumbsLink-active:hover {
    text-decoration: none;
}
/*BREADCRUMBS END*/

/*ABOUT*/
.main__decorAbout-1 {
    top: 0;
    right: 0;
}
.main__decorAbout-2 {
    bottom: 0;
    left: 0;
}
.main__about {
    width: 100%;
}
.main__about .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main__about .main__title {
    width: unset;
    margin-bottom: 42px;
}
.main__about .main__title-underline:after {
    left: 0;
    transform: none;
}
.main__aboutContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__aboutContentText {
    font-weight: normal;
    line-height: 160%;
    color: #7B839D;
    max-width: 585px;
    margin-bottom: 20px;
}
.main__aboutImg {
    margin-right: -150px;
}
.main__aboutImg-mobile {
    display: none;
}
.main__about .btn {
    margin-top: 20px;
}
/*ABOUT END*/

/*STRATEGY*/
.main__strategy .wrapper {
    align-items: flex-start;
}
.main__strategy .main__aboutContentText {
    max-width: 435px;
}
.main__strategyItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    padding-top: 40px;
}
.main__strategyItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 270px;
    width: 100%;
    margin: 0 0 35px 30px;
}
.main__strategyItemIcon {
    margin-bottom: 25px;
}
.main__strategyItemText {
    font-weight: normal;
    line-height: 160%;
    color: #7B839D;
}
/*STRATEGY END*/

/*TERMS*/
.main__termsText {
    font-weight: normal;
    line-height: 140%;
    color: #7B839D;
}
.main__termsText span {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}
.main__decorTerms-1 {
    top: 100px;
    left: -450px;
}
.main__decorTerms-2 {
    top: 1437px;
    right: -129px;
}
/*TERMS END*/

/*FAQ*/
.main__faq {
    width: 100%;
}
.main__faq .wrapper {
    align-items: center;
}
.main__faqBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.main__faqBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 23.16%;
    height: 65px;
    background: #FFFFFF;
    cursor: pointer;
    transition: .3s;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(27, 37, 60, 0.05);
    border-radius: 15px;
    padding-left: 20px;
}
.main__faqBtnIcon {
    transition: .3s;
    margin-right: 20px;
}
.main__faqBtnIcon path {
    fill: #46DDCF;
}
.main__faqBtnText {
    transition: .3s;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #1B253C;
}
.main__faqBtn:hover,
.main__faqBtn-active {
    background: #1B253C;
    box-shadow: 0px 15px 50px rgba(27, 37, 60, 0.3);
    border-radius: 15px;
}
.main__faqBtn:hover .main__faqBtnIcon path,
.main__faqBtn-active .main__faqBtnIcon path {
    fill: #FFFFFF;
}
.main__faqBtn:hover .main__faqBtnText,
.main__faqBtn-active .main__faqBtnText {
    color: #FFFFFF;
}

.main__faqTabs {
    margin-top: 20px;
    width: 100%;
}
.main__faqTab {
    display: none;
    flex-direction: column;
    align-items: center;
}
.main__faqTab-active {
    display: flex;
}
.main__faqTabItem {
    width: 100%;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #7B839D;
    box-sizing: border-box;
    border-radius: 15px;
}
.main__faqTabItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 24px 33px 24px 25px;
}
.main__faqTabItemTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #1B253C;
}
.main__faqTabItemText {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #7B839D;
    display: none;
    margin: -9px 90px 24px 25px;
}
.main__faqTabItemIcon {
    transition: .3s;
}
.main__faqTabItemHeader-active .main__faqTabItemIcon {
    transform: rotate(180deg);
}
/*FAQ END*/

/*NEWS PAGE*/
.main__newsPage {
    width: 100%;
}
.main__newsPage .wrapper {
    align-items: flex-start;
}
.main__newsPageTitle {
    font-weight: 500;
    font-size: 40px;
    color: #1B253C;
    margin-bottom: 1px;
}
.main__newsPageDate {
    font-weight: normal;
    color: #7B839D;
    margin-bottom: 20px;
}
.main__newsPageImg {
    margin-bottom: 30px;
    width: 100%;
    max-height: 450px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}
.main__newsPageText {
    font-weight: normal;
    line-height: 160%;
    color: #7B839D;
    margin-bottom: 30px;
}
.main__newsPageText:last-child {
    margin-bottom: 0;
}
/*NEWS PAGE END*/

/*NEWS*/
.main__news {
    width: 100%;
}
.wrapper {
    align-items: center;
}
.main__newsSubtitle {
    font-weight: normal;
    line-height: 160%;
    text-align: center;
    color: #7B839D;
    max-width: 380px;
    margin-top: -27px;
}
.main__newsItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px -15px 0;
}
.main__newsItem {
    margin: 0 15px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 585px;
}
.main__newsItemStar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FFB800;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
}
.main__newsItemStar-green {
    background: #36D100;
}
.main__newsItemStar-red {
    background: #FF0000;
}
.main__newsItemImgWrapper {
    width: 585px;
    height: 350px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.main__newsItemImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.main__newsItemTitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    color: #1B253C;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.main__newsItemText {
    font-weight: normal;
    line-height: 160%;
    color: #7B839D;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.main__newsItemTextBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.main__newsItemDate {
    font-weight: normal;
    line-height: 160%;
    color: #7B839D;
}
.main__newsItemLink {
    font-weight: normal;
    line-height: 160%;
    color: #1B253C;
}
.main__newsItemLink:hover {
    text-decoration: none;
}
.main__newsNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.main__newsNavLink {
    width: 40px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #7B839D;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-weight: normal;
    text-align: center;
    color: #7B839D;

    transition: .3s;
    margin: 0 5px;
}
.main__newsNavLink:hover {
    color: #FFFFFF;
    background: #1B253C;
}
.main__newsNavLink-left {
    background: #1B253C;
    margin-left: -1px;
}
.main__newsNavLink-right {
    background: #1B253C;
}
.main__newsNavLink-right .main__newsNavLinkIcon {
    transform: rotate(180deg);
    margin-right: -2px;
    margin-bottom: -1px;
}
.main__newsNavLinkIcon {

}
.main__newsNavLink-active {

}
/*NEWS END*/

/*ROADMAP*/
.main__roadmap {
    width: 100%;
}
.main__roadmap .wrapper {

}
.main__roadmapSubtitle {
    max-width: unset;
}
.main__roadmapBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.main__roadmapColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
    padding-bottom: 40px;
    position: relative;
}
.main__roadmapColumn:first-child {
    margin-right: 105px;
}
.main__roadmapColumn:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 10px;
    height: calc(100% - 60px);
    top: 60px;
    background: #1B253C;
}
.main__roadmapColumnTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 160%;
    color: #000000;
}
.main__roadmapColumnTitle:after {
    position: absolute;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #1B253C;
    left: -5px;
    top: 50px;
}
.main__roadmapColumnTitle:before {
    position: absolute;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #1B253C;
    left: -5px;
    bottom: -5px;
}
.main__roadmapColumnItem {
    max-width: 415px;
    padding-top: 63px;
}
.main__roadmapColumnItemTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #1B253C;
    margin-bottom: 10px;
}
.main__roadmapColumnItemText {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #7B839D;
}
.main__roadmapColumnItemCircle {
    width: 80px;
    height: 80px;
    background: #1B253C;
    box-shadow: 0px 0px 15px rgba(27, 37, 60, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 15px;
    position: relative;
}
.main__roadmapColumnItemCircle:before {
    position: absolute;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #1B253C;
    left: -95px;
}
.main__roadmapColumnItemCircle:after {
    position: absolute;
    content: '';
    display: block;
    border: 1px dashed #1B253C;
    width: 92px;
    left: -94px;
}
.main__roadmapColumnItemCircleText {
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: #46DDCF;
}
.main__roadmapColumnItem-inactive .main__roadmapColumnItemCircle {
    background: #DCDCDC;
}
.main__roadmapColumnItem-inactive .main__roadmapColumnItemCircle:after {
    border: 1px dashed #DCDCDC;
    z-index: -1;
}
.main__roadmapColumnItem-inactive .main__roadmapColumnItemTitle {
    opacity: .4;
}
.main__roadmapColumnItem-inactive .main__roadmapColumnItemCircleText {
    opacity: .4;
}
.main__roadmapColumnItem-inactive .main__roadmapColumnItem {

}
/*ROADMAP END*/

/*MAIN MEDIA*/
@media screen and (max-width: 1230px) {
    .wrapper {
        max-width: 100%;
        width: 100%;
    }
    .owl-item {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .main__plansItem {
        margin: 0 5px 29px;
    }

    .main__header,
    .main__plansItems,
    .main__aboutBlock,
    .main__calc,
    .main__activity,
    .main__referral {
        margin-bottom: 50px;
    }
    .main {
        padding-bottom: 50px;
    }

    .main__title {
        margin-bottom: 40px;
    }

    .main__calc .wrapper {
        padding: 0;
    }
    .main__calcForm {
        flex-direction: column;
    }
    .main__calcFormInput {
        margin-bottom: 10px;
    }
    .main__calcFormInput:last-child {
        margin-bottom: 0;
    }
    .main__calcFormBtn {
        margin-top: 20px;
    }

    .main__chart .wrapper {
        padding: 0;
    }

    .main__referral .wrapper {
        padding: 0;
    }
    .main__referralBlock {
        padding: 80px 40px;
    }
    .main__referralRow {
        flex-direction: column;
    }
    .main__referralRowText {
        margin: 0 0 20px 0;
    }

    .main__newsItems {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 1023px) {
    .main {
        padding-top: 70px;
    }

    .footer__right {
        margin-right: 0;
        margin-left: 70px;
    }
    .footer .wrapper {
        justify-content: center;
    }
    .footer__rightItemsColumn:first-child {
        margin-right: 100px;
    }

    .header {
        position: fixed;
        padding: 0;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        height: 70px;
        z-index: 11;
    }
    .header__navBtn {
        display: none;
    }
    .header__navBtn-mobile {
        display: flex;
    }
    .ham {
        display: block;
        margin: -15px;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 15px 0;
    }
    .header__navWrapper {
        position: fixed;
        top: 80px;
        right: -220px;
        width: 200px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px 0 0 10px;
        transition: .3s;
        z-index: 12;
    }
    .header__navWrapper-active {
        right: 0;
    }
    .header__navItem {
        margin: 2px 0;
    }
    .header__navItem.link-animation:after {
        bottom: 0;
    }
    .body-fixed {
        overflow-y: hidden;
    }
    .header__navBtn-mobile {
        height: 40px;
        margin-top: 10px;
    }
    .header__navLangBlock {
        margin-left: 15px;
    }

    .main__activityItems {
        justify-content: center;
    }

    .main__header {
        padding: 150px 0;
    }

    .main__aboutImg {
        display: none;
    }
    .main__aboutImg-mobile {
        display: block;
    }
    .main__about .btn {
        display: none;
    }
    .main__aboutContent {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .main__about .main__title {
        width: 100%;
    }
    .main__about .main__title-underline:after {
        left: 50%;
        transform: translateX(-50%);
    }
    .main__about .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .main__aboutImg {
        margin: -20px -40px 30px;
        max-width: 700px;
        width: 140%;
    }
    .main__aboutContentText {
        max-width: 100%;
    }

    .main__strategy .main__aboutContentText {
        max-width: 100%;
    }

    .main__faqBtns {
        flex-direction: column;
        width: 100%;
    }
    .main__faqBtn {
        margin-bottom: 10px;
        width: 100%;
        height: 65px;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }
    .main__faqBtnText {
        width: 100%;
        text-align: left;
    }
    .main__faqBtnIcon {
        margin-bottom: 0;
    }
    .main__faqBtn:last-child {
        margin-bottom: 0;
    }
    .main__faqTabs {
        margin-top: 20px;
    }
}
@media screen and (max-width: 820px) {
    .main__plansItem {
        width: 100%;
        margin: 0 15px 29px;
        padding: 30px 15px 45px;
        height: auto;
    }
    .main__plansItemImg {
        margin-bottom: 40px;
    }
    .main__plansItemText {
        font-size: 16px;
    }
    .main__plansItemDelimiter {
        margin: 15px 0;
    }
    .main__plansItemLineText {
        margin-top: 13px;
    }
    .main__plansItemTitle {
        margin-bottom: 20px;
    }

    .main__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .main__referralBlock {
        padding: 30px 15px;
    }
    .main__title-referral {
        margin-bottom: 20px;
    }
    .main__referralRowText {
        max-width: unset;
        font-size: 20px;
    }
    .main__referralDelimiter {
        margin: 40px 0 20px;
    }
    .main__referralRowContent {
        flex-direction: column;
    }
    .main__referralItem {
        flex-direction: row;
        align-items: center;
    }
    .main__referralItemText {
        flex-direction: row;
        margin-left: 15px;
    }
    .main__referralItemText span {
        font-size: 20px;
        margin-left: 5px;
    }
    .main__referralItemLine {
        width: 1px;
        height: 30px;
        margin-left: 24px;
        margin-top: -5px;
    }
    .main__referralItemImgBlock {
        width: 50px;
        height: 50px;
    }
    .main__referralItemImg {
        max-height: 30px;
    }
    .main__referralRow-daily .main__referralItemImgBlock {
        border-radius: 20px;
    }

    .main__plans .main__title {
        font-weight: 600;
        font-size: 40px;
    }

    .main__decorAbout-1,
    .main__decorAbout-2,
    .main__decorTerms-1,
    .main__decorTerms-2 {
        display: none;
    }

    .main__faqTabItem {
        border-radius: 10px;
    }
    .main__faqTabItemTitle {
        font-size: 16px;
        line-height: 24px;
    }
    .main__faqTabItemIcon {
        min-width: 14px;
        width: 14px;
        margin-left: 14px;
    }
    .main__faqTabItemHeader {
        padding: 14px 20px;
    }
    .main__faqTabItemText {
        font-size: 14px;
        line-height: 21px;
        margin: -3px 34px 22px 20px;
    }

    .main__roadmapBlock {
        flex-direction: column;
    }
    .main__roadmapColumn:first-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 720px) {
    .main__breadcrumbs {
        padding-top: 10px;
        margin-bottom: 30px;
    }

    .footer .wrapper {
        padding: 40px 15px;
    }
    .footer__right {
        display: none;
    }
    .footer__left {
        align-items: center;
    }
    .footer__leftBtns {
        width: 100%;
        justify-content: center;
        margin-top: 28px;
    }
    .footer__bottom {
        height: 48px;
    }
    .footer__bottomText {
        font-size: 12px;
    }
    .footer__text {
        text-align: center;
    }
    .footer__logoLink {
        margin-bottom: 30px;
    }

    .main__calcBlock {
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .main__calcText {
        font-size: 20px;
    }
    .main__calcText span {
        font-size: 20px;
    }
    .main__calcForm {
        margin-bottom: 25px;
        max-width: 400px;
        width: 100%;
        align-items: center;
    }
    .main__calcFormBtn {
        width: 100%;
    }
    .main__calcFormInput {
        width: 100%;
    }
    .main__title-calc {
        margin-bottom: 20px;
    }

    .main__header,
    .main__plansItems,
    .main__calc,
    .main__activity,
    .main__referral {
        margin-bottom: 30px;
    }
    .main {
        padding-bottom: 30px;
    }
    .main__aboutBlock {
        margin-bottom: 50px;
    }

    .main__activity .main__title {
        margin-bottom: 20px;
    }
    .main__activityItems {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .main__activityItem {
        height: 119px;
        margin: 0 0 10px 0;
        width: 100%;
    }
    .main__activityItem:last-child {
        margin-bottom: 0;
    }
    .main__activityItemTitle {
        font-size: 25px;
    }

    .main__aboutBlock .btn {
        margin-top: -12px;
    }
    .main__aboutBlock .btn {
        max-width: 400px;
        width: 100%;
    }
    .main__aboutBlockText {
        text-align: left;
    }

    .main__header {
        padding: 50px 0 30px;
    }
    .main__headerTitle {
        font-weight: bold;
        font-size: 34px;
        line-height: 51px;
        color: #19233B;
        text-align: left;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .main__header {
        margin-bottom: 0;
    }
    .main__headerBtn {
        display: none;
    }
    .main__headerBtn-mobile {
        display: flex;
    }
    .main__headerText {
        font-weight: normal;
        text-align: left;
    }
    .main__headerBtns {
        margin-top: 90px;
    }
    .main__headerDecor-1 {
        top: 200px;
        right: -80px;
    }
    .main__headerDecor-2 {
        display: none;
    }

    .main__strategyItems {
        max-width: 100%;
        flex-direction: column;
        padding-top: 10px;
    }
    .main__strategyItem {
        margin-left: 0;
        max-width: 100%;
    }
    .main__strategyItem:last-child {
        margin-bottom: 20px;
    }

    .main__newsPageTitle {
        font-size: 30px;
        line-height: 160%;
    }
    .main__newsPageText:last-child {
        margin-bottom: 20px;
    }
    .main__newsPageImg {
        max-height: 200px;
        height: 200px;
    }

    .main__newsSubtitle {
        margin-top: 0px;
        text-align: left;
    }
    .main__newsItems {
        margin-top: 30px;
    }
    .main__newsItem {
        max-width: 100%;
    }
    .main__newsItemImgWrapper {
        height: 200px;
        width: 100%;
        margin-bottom: 10px;
    }
    .main__newsItemTextBlock {
        margin-top: 15px;
    }
    .main__newsNav {
        margin-bottom: 20px;
    }

    .main__roadmapColumn {
        padding-left: 0;
        padding-bottom: 50px;
    }
    .main__roadmapColumn:last-child {
        padding-bottom: 20px;
    }
    .main__roadmapColumn:after {
        display: none;
    }
    .main__roadmapColumnTitle:after {
        display: none;
    }
    .main__roadmapColumnItemCircle:before {
        display: none;
    }
    .main__roadmapColumnItemCircle:after {
        display: none;
    }
    .main__roadmapColumnTitle:before {
        display: none;
    }
    .main__roadmapColumnItem {
        max-width: 100%;
        padding-top: 30px;
    }
    .main__roadmapSubtitle {
        text-align: center;
    }
    .main__roadmapBlock {
        margin-top: 20px;
    }
}
/*MAIN MEDIA END*/