.response__content {
  display: none;
  &-active {
    display: block;
    position: absolute;
    top: 48px;
    background-color: $color_btn;
    height: 100vh;
  }
  .content {
    &__log {
      display: flex;
      align-items: center;
      height: 49px;
      border-bottom: 1px solid $chat_border_color;
      padding-left: 26px;
      margin-bottom: 26px;
      ul {
        display: flex;
        li {
          a {
            color: $bg_header;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
          }
          &:not(:last-child) {
            margin-right: 4px;
          }
        }
      }
    }
  }
  .container__video {
    display: block;
  }
}
