.news-content {
    margin: 40px 0;
}

.news-image {
    margin: 0 0 20px 0;
}

.news-image img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.news-tab {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 300px;
    background: #FFFFFF;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 20px;
}
.news-tab__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-height: 260px;
}
.news-tab__contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news-tab:last-of-type {
    margin: 0;
}

.all-news-image {
    min-width: 360px;
    width: 360px;
    height: 260px;
    margin-right: 30px;
}

.all-news-image img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

h3.news-name {
    font-size: 22px;
    color: #303236;
    margin: 0 0 15px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pag-num {
    width: 40px;
    display: flex;
    align-items: center;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #303236;
    box-sizing: border-box;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 18px;
    color: #303236;
    transition: .3s;
    cursor: pointer;
}
.pag-num:hover {
    background: #e7e2e2;
}
.pag-num.arrows {
    background: #0B42D5;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
}
.pag-num.arrows:hover {
    background: #1853ec;
}
.pag-num.arrows.left {
    padding: 0 3px 0 0;
}
.pag-num.arrows.rigth {
    padding: 0 0 0 3px;
}

.news-tab__fav {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: #36D100;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.news-tab__fav:hover {
    background: #2cb402;
}
.news-tab__fav-red {
    background: #FF0000;
}
.news-tab__fav-red:hover {
    background: #d40303;
}
.news-tab__fav-yellow {
    background: #FFD600;
}
.news-tab__fav-yellow:hover {
    background: #d4b303;
}


.news-p {
    font-size: 18px;
    color: #898989;
}
.news-date {
    font-family: Jost, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #0B42D5;
    margin-bottom: 15px;
}
.news-full {
    font-family: Jost, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #0B42D5;
    text-decoration: underline;
}
.news-full:hover {
    text-decoration: none;
}

.news-tab-big {
    width: 100%;
}
.news-tab-big__img {
    float: left;
    margin-bottom: 20px;
}

.news-tab-big .news-tab__content {
    display: unset;
}
.news-tab__contentWrapper {
    clear: right;
    display: unset;
}

.news-tab-certificate {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 569px;
}
.news-tab-certificate .news-tab__content {
    justify-content: space-between;
    height: 100%;
}
.certificate-link {
    margin-right: 30px;
}
.certificate-link__img {
    max-width: 440px;
    min-width: 440px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

@media screen and (max-width: 1023px) {
    .news-tab {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .all-news-image {
        width: 100%;
        margin-bottom: 10px;
        height: 200px;
        min-width: 100%;
    }
    .news-tab-big__img {
        margin-bottom: 0;
    }
    .news-p {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .news-tab-big .news-p {
        margin-bottom: 0;
    }
    h3.news-name {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .news-date {
        margin-bottom: 10px;
    }
    .news-tab__content {
        min-height: unset;
    }
    .news-tab {
        padding: 10px;
        margin-bottom: 20px;
    }
    .news-content {
        margin: 30px 0;
    }
    .news-tab__fav {
        top: 20px;
        left: 20px;
    }

    .news-tab-certificate {
        flex-direction: column;
        align-items: center;
        height: unset;
    }
    .certificate-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .certificate-link__img {
        width: 100%;
        min-width: unset;
    }
    .news-tab-certificate .btn {
        margin-top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .news-image {
        height: 290px;
        margin: 0 0 10px 0;
    }
    h3.news-name {
        margin: 0 0 5px 0;
    }
}

@media screen and (max-width: 380px) {
    .pag-num {
        width: 30px;
        height: 30px;
    }
}