@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: #273A31;
}

html, body {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1270px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 50px;
}

/*BUTTON*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    width: 158px;
    height: 40px;
    box-shadow: 0 10px 30px rgba(14, 70, 40, 0.2);
    background: #12AF65;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}
.button:hover {
    background: #15C377;
}
.button-white {
    width: 100px;
    height: 40px;
    color: #12AF65;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #12AF65;
    box-shadow: unset;
}
.button-white:hover {
    background: #12AF65;
    border: 1px solid #12AF65;
    color: #FFFFFF;
}
/*BUTTON END*/

/*INPUT*/
.main-input__input {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #D6EAE2;
    border-radius: 2px;
    padding-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #1C2523;
    outline: none;
    transition: .3s;
}
.main-input__input::placeholder {
    color: #9CB0A8;
}
.main-input__input:focus {
    border: 1px solid #12AF65;
}
.main-input__error {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    font-weight: 500;
    font-size: 12px;
    line-height: 170%;
    color: #EC4C4C;
    height: 20px;
    margin: 5px 0;
}
.main-input__block-error .main-input__error {
    opacity: 1;
    visibility: visible;
}
.main-input__block-error .main-input__input {
    border: 1px solid #E06A6A;
}
/*INPUT*/

/*DECOR*/
.main-decor {
    position: absolute;
    z-index: 1;
}
.main-decor__1 {
    left: 0;
    top: 0;
    z-index: -1;
}
.main-decor__2 {
    left: 273px;
    top: -55px;
}
.main-decor__3 {
    right: 273px;
    bottom: -51px;
}
.main-decor__4 {
    left: 273px;
    top: -55px;
}
.main-decor__5 {
    right: 273px;
    bottom: -51px;
}
.main-decor__6 {
    left: 274px;
    top: -51px;
}
.main-decor__7 {
    top: 100px;
    right: 111px;
}
.main-decor__8 {
    bottom: 100px;
    right: 111px;
}
.main-decor__9 {
    display: none;
}
/*DECOR END*/

/*SCROLLUP*/
.scrollup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 100px;
    bottom: 100px;
    width: 70px;
    height: 70px;
    border: 2px solid #12AF65;
    background: transparent;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.scrollup-active {
    opacity: 1;
    visibility: visible;
}
.scrollup__img {
    opacity: 1;
    transition: .3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.7);
}
.scrollup__img-hover {
    opacity: 0;
}
.scrollup:hover {
    background: #12AF65;
}
.scrollup:hover .scrollup__img {
    opacity: 0;
}
.scrollup:hover .scrollup__img-hover {
    opacity: 1;
}
/*SCROLLUP END*/

/*HEADER*/
.header {
    margin-top: 25px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .wrapper {
    max-width: 1820px;
    width: 100%;
    padding: 0 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__burger {
    display: none;
    cursor: pointer;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.header-logo__mobile {
    display: none;
}
.header-logo__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #12AF65;
    border-radius: 50%;
}
.header-logo__circleText {
    font-weight: bold;
    font-size: 24px;
    line-height: 170%;
    color: #FFFFFF;
}
.header-logo__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 170%;
    color: #12AF65;
    margin-left: 15px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
.header-nav__link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #1C2523;
    transition: .3s;
    margin-right: 60px;
}
.header-nav__link:hover {
    color: #12AF65;
}
.header-nav__link:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #12AF65;
    position: absolute;
    bottom: -7px;
    left: 0;
    transform: scale(0, 1);
    transition: .3s;
}
.header-nav__link:hover:after {
    transform: scale(1, 1);
}
.header-nav__link-active {
    color: #12AF65;
}
.header-nav__link-active:after {
    transform: scale(1, 1);
}

.header-buttons {
    display: flex;
    flex-direction: row;
}
.header-buttons__button:last-child {
    margin-left: 30px;
}

.header-lang {
    position: relative;
    margin-left: 100px;
}
.header-lang__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.header-lang__text {
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1C2523;
    transition: .3s;
    text-decoration: none;
}
.header-lang__arrow {
    margin-left: 5px;
}
.header-lang__arrow-mobile {
    display: none;
}
.header-lang__dropdown {
    position: absolute;
    top: 43px;
    left: -42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(30, 132, 77, 0.1);
    padding: 24px 20px 30px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.header-lang__dropdown:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    top: -8px;
}
.header-lang__dropdown .header-lang__text {
    margin-bottom: 15px;
}
.header-lang__dropdown .header-lang__text:last-child {
    margin-bottom: 0;
}
.header-lang__dropdown .header-lang__text:hover {
    color: #12AF65;
}
.header-lang__text-active {
    cursor: default;
    color: #CDDDD6;
}
.header-lang__dropdown .header-lang__text-active:hover {
    color: #CDDDD6;
}
.header-lang:hover .header-lang__dropdown {
    visibility: visible;
    opacity: 1;
}

.header-mask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background: rgba(28, 37, 35, .6);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header-mask__active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.header-mobile__toggleBlock {
    display: none;
    position: fixed;
    top: 0;
    left: -270px;
    z-index: 11;
    width: 260px;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: -webkit-fill-available;
    background: #FFFFFF;
    transition: .3s;
}
.header-mobile__toggleBlock-active {
    left: 0;
}
.header-mobile__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.header-mobile__contentUp {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-mobile__header {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #12AF65;
    padding: 0 20px 0 30px;
}
.header-mobile__icon {
    cursor: pointer;
}
.header-mobile__user {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-mobile__userAvatar {
    width: 40px;
    height: 40px;
    border: 2px solid #EFF9F4;
    border-radius: 50%;
}
.header-mobile__userAvatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.header-mobile__userTextBlock {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-mobile__userText {
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    color: #FFFFFF;
}
.header-mobile__userLink {
    font-weight: 500;
    font-size: 12px;
    line-height: 170%;
    color: #FFFFFF;
    text-decoration: underline;
}
.header-mobile__userLink:hover {
    text-decoration: none;
}
.header-mobile__nav {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-mobile__navLink {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    transition: .3s;
    border-left: 4px solid transparent;
    padding-left: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    color: #375044;
}
.header-mobile__navLink-active,
.header-mobile__navLink:hover {
    background: #EFF9F4;
    border-left: 4px solid #12AF65;
    color: #12AF65;
}
.header-mobile__contentDown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 26.6px 30px 30px;
}
.header-mobile__contentDown .footer-right__phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #273A31;
}
.header-mobile__delimiter {
    display: block;
    width: 1px;
    height: 27px;
    background: #E9E9E9;
}
.header-mobile__contentRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.header-mobile__contentRow .footer-right__nets {
    margin-left: 0;
    flex-direction: row;
    align-items: center;
}
.header-mobile__contentRow .footer-right__net:last-child {
    margin-top: 0;
    margin-left: 25px;
}
.body-fixed {
    overflow-y: hidden;
}
/*HEADER END*/

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
}

.main__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 140%;
    color: #273A31;
}
.main__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #1C2523;
}

.main-header {
    margin-top: 45px;
    padding-bottom: 147px;
}
.main-header .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main-header__content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-header__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    color: #273A31;
}
.main-header__text {
    margin: 60px 0;
    max-width: 370px;
}
.main-header__link {
    width: 300px;
    height: 70px;
}
.main-header__img {
    margin-right: -375px;
}

.main-counters {
    background: #EFF9F4;
    padding: 180px 0;
    position: relative;
}
.main-counters .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main-counters__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 234px;
}
.main-counters__number {
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #12AF65;
}
.main-counters__delimiter {
    display: block;
    width: 234px;
    height: 0;
    border: 1px dashed #12AF65;
    margin: 45px 0 40px;
}
.main-counters__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #273A31;
}

.main-pros {
    width: 100%;
    padding: 150px 0;
}
.main-pros .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-pros__title {
    margin-bottom: 30px;
}
.main-pros__text {
    max-width: 789px;
    text-align: center;
    margin-bottom: 100px;
}
.main-pros__content {
    display: flex;
    flex-direction: row;
}
.main-pros__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.main-pros__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    min-width: 420px;
    z-index: 1;
}
.main-pros__itemText {
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #273A31;
    width: 100%;
    max-width: 320px;
    text-align: right;
}
.main-pros__itemCircle {
    margin-left: 30px;
    min-width: 65px;
    min-height: 65px;
    border-radius: 50%;
    background: #12AF65;
    box-shadow: 0 4px 20px rgba(30, 132, 77, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-pros__imgBlock {
    position: relative;
    min-width: 749px;
    min-height: 749px;
    border: 1px dashed #A2DBC0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-pros__img {
    border-radius: 50%;
}
.main-pros__img-mobile {
    display: none;
}
.main-pros__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.main-pros__right .main-pros__itemText {
    text-align: left;
}
.main-pros__right .main-pros__itemCircle {
    margin-left: 0;
    margin-right: 30px;
}
.main-pros__left .main-pros__item:nth-child(1) {
    top: 105px;
    left: -310px;
}
.main-pros__left .main-pros__item:nth-child(2) {
    top: 330px;
    left: -382px
}
.main-pros__left .main-pros__item:nth-child(3) {
    top: 558px;
    left: -310px;
}
.main-pros__right .main-pros__item:nth-child(1) {
    top: 105px;
    right: -310px;
}
.main-pros__right .main-pros__item:nth-child(2) {
    top: 330px;
    right: -382px;
}
.main-pros__right .main-pros__item:nth-child(3) {
    top: 558px;
    right: -310px;
}

.main-quote {
    background: #EFF9F4;
    padding: 150px 0;
    position: relative;
}
.main-quote .wrapper {
    width: 100%;
}
.main-quote__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 170%;
    color: #273A31;
}
.main-quote__text a {
    font-weight: normal;
    font-size: 24px;
    line-height: 170%;
    color: #12AF65;
    text-decoration: none;
}
.main-quote__text a:hover {
    text-decoration: underline;
}

.main-about {
    padding: 140px 0;
}
.main-about .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main-about__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-about__title {
    margin-bottom: 40px;
}
.main-about__text {
    margin-bottom: 30px;
    max-width: 470px;
}
.main-about__button {
    width: 300px;
    height: 60px;
    margin-top: 30px;
}
.main-about__img {
    margin-right: -246px;
}
.main-about__img-mobile {
    display: none;
}

.main-questions {
    background: #EFF9F4;
    padding: 254px 0 202px;
    position: relative;
}
.main-questions .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.main-questions__img {
    margin-left: -183px;
}
.main-questions__img-mobile {
    display: none;
}
.main-questions__content {
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-questions__title {
    margin-bottom: 30px;
}
.main-questions__text {
    margin-bottom: 50px;
    max-width: 470px;
}
.main-questions__form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.main-questions__formButton {
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
/*MAIN END*/

/*FOOTER*/
.footer {
    display: flex;
    flex-direction: column;
}
.footer-content {
    width: 100%;
    padding: 70px 0 80px;
}
.footer-content .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-left .header-buttons {
    margin-top: 74px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-right__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #273A31;
    margin-bottom: 31px;
}
.footer-right__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-right__time {
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #1C2523;
    margin-right: 52px;
}
.footer-right__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #12AF65;
}
.footer-right__phone:hover {
    text-decoration: underline;
}
.footer-right__phoneIcon {
    margin-right: 20px;
}
.footer-right__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 39px;
}
.footer-right__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-right__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 199px;
    height: 40px;
    border: 1px solid #12AF65;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #12AF65;
    text-decoration: none;
    transition: .3s;
}
.footer-right__button:hover {
    color: #FFFFFF;
    background: #12AF65;
}
.footer-right__button:hover .footer-right__buttonIcon {
    filter: invert(100%) sepia(0%) saturate(0%) brightness(1000%);
}
.footer-right__button:last-child {
    margin-left: 29px;
}
.footer-right__buttonIcon {
    margin-right: 10px;
    transition: .3s;
}
.footer-right__nets {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 68px;
}
.footer-right__net {
    transition: .3s;
}
.footer-right__net:hover {
    opacity: .8;
}
.footer-right__net:last-child {
    margin-left: 30px;
}
.footer-copyright {
    width: 100%;
    height: 70px;
    background: #EFF9F4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-copyright__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 170%;
    text-align: center;
    color: #1C2523;
}
/*FOOTER END*/

/*RESPONSIVE FIX*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.5;
        -ms-zoom: 0.5;
        -webkit-zoom: 0.5;
        -moz-transform: scale(0.5, 0.5);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 150vw;
        }
    }
}
@media screen and (max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media screen and (max-width: 1459px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media screen and (max-width: 1457px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1025px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (                min-resolution: 192dpi) and ( max-width: 1025px), only screen and (                min-resolution: 2dppx) and ( max-width: 1025px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1020px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (                min-resolution: 192dpi) and ( max-width: 1020px), only screen and (                min-resolution: 2dppx) and ( max-width: 1020px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;

    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
}
/*RESPONSIVE FIX END*/

/*MEDIA*/
@media screen and (max-width: 1160px) {
    .main {
        padding-top: 58px;
    }
    .header {
        margin-top: 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        height: 58px;
        background: #12AF65;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .header .wrapper {
        padding: 0 16px;
    }
    .header-block .header-nav {
        display: none;
    }
    .header-block .header-buttons {
        display: none;
    }
    .header-lang {
        margin-left: 0;
    }
    .header__burger {
        display: block;
        margin-right: 13.55px;
    }
    .header-logo__mobile {
        display: flex;
    }
    .header-block .header-logo {
        display: none;
    }
    .header-lang__text {
        font-size: 14px;
    }
    .header-lang__block .header-lang__text {
        color: #FFFFFF;
    }
    .header-lang__arrow {
        margin-left: 8px;
        display: none;
    }
    .header-lang__arrow-mobile {
        display: block;
    }
    .header .wrapper .header-block:nth-child(3) {
        display: none;
    }
    .header-lang__dropdown {
        padding: 15px;
        top: 35px;
    }
    .header-lang__dropdown .header-lang__text {
        margin-bottom: 10px;
    }
    .header-lang__dropdown:before {
        right: 34px;
    }

    .header-mobile__toggleBlock {
        display: block;
    }

    .main-pros__imgBlock {
        display: none;
    }
    .main-pros__img-mobile {
        display: block;
    }
    .main-pros__content {
        flex-direction: column;
        width: 100%;
    }
    .main-pros__item {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .main-pros__left .main-pros__item:nth-child(1) {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .main-pros__left .main-pros__item:nth-child(2) {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .main-pros__left .main-pros__item:nth-child(3) {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .main-pros__right .main-pros__item:nth-child(1) {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .main-pros__right .main-pros__item:nth-child(2) {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .main-pros__right .main-pros__item:nth-child(3) {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
    .main-pros__item {
        margin-bottom: 32px;
        width: 100%;
        min-width: unset;
    }
    .main-pros__item:last-child {
        margin-bottom: 0;
    }
    .main-pros__img-mobile {
        max-width: 100%;
        width: 100%;
        margin: 40px 0;
    }
    .main-pros__itemText {
        font-size: 16px;
    }
    .main-pros__itemCircle {
        margin-left: 0;
        margin-right: 20px;
    }
    .main-pros__left .main-pros__item {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .main-pros__itemText {
        text-align: left;
        width: auto;
    }
    .main-pros__left {
        width: 100%;
        align-items: flex-start;
    }
    .main-pros__itemCircle {
        min-width: 48px;
        min-height: 48px;
    }
    .main-pros__itemCircleIcon {
        max-height: 20px;
    }
}
@media screen and (max-width: 1023px) {
    .wrapper {
        padding: 0 40px;
    }
    .main__title {
        font-size: 24px;
    }
    .button {
        font-size: 14px;
    }
    .scrollup {
        width: 50px;
        height: 50px;
        right: 40px;
        bottom: 50px;
    }
    .main-input__input {
        font-size: 10px;
        height: 50px;
        padding-left: 24px;
    }
    .main-input__error {
        font-size: 10px;
        margin-top: 1px;
        margin-bottom: 2px;
        height: 17px;
    }
    .main__text {
        font-size: 12px;
    }

    .main-counters {
        padding: 70px 0;
    }
    .main-decor__2 {
        width: 55px;
        height: 55px;
        left: -27px;
        top: 79px;
    }
    .main-decor__3 {
        width: 55px;
        height: 55px;
        right: -27px;
        top: 293px;
    }
    .main-decor__9 {
        display: block;
        width: 55px;
        height: 55px;
        left: -27px;
        top: 507px;
    }

    .main-quote {
        padding: 125px 0;
    }
    .main-quote__text {
        font-size: 18px;
    }
    .main-quote__text a {
        font-size: 18px;
    }
    .main-decor__4 {
        width: 55px;
        height: 55px;
        left: -27px;
        top: 0;
    }
    .main-decor__5 {
        width: 55px;
        height: 55px;
        right: -27px;
        bottom: 0;
    }

    .main-about {
        padding: 70px 0;
    }
    .main-about__img {
        display: none;
    }
    .main-about__img-mobile {
        display: block;
        margin-right: 0;
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-bottom: 40px;
    }
    .main-about__title {
        margin-bottom: 0;
    }
    .main-about__text {
        max-width: 100%;
        margin-bottom: 24px;
    }
    .main-about__button {
        margin-top: 16px;
        width: 100%;
        height: 50px;
    }

    .main-questions {
        padding: 70px 0;
    }
    .main-questions__img {
        display: none;
    }
    .main-questions__img-mobile {
        display: block;
        margin-left: 0;
        margin-bottom: 40px;
        width: 100%;
        z-index: 1;
    }
    .main-questions__form {
        width: 100%;
    }
    .main-questions__content {
        width: 100%;
    }
    .main-questions__text {
        margin-bottom: 40px;
        max-width: 100%;
    }
    .main-questions__formButton {
        height: 50px;
        margin-top: 0;
    }
    .main-questions__title {
        margin-bottom: 40px;
    }
    .main-decor__6 {
        display: none;
    }
    .main-decor__7 {
        z-index: 0;
        width: 55px;
        height: 55px;
        left: 16px;
        top: 131px;
    }
    .main-decor__8 {
        width: 55px;
        height: 55px;
        right: 16px;
        bottom: 328px;
        z-index: 2;
    }
    .main-questions__content {
        margin-top: 0;
    }

    .main-header {
        margin-top: 0;
        padding-top: 50px;
        padding-bottom: 92px;
        background: url(../img/main/header-mobile.png) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .main-decor__1 {
        display: none;
    }
    .main-header__img {
        display: none;
    }
    .main-header__link {
        width: 209px;
        height: 50px;
    }
    .main-header__text {
        margin-bottom: 76px;
    }
    .main-header__title {
        font-size: 24px;
        line-height: 150%;
        max-width: 100%;
    }

    .footer-content {
        padding: 70px 0 60px;
    }
    .footer-content .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer-copyright {
        height: unset;
        background: transparent;
        padding-bottom: 60px;
    }
    .footer-copyright__text {
        font-size: 12px;
    }
    .footer-left .header-buttons {
        margin-top: 37px;
    }
    .header-buttons__button:last-child {
        margin-left: 22px;
    }
    .footer-right {
        max-width: 280px;
        width: 100%;
        margin-top: 60px;
        align-items: flex-start;
    }
    .footer-right__block {
        flex-direction: column;
    }
    .footer-right__time {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer-right__text {
        margin-bottom: 20px;
    }
    .footer-right__social {
        margin-top: 40px;
        flex-direction: row-reverse;
    }
    .footer-right__buttons {
        flex-direction: column;
    }
    .footer-right__button:last-child {
        margin-left: 0;
        margin-top: 20px;
    }
    .footer-right__nets {
        margin-right: 0;
        flex-direction: column;
        margin-left: 40px;
    }
    .footer-right__net:last-child {
        margin-left: 0;
        margin-top: 20px;
    }
    .footer-right__button {
        color: #FFFFFF;
        background: #12AF65;
    }
    .footer-right__button:hover {
        color: #12AF65;
        background: transparent;
    }
    .footer-right__button .footer-right__buttonIcon {
        filter: invert(100%) sepia(0%) saturate(0%) brightness(1000%);
    }
    .footer-right__button:hover .footer-right__buttonIcon {
        filter: unset;
    }

    .main-pros {
        padding: 70px 0;
    }
    .main-pros__title {
        margin-bottom: 24px;
    }
    .main-pros__text {
        max-width: 100%;
        text-align: left;
        margin-bottom: 50px;
    }
    .main-pros .wrapper {
        align-items: flex-start;
    }
}
@media screen and (max-width: 800px) {
    .main-counters .wrapper {
        flex-direction: column;
    }
    .main-counters__block {
        width: 208px;
        margin-bottom: 74px;
    }
    .main-counters__block:last-child {
        margin-bottom: 0;
    }
    .main-counters__text {
        font-size: 16px;
    }
    .main-counters__delimiter {
        width: 100%;
        margin: 20px 0;
    }

    .main-header__text {
        max-width: 211px;
    }
    .main-header__title {
        max-width: 296px;
    }
}
/*MEDIA END*/