@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Gotham Pro", sans-serif;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

html {
    background: #171617 url(../img/grid.svg);
}

body {
    position: relative;
    background: url(../img/bg.png) no-repeat top right;
    background-size: auto 100%;
}

.wrapper {
    max-width: 1770px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
}

/*BUTTON*/
.button {
    width: 400px;
    height: 60px;

    box-sizing: border-box;
    border-radius: 2px;

    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #171617;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
.button:hover {
    background: transparent;
    color: #FFFFFF;
}
/*BUTTON END*/

/*NAME AND INPUT*/
.main__nameAndInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}
.main__nameAndInputInput {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 25px;

    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;

    background: transparent;
    border: 1px solid #FFFFFF;
}
.main__nameAndInputInput::placeholder {
    color: #FFFFFF;
}
.main__nameAndInputAlert {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    position: absolute;
    left: 0;
    width: 100%;
    top: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #FF0000;
    height: 60px;
    z-index: 1;
    padding-left: 15px;
}
.main__nameAndInputAlertIcon {
    margin-right: 10px;
}
.main__nameAndInputAlertText {
    font-family: Circe, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.main__nameAndInput-error .main__nameAndInputInput {
    background: rgba(255, 0, 0, 0.3);
}
.main__nameAndInput-error .main__nameAndInputAlert {
    opacity: 1;
    visibility: visible;
}
.main__nameAndInputFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.main__nameAndInputFooterInput-textarea {
    padding: 15px;
    min-height: 155px;
    resize: none;
}
.main__nameAndInput-textarea .main__nameAndInputFooter {
    height: auto;
    padding: 1px 0;
}

.main__nameAndInput-select .main__nameAndInputFooterInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    /*background: #0B1B2D url(../img/icons/select.svg) no-repeat right center;*/
    background-position: calc(100% - 15px);
}
.main__nameAndInputFooter-month {
    width: 112px;
    margin-right: 20px;
}
.main__nameAndInputFooter-year {
    width: 75px;
}
.main__nameAndInputFooter-day {
    width: 55px;
    margin-right: 20px;
}
.main__nameAndInputFooter-captcha .main__nameAndInputInput {
    padding-left: 105px;
}
.main__nameAndInputFooterNumber {
    padding: 0 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-right: solid 1px #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}
/*NAME AND INPUT END*/

/*BURGER MENU*/
.header-burger {
    display: none;
}
.header-mask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header-mask__active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*BURGER MENU END*/

/*CHECKBOX*/
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 10px;
    cursor: pointer;
    position: relative;

    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
}
.custom-checkbox + label a {
    margin-left: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.custom-checkbox + label a:hover {
    text-decoration: none;
}
.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-bottom: 2px;

    border: 1px solid #FFFFFF;
    border-radius: 3px;
}
.custom-checkbox:checked + label::after {
    content: '';
    display: block;
    background: #FFFFFF;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    position: absolute;
    left: 4px;
    bottom: 6px;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    background-color: #FFFFFF;
}
/*CHECKBOX END*/

/*HEADER*/
.header {
    width: 100%;
    height: 110px;
    padding-top: 65px;
    z-index: 10;
}
.header .wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo {
    max-height: 39px;
}
.header-nav__wrapper {
    height: 100%;
}
.header-nav__wrapper-mobile {
    display: none;
}
.header-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-nav__item {
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
    color: #8B8A8B;
    transition: .3s;
    margin-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.header-nav__item:first-child {
    margin-left: 0;
}
.header-nav__item:hover,
.header-nav__item-active {
    color: #FFFFFF;
}

.header-mask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background: rgba(28, 37, 35, .6);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.header-mask__active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/*HEADER END*/

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 110px);
}
.main-decor {
    position: absolute;
    right: 0;
    top: 0;
}
/*MAIN END*/

/*REGISTRATION*/
.main-registration {
    width: 100%;
}
.main-registration .wrapper {
    align-items: center;
}

.main-form {
    margin: 100px 0;
    width: 830px;
}
.main-form__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 30px;
    white-space: nowrap;
}
.main-form__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}
.main-form__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.main-form__delimiter {
    display: block;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    margin: 0 0 50px;
}

.main-form__buttonBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    margin-top: -30px;
}
/*REGISTRATION END*/

/*LOGIN*/
.main-form__login {
    width: 400px;
    margin-top: 20px;
    align-items: center;
}
.main-form__login .main-form__title {
    text-align: center;
    width: 600px;
    margin-left: -100px;
}
.main-form__loginLink {
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    margin: -5px 0 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
}
.main-form__loginLink:hover {
    text-decoration: none;
}
.main-form__login .main-form__button {
    width: 100%;
}
/*LOGIN*/

/*RESET-2*/
.main-form__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 500px;
    margin-left: -50px;
    margin-bottom: 20px;
}
.main-form__text span {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.main-form__text-margin {
    margin: -10px 0 30px -50px
}
/*RESET-2 END*/

/*THANKS*/
.main-form__text-thanks {
    margin: 0 auto 30px;
}
/*THANKS END*/

/*RESPONSIVE FIX*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1537px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1537px), only screen and (                min-resolution: 192dpi) and ( max-width: 1537px), only screen and (                min-resolution: 2dppx) and ( max-width: 1537px) {
    html {
        zoom: 0.5;
        -ms-zoom: 0.5;
        -webkit-zoom: 0.5;
        -moz-transform: scale(0.5, 0.5);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 150vw;
        }
    }
}
@media screen and (max-width: 1537px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media screen and (max-width: 1459px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media screen and (max-width: 1457px) {
    html {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform: scale(0.8, 0.8);
        -moz-transform-origin: left top;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 125vw;
        }
    }
    html, body {
        min-height: 125vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1025px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1025px), only screen and (                min-resolution: 192dpi) and ( max-width: 1025px), only screen and (                min-resolution: 2dppx) and ( max-width: 1025px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;
    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
    html, body {
        min-height: 100vh;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 1020px), only screen and (        min-device-pixel-ratio: 2) and ( max-width: 1020px), only screen and (                min-resolution: 192dpi) and ( max-width: 1020px), only screen and (                min-resolution: 2dppx) and ( max-width: 1020px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1, 1);
        -moz-transform-origin: unset;

    }
    @supports (-moz-appearance:none) {
        html {
            width: 100vw;
        }
    }
}
/*RESPONSIVE FIX END*/

/*MEDIA*/
@media screen and (max-width: 1535px) {
    .wrapper {
        width: 100%;
    }
    .header {
        padding-top: 0;
        height: 45px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 1026px) {
    .header-burger {
        display: block;
    }
    .header__logo {
        height: 40px;
    }

    .header {
        height: 70px;
        z-index: 11;
        box-shadow: unset;
        margin-top: 0;
    }
    .header .wrapper {
        position: relative;
        z-index: 11;
    }
    .header-nav__wrapper {
        position: fixed;
        top: 0;
        left: -270px;
        z-index: 11;
        width: 260px;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        min-height: -webkit-fill-available;
        background: #1C1B1C;
        transition: .3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .header-nav__wrapper-active {
        left: 0;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .header-nav__item {
        margin-left: 0;
        width: 100%;
        justify-content: center;
        margin-bottom: 40px;
        height: auto;
    }
    .header-nav__item:last-child {
        margin-bottom: 0;
    }
    .body-fixed {
        overflow-y: hidden;
    }
}
@media screen and (max-width: 870px) {
    .main-form {
        width: 100%;
        margin: 30px 0;
    }
    .main-form__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .main-form__row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .main-form__column {
        width: 100%;
    }
    .main-form__delimiter {
        margin: -10px 0 40px;
    }
    .main-form__button {
        width: 100%;
    }

    .main-form__login .main-form__title {
        text-align: center;
        width: unset;
        margin-left: 0;
        white-space: pre-wrap;
    }
    .main-form__text {
        width: 100%;
        margin-left: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .main-form__text span {
        font-size: 16px;
    }
    .main-form__text-margin {
        margin-bottom: 20px;
        margin-top: -5px;
    }
}
@media screen and (max-width: 810px) {
}
/*MEDIA END*/