@font-face {
    font-family: 'Darkline-Regular';
    src: url('../fonts/Darkline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: FuturaPT-Medium;
}
img {
    pointer-events: none;
    user-select: none;
}
input::-webkit-input-placeholder { color: #949494; }
input::-moz-placeholder { color: #949494; }
body {
    min-width: 1440px;
    background: #F9F9F9;
}

/*HEADER*/
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.header__wrapper {
    max-width: 1310px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__infoBlock {
    background: #F9F8F8;
    height: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__infoIcon {
    margin-right: 9px;
}
.header__infoIcon-home {
    margin-bottom: 3px;
}
.header__infoIcon-phone {
    margin-bottom: 4px;
}
.header__infoIcon-calendar {
    margin-right: 7px;
}
.header__infoText {
    font-size: 14px;
    color: #333333;
}
.header__infoText span {
    font-family:FuturaPT-Demi;
}
a.header__infoText {
    text-decoration: none;
}
a.header__infoText:hover {
    text-decoration: underline;
}
.header__infoText-phone {
    margin-left: 22px;
    position: relative;
}
.header__infoText-phone::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FFBD54;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
}
.header__infoText-calendar {
    margin-left: 17px;
}
.header__infoHomeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 193px;
}
.header__infoPhoneBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__infoCalendarBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
}
.header__logo img {
    margin-right: 43px;
    margin-top: -5px;
}
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navLink {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    margin-right: 55px;
}
.header__navLink:hover {
    text-decoration: underline;
}
.header__navLink-active::before {
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: -33.14px;
    background: url(../img/icons/fish.svg);
}
.header__questionBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__questionIcon {
    margin-right: 4.68px;
}
.header__questionText {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
.header__questionText:hover {
    text-decoration: underline;
}
/*HEADER END*/

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9F9F9 url(../img/bg.png);
}
.wrapper {
    max-width: 1310px;
    width: 100%;
}
/*MAIN END*/

/*SERVICES*/
.main__headlineBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main__headlineBlock .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 112px;
}
.main__headlineContentBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 118px;
}
.main__headlineContentTitle {
    font-family:FuturaPT-Bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    margin-bottom: 27px;
}
.main__headlineContentTitle-services {
    margin-bottom: 21px;
}
.main__headlineContentText {
    max-width: 447px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}
.main__headlineBlockImg {
    margin-right: -58px;
    margin-top: -25px;
    margin-bottom: -7px;
}
.main__servicesBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__servicesBlock .wrapper {
    max-width: 1340px;
}
.main__servicesTabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 153px;
    justify-content: space-between;
}
.main__servicesTabButton {
    transition: .3s;
    background: #FFBD54;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    width: 156px;
    height: 50px;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__servicesTabButton-blue {
    background: #78C0DE;
}
.main__servicesTabButton:hover {
    text-decoration: underline;
}
.main__servicesTab {
    margin: 14px;
    width: 305.05px;
    height: 421.3px;
    background: #FFFFFF url(../img/services/pet.svg) no-repeat;
    background-position: top right;
    padding: 58px 22px 0 53px;
    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    transition: .3s;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__servicesTab:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.main__servicesTab:hover .main__servicesTabButton {
    background: #000000;
}
.main__servicesTabImg {
    margin-bottom: 21px;
    height: 77px;
}
.main__servicesTabHeadline {
    font-family:FuturaPT-Demi;
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 14px;
}
.main__servicesTabText {
    font-family:FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 26px;
}
/*SERVICES END*/

/*ARTICLE*/
.main__articleImgBlock {
    width: 100%;
    height: 529px;
}
.main__articleImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main__articleAskBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #78C0DE url(../img/article/askBg.png) no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 187px;
}
.main__articleAskBlock .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 0 65px 112px;
}
.main__articleAskTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__articleAskHeadline {
    font-family:FuturaPT-Bold;
    font-size: 56px;
    line-height: 62px;
    max-width: 276px;
    margin-bottom: 8px;
    color: #ffffff;
}
.main__articleAskText {
    font-size: 26px;
    line-height: 30px;
    color: #ffffff;
}
.main__articleAskForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__articleAskFormInput {
    background: #ffffff;
    border: none;
    width: 335px;
    height: 50px;
    padding-left: 22px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    color: #333333;
    outline: none;
    margin-bottom: 14px;
}
.main__articleAskFormTextarea {
    background: #ffffff;
    border: none;
    width: 335px;
    height: 165px;
    padding-left: 22px;
    padding-top: 17px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    color: #333333;
    outline: none;
    margin-bottom: 26px;
    resize: none;
}
.main__articleAskFormButton {
    font-size: 16px;
    color: #ffffff;
    width: 226px;
    height: 50px;
    background: #000000;
    border: none;
    outline: none;
    text-decoration: none;
}
.main__articleAskFormButton:hover {
    text-decoration: underline;
    cursor: pointer;
}
.main__articleAskImg {
    margin: -70px -60px -152px -171px;
}
.main__articleContentBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__articleContentBlock .wrapper {
    padding: 33px 0 174px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.main__articleContentMoreArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9px;
}
.main__articleContentMoreArticle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 11px;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
    padding-bottom: 37.81px;
}
.main__articleContentMoreArticle:last-child {
    margin-bottom: 0;
}
.main__articleContentMoreArticleImg {
    margin-bottom: 19px;
}
.main__articleContentMoreArticleDate {
    width: 100%;
    padding-right: 27px;
    text-align: right;
    font-size: 14px;
    color: #949494;
    margin-bottom: 3px;
}
.main__articleContentMoreArticleHeadline {
    font-family:FuturaPT-Bold;
    font-size: 22px;
    line-height: 25px;
    max-width: 190px;
    margin-left: 30px;
    margin-bottom: 13px;
    color: #000000;
}
.main__articleContentMoreArticleText {
    margin-left: 30px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    max-width: 244px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main__articleContentMoreArticleLinkBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
    margin-top: 28px;
}
.main__articleContentMoreArticleLinkImg {
    margin-right: 4.68px;
}
.main__articleContentMoreArticleLink {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
.main__articleContentMoreArticleLink:hover {
    text-decoration: underline;
}
.main__articleContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 223px;
}
.main__articleBreadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 33px;
}
.main__articleBreadcrumb {
    font-family:FuturaPT-Book;
    font-size: 14px;
    color: #949494;
    margin-right: 18px;
    text-decoration: none;
    position: relative;
}
.main__articleBreadcrumb:hover {
    text-decoration: underline;
}
.main__articleBreadcrumb::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #FFBD54;
    right: -11px;
    top: 57%;
    transform: translateY(-50%);
}
.main__articleBreadcrumb:last-child {
    margin-right: 0;
    color: #333333;
}
.main__articleBreadcrumb:last-child:hover {
    cursor: auto;
    text-decoration: none;
}
.main__articleBreadcrumb:last-child::after {
    display: none;
}
.main__articleContentHeadline {
    font-family:FuturaPT-Bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    margin-bottom: 28px;
    max-width: 638px;
}
.main__articleContentHeadline span {
    color: #FFBD54;
}
.main__articleContentText {
    margin-bottom: 22px;
    color: #949494;
    font-family:FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    max-width: 638px;
}
.main__articleContentText:last-child {
    margin-bottom: 0;
}
.main__articleContentButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 64px;
}
.main__articleContentButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    background: #FFBD54;
    border-radius: 3px;
    margin-right: 21px;
    height: 50px;
    padding: 0 35px;
    color: #ffffff;
    border: none;
    outline: none;
}
.main__articleContentButton:last-child {
    margin-right: 0;
}
.main__articleContentButton:hover {
    text-decoration: underline;
}
.main__articleContentButton-black {
    background: #333333;
}
.main__articleContentButtonIcon {
    margin-right: 6.75px;
}
/*ARTICLE END*/

/*FAQ*/
.main__headlineContentButton {
    width: 201px;
    height: 50px;
    background: #78C0DE;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
.main__headlineContentButton:hover {
    text-decoration: underline;
}
.main__headlineContentButtonIcon {
    margin-right: 6px;
}
.main__headlineBlockImg-faq {
    margin-top: 58px;
    right: 58px;
    position: absolute;
}
.main__faqContentBlock {
    margin-top: 63px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__faqContentBlock .wrapper {
    position: relative;
}
.main__faqTabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 112px;
    margin-bottom: 255px;
    position: relative;
    z-index: 1;
}
.main__faqTab {
    width: 752px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    padding: 27px 41px 32px 63px;
    margin-bottom: 18px;
    min-height: 129px;
    cursor: pointer;
}
.main__faqTabInfoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 9.23px;
}
.main__faqTabInfoImg {
    margin-right: 6.8px;
}
.main__faqTabInfoDate {
    font-family:FuturaPT-Book;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin-right: 28px;
}
.main__faqTabInfoName {
    font-family:FuturaPT-Demi;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 22px;
    color: #78C0DE;
    letter-spacing: 0.08em;
}
.main__faqTabContentBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.main__faqTabContentHeadline {
    max-width: 539px;
    color: #333333;
    font-family: FuturaPT-Demi;
    font-size: 20px;
    line-height: 22px;
}
.main__faqTabContentArrow {
    margin-top: 6px;
    transition: .3s;
}
.main__faqTabText {
    font-family:FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    max-width: 577px;
    margin-top: 23px;
    margin-bottom: 43px;
    display: none;
}
.main__faqTabContentArrow-active {
    transform: rotate(180deg);
}
.main__faqTabContentClock {
    display: none;
}
.main__faqTab-wait {
    opacity: .5;
    cursor: default;
}
.main__faqTab-wait .main__faqTabContentClock {
    display: block;
}
.main__faqTab-wait .main__faqTabContentArrow {
    display: none;
}
.main__faqContentBird {
    position: absolute;
    bottom: 61px;
    right: -58px;
}
/*FAQ END*/

/*FOOTER*/
.footer {
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    padding-top: 54px;
    padding-bottom: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__wrapper {
    max-width: 1310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__contentBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.footer__logo img {

}
.footer__navBlock {
    display: flex;
    flex-direction: row;
    margin-right: 65px;
}
.footer__navColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__navColumn:first-child {
    margin-right: 87px;
}
.footer__navLink {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    margin-bottom: 14px;
}
.footer__navLink:hover {
    text-decoration: underline;
}
.footer__infoBlock {
    display: flex;
    flex-direction: row;
}
.footer__infoColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 112px;
}
.footer__infoColumn-home {
    margin-right: 87.16px;
}
.footer__infoColumn-home .footer__infoText {
    font-size: 16px;
}
.footer__infoColumn:last-child {
    margin-right: 0;
}
.footer__infoIcon {

}
.footer__infoTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 9px;
}
.footer__infoText {
    font-size: 14px;
    color: #333333;
}
.footer__infoText span {
    font-family: FuturaPT-Demi;
}
a.footer__infoText {
    text-decoration: none;

}
a.footer__infoText:hover {
    text-decoration: underline;
}
.footer__copyright {
    font-family: FuturaPT-Book;
    font-size: 14px;
    margin-top: 17px;
}
/*FOOTER END*/

/*MEDIA*/

/*FAQ*/
@media screen and (min-width: 1921px) {
    .main__headlineBlock .wrapper {
        position: relative;
    }
    .main__headlineBlockImg-faq {
        right: 0;
    }
}
@media screen and (max-width: 1440px) {
    .main__headlineBlock .wrapper {
        position: relative;
    }
    .main__headlineBlockImg-faq {
        right: 0;
        margin-right: -64px;
    }
}
/*FAQ END*/

/*MEDIA END*/