@font-face {
    font-family: "Darkline-Regular";
    src: url("../fonts/Darkline-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FuturaPT-Bold";
    src: url("../fonts/FuturaPT-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FuturaPT-Book";
    src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FuturaPT-Demi";
    src: url("../fonts/FuturaPT-Demi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FuturaPT-Medium";
    src: url("../fonts/FuturaPT-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: FuturaPT-Medium;
}
input::-webkit-input-placeholder {
    color: #949494;
}
input::-moz-placeholder {
    color: #949494;
}
body {
    min-width: 1440px;
    background: #f9f9f9;
}

/*HEADER*/
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    min-width: 1440px;
}
.header__wrapper {
    max-width: 1310px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__infoBlock {
    background: #f9f8f8;
    height: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__infoIcon {
    margin-right: 9px;
}
.header__infoIcon-home {
    margin-bottom: 3px;
}
.header__infoIcon-phone {
    margin-bottom: 4px;
}
.header__infoIcon-calendar {
    margin-right: 7px;
}
.header__infoText {
    font-size: 14px;
    color: #333333;
}
.header__infoText span {
    font-family: FuturaPT-Demi;
}
a.header__infoText {
    text-decoration: none;
}
a.header__infoText:hover {
    text-decoration: underline;
}
.header__infoText-phone {
    margin-left: 22px;
    position: relative;
}
.header__infoText-phone::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ffbd54;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
}
.header__infoText-calendar {
    margin-left: 17px;
}
.header__infoHomeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 193px;
}
.header__infoPhoneBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__infoCalendarBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 61px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
}
.header__logo img {
    margin-right: 43px;
    margin-top: -5px;
}
.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__navLink {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    margin-right: 55px;
}
.header__navLink:hover {
    text-decoration: underline;
}
.header__navLink-active::before {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: -33.14px;
    background: url(../img/icons/fish.svg);
}
.header__questionBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__questionIcon {
    margin-right: 4.68px;
}
.header__questionText {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
.header__questionText:hover {
    text-decoration: underline;
}
/*HEADER END*/

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9 url(../img/bg.png);
    padding-top: 100px;
}
.wrapper {
    max-width: 1310px;
    width: 100%;
}
/*MAIN END*/

/*SERVICES*/
.main__headlineBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main__headlineBlock .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 112px;
}
.main__headlineContentBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 118px;
}
.main__headlineContentTitle {
    font-family: FuturaPT-Bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    margin-bottom: 27px;
}
.main__headlineContentTitle-services {
    margin-bottom: 21px;
}
.main__headlineContentText {
    max-width: 447px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}
.main__headlineBlockImg {
    margin-right: -58px;
    margin-top: -25px;
    margin-bottom: -7px;
}
.main__servicesBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__servicesBlock .wrapper {
    max-width: 1340px;
}
.main__servicesTabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 153px;
    justify-content: space-between;
}
.main__servicesTabButton {
    transition: 0.3s;
    background: #ffbd54;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    width: 156px;
    height: 50px;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__servicesTabButton-blue {
    background: #78c0de;
}
.main__servicesTabButton:hover {
    text-decoration: underline;
}
.main__servicesTab {
    margin: 14px;
    width: 305.05px;
    height: 421.3px;
    background: #ffffff url(../img/services/pet.svg) no-repeat;
    background-position: top right;
    padding: 58px 22px 0 53px;
    background: #ffffff;
    border-radius: 5px 5px 0px 0px;
    transition: 0.3s;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__servicesTab:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.main__servicesTab:hover .main__servicesTabButton {
    background: #000000;
}
.main__servicesTabImg {
    margin-bottom: 21px;
    height: 77px;
}
.main__servicesTabHeadline {
    font-family: FuturaPT-Demi;
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 14px;
}
.main__servicesTabText {
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 26px;
}
/*SERVICES END*/

/*ARTICLE*/
.main__articleImgBlock {
    width: 100%;
    height: 529px;
}
.main__articleImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main__articleAskBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #78c0de url(../img/article/askBg.png) no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 187px;
}
.main__articleAskBlock .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 0 65px 112px;
}
.main__articleAskTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__articleAskHeadline {
    font-family: FuturaPT-Bold;
    font-size: 56px;
    line-height: 62px;
    max-width: 276px;
    margin-bottom: 8px;
    color: #ffffff;
}
.main__articleAskText {
    font-size: 26px;
    line-height: 30px;
    color: #ffffff;
}
.main__articleAskForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__articleAskFormInput {
    background: #ffffff;
    border: none;
    width: 335px;
    height: 50px;
    padding-left: 22px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    color: #333333;
    outline: none;
    margin-bottom: 14px;
}
.main__articleAskFormTextarea {
    background: #ffffff;
    border: none;
    width: 335px;
    height: 165px;
    padding-left: 22px;
    padding-top: 17px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    color: #333333;
    outline: none;
    margin-bottom: 26px;
    resize: none;
}
.main__articleAskFormButton {
    font-size: 16px;
    color: #ffffff;
    width: 226px;
    height: 50px;
    background: #000000;
    border: none;
    outline: none;
    text-decoration: none;
}
.main__articleAskFormButton:hover {
    text-decoration: underline;
    cursor: pointer;
}
.main__articleAskImg {
    margin: -70px -60px -152px -171px;
}
.main__articleContentBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__articleContentBlock .wrapper {
    padding: 33px 0 174px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.main__articleContentMoreArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9px;
}
.main__articleContentMoreArticle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 11px;
    border: 1px solid #e4e4e2;
    border-radius: 5px;
    padding-bottom: 37.81px;
}
.main__articleContentMoreArticle:last-child {
    margin-bottom: 0;
}
.main__articleContentMoreArticleImg {
    margin-bottom: 19px;
}
.main__articleContentMoreArticleDate {
    width: 100%;
    padding-right: 27px;
    text-align: right;
    font-size: 14px;
    color: #949494;
    margin-bottom: 3px;
}
.main__articleContentMoreArticleHeadline {
    font-family: FuturaPT-Bold;
    font-size: 22px;
    line-height: 25px;
    max-width: 190px;
    margin-left: 30px;
    margin-bottom: 13px;
    color: #000000;
}
.main__articleContentMoreArticleText {
    margin-left: 30px;
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    max-width: 244px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main__articleContentMoreArticleLinkBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
    margin-top: 28px;
}
.main__articleContentMoreArticleLinkImg {
    margin-right: 4.68px;
}
.main__articleContentMoreArticleLink {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
.main__articleContentMoreArticleLink:hover {
    text-decoration: underline;
}
.main__articleContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 223px;
}
.main__articleBreadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 33px;
}
.main__articleBreadcrumb {
    font-family: FuturaPT-Book;
    font-size: 14px;
    color: #949494;
    margin-right: 18px;
    text-decoration: none;
    position: relative;
}
.main__articleBreadcrumb:hover {
    text-decoration: underline;
}
.main__articleBreadcrumb::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffbd54;
    right: -11px;
    top: 57%;
    transform: translateY(-50%);
}
.main__articleBreadcrumb:last-child {
    margin-right: 0;
    color: #333333;
}
.main__articleBreadcrumb:last-child:hover {
    cursor: auto;
    text-decoration: none;
}
.main__articleBreadcrumb:last-child::after {
    display: none;
}
.main__articleContentHeadline {
    font-family: FuturaPT-Bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    margin-bottom: 28px;
    max-width: 638px;
}
.main__articleContentHeadline span {
    color: #ffbd54;
}
.main__articleContentText {
    margin-bottom: 22px;
    color: #949494;
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    max-width: 638px;
}
.main__articleContentText:last-child {
    margin-bottom: 0;
}
.main__articleContentButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 64px;
}
.main__articleContentButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    background: #ffbd54;
    border-radius: 3px;
    margin-right: 21px;
    height: 50px;
    padding: 0 35px;
    color: #ffffff;
    border: none;
    outline: none;
}
.main__articleContentButton:last-child {
    margin-right: 0;
}
.main__articleContentButton:hover {
    text-decoration: underline;
}
.main__articleContentButton-black {
    background: #333333;
}
.main__articleContentButtonIcon {
    margin-right: 6.75px;
}
/*ARTICLE END*/

/*FAQ*/
.main__headlineContentButton {
    width: 201px;
    height: 50px;
    background: #78c0de;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
.main__headlineContentButton:hover {
    text-decoration: underline;
}
.main__headlineContentButtonIcon {
    margin-right: 6px;
}
.main__headlineBlockImg-faq {
    margin-top: 58px;
    right: 58px;
    position: absolute;
}
.main__faqContentBlock {
    margin-top: 63px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__faqContentBlock .wrapper {
    position: relative;
}
.main__faqTabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 112px;
    margin-bottom: 255px;
    position: relative;
    z-index: 1;
}
.main__faqTab {
    width: 752px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding: 27px 41px 32px 63px;
    margin-bottom: 18px;
    min-height: 129px;
    cursor: pointer;
}
.main__faqTabInfoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 9.23px;
}
.main__faqTabInfoImg {
    margin-right: 6.8px;
}
.main__faqTabInfoDate {
    font-family: FuturaPT-Book;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin-right: 28px;
}
.main__faqTabInfoName {
    font-family: FuturaPT-Demi;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 22px;
    color: #78c0de;
    letter-spacing: 0.08em;
}
.main__faqTabContentBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.main__faqTabContentHeadline {
    max-width: 539px;
    color: #333333;
    font-family: FuturaPT-Demi;
    font-size: 20px;
    line-height: 22px;
}
.main__faqTabContentArrow {
    margin-top: 6px;
    transition: 0.3s;
}
.main__faqTabText {
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    max-width: 577px;
    margin-top: 23px;
    margin-bottom: 43px;
    display: none;
}
.main__faqTabContentArrow-active {
    transform: rotate(180deg);
}
.main__faqTabContentClock {
    display: none;
}
.main__faqTab-wait {
    opacity: 0.5;
    cursor: default;
}
.main__faqTab-wait .main__faqTabContentClock {
    display: block;
}
.main__faqTab-wait .main__faqTabContentArrow {
    display: none;
}
.main__faqContentBird {
    position: absolute;
    bottom: 61px;
    right: -58px;
}
/*FAQ END*/

/*CONTACTS*/
.main__headlineBlockImg-contacts {
    margin-top: 18px;
    right: 58px;
    position: absolute;
}
.main__contactsInfoBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 117px;
}
.main__contactsInfoBlock .wrapper {
    padding-left: 112px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.main__contactsInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 120px;
}
.main__contactsInfo:last-child {
    margin-right: 0;
}
.main__contactsInfoImg {
    margin-bottom: 30px;
    height: 73px;
}
.main__contactsInfoText {
    font-size: 16px;
    color: #333333;
}
.main__contactsInfoText span {
    font-family: FuturaPT-Demi;
}
a.main__contactsInfoText {
    text-decoration: none;
}
a.main__contactsInfoText:hover {
    text-decoration: underline;
}
.main__contactsMapBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    width: 100%;
}
.main__contactsMapHeadlineBlock {
    width: 100%;
    height: 389px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__contactsMapHeadlineBlock .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    height: 100%;
}
.main__contactsMapHeadlineDog {
    margin-left: -42px;
    margin-bottom: -46px;
}
.main__contactsMapHeadlineImgAndText {
    padding-bottom: 59px;
    padding-left: 47px;
}
.main__contactsMapHeadlineText {
    font-family: FuturaPT-Bold;
    font-size: 48px;
    color: #333333;
}
.main__contactsMapHeadlineImg {
    margin-bottom: 24.4px;
    margin-left: 183px;
}
.main__contactsMapHeadlineBgImg {
    position: absolute;
    top: 0;
    right: 15px;
}
.main__contactsMapContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 206px;
    height: 466px;
}
.main__contactsMapContentGoogleBlock {
    width: 58%;
    height: 100%;
    background: gray;
}
.main__contactsMapContentImg {
    width: 42%;
    height: 100%;
    object-fit: cover;
}
/*CONTACTS END*/

/*INDEX*/
.main__indexSupportBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 652px;
    width: 100%;
    margin-bottom: 247px;
}
.main__contactsMapContentGoogleBlock-index {
    width: 32%;
}
.main__indexSupportFormBlock {
    width: 68%;
    display: flex;
    flex-direction: row;
    background: #333333 url(../img/index/supportBg.png);
    background-size: contain;
    height: 100%;
    padding-left: 166px;
    padding-top: 62px;
}
.main__articleAskForm-index .main__articleAskFormButton {
    background: #ffbd54;
}
.main__articleAskForm-index .main__articleAskFormInput {
    width: 375px;
}
.main__articleAskForm-index .main__articleAskFormTextarea {
    width: 375px;
}
.main__indexSupportHeadline {
    font-family: FuturaPT-Bold;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 14px;
}
.main__indexSupportText {
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    max-width: 335px;
    margin-bottom: 29px;
}
.main__indexSupportFish {
    width: 447.86px;
    height: 447.86px;
    margin-top: 71px;
    margin-left: 10px;
}
.main__indexEmailBlock {
    width: 100%;
    height: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #78c0de url(../img/index/emailBg.png) no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 216px;
    margin-top: 235px;
}
.main__indexEmailBlock .wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 222px;
}
.main__indexEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__indexEmailImg {
    position: relative;
    z-index: 1;
    margin-left: -59px;
    margin-bottom: 43px;
}
.main__indexEmailHeadline {
    font-family: FuturaPT-Bold;
    font-size: 48px;
    color: #ffffff;
}
.main__indexEmailForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 29px;
}
.main__indexEmailFormInput {
    margin-right: 21px;
    width: 335px;
    height: 50px;
    background: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333333;
    padding-left: 22px;
    font-family: FuturaPT-Book;
}
.main__indexEmailFormButton {
    background: #333333;
    border-radius: 3px;
    width: 188px;
    height: 50px;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}
.main__indexEmailFormButton:hover {
    text-decoration: underline;
}
.main__indexHeaderBlock {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__indexHeaderBlock .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 153px;
}
.main__indexHeaderContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 32px;
    margin-bottom: 311px;
}
.main__indexHeaderContentHeadline {
    color: #333333;
    font-family: FuturaPT-Bold;
    font-size: 70px;
    line-height: 64px;
    max-width: 608px;
    margin-bottom: 29px;
}
.main__indexHeaderContentHeadline span {
    color: #78c0de;
}
.main__indexHeaderContentText {
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    font-family: FuturaPT-Book;
    margin-bottom: 38px;
    max-width: 495px;
}
.main__indexHeaderContentButton {
    width: 181px;
    height: 50px;
    background: #333333;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__indexHeaderContentButton:hover {
    text-decoration: underline;
}
.main__indexHeaderPetsImg {
    position: absolute;
    left: 0;
    top: -97px;
}
.main__indexHeaderBirdImg {
    position: absolute;
    right: 0;
    bottom: -9px;
}
.main__indexQuoteBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__indexQuoteBlock .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__indexQuoteDelimiter {
    display: block;
    width: 140px;
    height: 1px;
    background: #dbdbdb;
}
.main__indexQuoteTextBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 43px 0 35px 0;
}
.main__indexQuoteTextImg {
    margin-top: -32px;
}
.main__indexQuoteTextImg-right {
    margin-top: 37px;
}
.main__indexQuoteText {
    font-family: FuturaPT-Book;
    font-size: 20px;
    color: #949494;
    max-width: 753px;
    text-align: center;
    margin: 0 36px 0 55px;
}
.main__indexQuoteAuthor {
    margin-top: 35px;
    font-size: 20px;
    color: #333333;
}
.main__indexArticleSliderBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__indexArticleSliderBlock .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__indexArticleSliderHeadline {
    margin-bottom: 60px;
    font-family: FuturaPT-Bold;
    font-size: 48px;
    color: #333333;
}
.main__indexSliderTagBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 31px;
}
.main__indexSliderTags {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}
.main__indexSliderTag {
    margin-right: 7px;
    color: #3d9cea;
    text-decoration: none;
    font-family: FuturaPT-Book;
    font-size: 14px;
    line-height: 22px;
}
.main__indexSliderTag:hover {
    text-decoration: underline;
}
.main__indexSliderTag:last-child {
    margin-right: 0;
}
.main__articleContentMoreArticle-slide {
    margin: 0 12px 0;
}
.main__indexArticleSlides {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__indexArticleControls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 170px;
}
.main__indexArticleControls .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main__indexArticleControlsArrows {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__indexArticleControlsArrow {
    margin-right: 64px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.main__indexArticleControlsArrow:last-child {
    margin-right: 0;
}
.main__articleContentMoreArticle-slide .main__articleContentMoreArticleImg {
    height: 180px;
    width: 305px;
    object-fit: cover;
}
.slick-slide {
    outline: none;
}
.main__indexSlidesContentBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 37.91px;
}
.slick-initialized .slick-slide {
    display: flex;
}
/* .slick-track {
    transition: 1s all;
} */
.main__articleContentMoreArticle-slide {
    width: 305px;
    height: 435px;
    transition: 0.3s all;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main__articleContentMoreArticle-slide:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.main__articleContentMoreArticle-slide-active {
    /* width: 640px; */
    background: #ffffff;
    /* display: flex; */
    /* flex-direction: row; */
    padding-bottom: 0;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main__articleContentMoreArticle-slide-active:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main__indexArticleControlsNumBlock {
    position: relative;
    margin-left: 74px;
    margin-top: 10px;
}
.main__indexArticleControlsNum {
    font-family: FuturaPT-Demi;
    font-size: 14px;
    line-height: 22px;
    color: #949494;
    position: absolute;
    left: 22px;
    top: 15px;
}
.main__indexArticleControlsNum-bold {
    color: #333333;
    font-size: 20px;
    top: -5px;
    left: -7px;
}
.main__indexServicesBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
}
.main__indexServicesBlock .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main__indexServicesBlock .slick-track {
    transition: none;
}
.main__indexServicesArrows {
    position: absolute;
    top: 226px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__indexServicesArrow {
    cursor: pointer;
}
.main__indexServicesTabButtons {
    width: 1223px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__indexServicesTabButton {
    height: 201px;
    width: 193px;
    margin: 10px 6.5px 14px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: none;
}
.main__indexServicesTabButton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.main__indexServicesTabButton-active:hover {
    box-shadow: none;
    cursor: none;
    pointer-events: none;
}
.main__indexServicesTabButtonImg {
    height: 78px;
    margin-top: 30px;
    margin-bottom: 21.55px;
}
.main__indexServicesTabButtonText {
    max-width: 126px;
    font-family: FuturaPT-Demi;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-align: center;
}
.main__indexServicesTabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    border-radius: 0px 5px 5px 5px;
    max-width: 1210px;
}
.main__indexServicesTab {
    width: 1210px;
    padding: 41px 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.main__indexServicesTabImg {
    width: 524px;
    margin-right: 67px;
    border-radius: 5px;
}
.main__indexServicesTabContentBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 33px;
}
.main__indexServicesTabContentHeadline {
    font-family: FuturaPT-Demi;
    font-size: 36px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 18px;
}
.main__indexServicesTabContentText {
    font-family: FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 9px;
    max-width: 492px;
}
.main__indexServicesTabs .main__articleContentButtons {
    margin-top: 25px;
}
.main__indexServicesTabButton-active {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    height: 215px;
    margin-bottom: 0;
}
/*INDEX END*/

/*BLOG*/
.main__headlineBlockImg-blog {
    margin-right: 71px;
    margin-top: 37px;
    margin-bottom: 0;
}
.main__blogBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
    width: 100%;
}
.main__blogBlock .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__articleContentMoreArticle-blog {
    width: 100%;
    height: 525px;
    display: flex;
    flex-direction: row;
    margin-bottom: 126px;
    background-color: #ffffff;
    padding-bottom: 0;
}
.main__articleContentMoreArticle-blog:last-child {
    margin-bottom: 126px;
}
.main__articleContentMoreArticle-blog .main__articleContentMoreArticleImg {
    height: 100%;
    min-width: 558px;
    object-fit: cover;
    margin-bottom: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 52px;
}
.main__articleContentMoreArticle-blog .main__indexSlidesContentBlock {
    width: 100%;
    padding-top: 68px;
}
.main__articleContentMoreArticle-blog .main__articleContentMoreArticleDate {
    margin-bottom: 0px;
    padding-right: 110px;
}
.main__articleContentMoreArticle-blog .main__indexSliderTagBlock {
    margin-bottom: 35px;
}
.main__articleContentMoreArticle-blog .main__articleContentMoreArticleHeadline {
    font-size: 30px;
    line-height: 38px;
    max-width: 325px;
}
.main__articleContentMoreArticle-blog .main__indexSliderTags {
    opacity: 1;
}
.main__articleContentMoreArticle-blog .main__indexSliderTag {
    font-size: 16px;
    line-height: 22px;
}
.main__articleContentMoreArticle-blog .main__articleContentMoreArticleLinkBlock {
    margin-top: 51.62px;
}
.main__articleContentMoreArticle-blog .main__articleContentMoreArticleText {
    max-width:627px;
    padding-right: 110px;
    -webkit-line-clamp: 8;
}
.main__blogArticlesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}
.main__blogArticlesBlock .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1340px;
}
.main__blogArticles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__blogArticles .main__articleContentMoreArticle {
    margin: 0 14px 60px;
}
.main__blogArticlesMore {
    width: 201px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 56px;
}
.main__blogArticlesMore:hover {
    text-decoration: underline;
}
.main__blogArticlesMoreImg {
    margin-right: 6px;
}
.main__blogArticlesMore-loading .main__blogArticlesMoreImg {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}
/*BLOG END*/

/*ABOUT*/
.main__headlineBlockImg-about {
    margin-top: 7px;
    margin-right: 49px;
    margin-bottom: 0;
}
.main__aboutHeadlineImg {
    margin-top: 48px;
    margin-left: -97px;
}
.main__aboutHouseBlock {
    width: 100%;
    background: #FFFFFF url(../img/about/blockBg.png);
    background-position: right;
    border-radius: 5px;
    height:  449px;
    display: flex;
    flex-direction: row;
}
.main__aboutHouseImg {
    width: 49%;
    height:  100%;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.main__aboutHouseTextBlock {
    width: 51%;
    padding-top: 127px;
    padding-left: 112px;
}
.main__aboutHouseText {
    font-family: FuturaPT-Book;
    font-size: 20px;
    line-height: 26px;
    color: #949494;
    max-width: 557px;
}
.main__aboutHouseText span {
    font-family: FuturaPT-Medium;
    color: #FFBD54;
}
.main__aboutDogBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main__aboutDogBlock .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 13px;
}
.main__aboutDogTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 112px;
    padding-top: 113px;
    padding-bottom: 198px;
}
.main__aboutDogText{
    margin-bottom: 19px;
    font-family:FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    max-width: 494px;
}
.main__aboutDogImg {
    position: absolute;
    right: 0;
}
.main__aboutSliderBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 145px;
}
.main__aboutSliderBlock .wrapper {
    width: 100%;
    display: flex;
    position: relative;
}
.main__aboutSliderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.main__aboutSliderContentBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 112px;
}
.main__aboutSliderContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
}
.main__aboutSliderItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.main__aboutSliderHeadline {
    font-family:FuturaPT-Bold;
    font-size: 46px;
    line-height: 48px;
    color: #333333;
    max-width: 416px;
    margin-bottom: 24px;
    margin-top: 93px;
}
.main__aboutSliderHeadline span {
    color: #FFBD54;
}
.main__aboutSliderText {
    max-width: 343px;
    font-family:FuturaPT-Book;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}
.main__aboutSliderBlock .main__indexArticleControls {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 112px;
    bottom: 0;
    margin-bottom: 0;
    width: auto;
}
.main__aboutImgBlock {
    display: flex;
    align-items: center;
}
.main__aboutImg {
    width: 327px;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
}
.main__aboutImg:last-child {
    margin-right: 0;
}
/*ABOUT END*/

/*MODAL*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
}
.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFBD54 url(../img/popup/popupBg.png) no-repeat;
    background-size: cover;
    padding: 61px 71px 81px 70px;
    height: auto;
    width: 850px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal__closeBtn {
    position: absolute;
    top: 21px;
    left: 20px;
    cursor: pointer;
}
.modal__contentFormBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}
.modal__contentFormBlockTitle {
    font-family:FuturaPT-Bold;
    font-size: 50px;
    line-height: 54px;
    color: #333333;
    max-width: 335px;
    margin-bottom: 25px;
}
.modal__contentImg {
    position: absolute;
    left: 0;
    bottom: 0;
}
.modal__content .main__articleAskFormButton {
    width: 193px;
}
.modalQuestions {

}
.modalFaq .modal__content {
    padding: 119px 71px 137px 70px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.modalFaq .modal__contentImg {
    left: 25px;
}
.modalFaq .modal__contentFormBlockTitle {
    white-space: nowrap;
}
.modal__contentAuthBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 29px;
}
.modal__contentAuthBlockText {
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 21px;
}
.modal__contentAuthBlockItem {
    width: 238px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin-bottom: 21px;
    color: #333333;
    font-size: 16px;
    text-decoration: none;
}
.modal__contentAuthBlockItem img {
    margin-right: 14px;
}
.modal__contentAuthBlockItem:hover {
    text-decoration: underline;
}
.modal__contentAuthBlockItem:last-child {
    margin-bottom: 0;
}
/*MODAL END*/

/*NOTIFICATION SUBSCRIBE*/
.notification__subscribe {
    display: none;
    width: 335px;
    height:131px;
    position: fixed;
    top: 39px;
    right: 65px;
    z-index: 11;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.notification__subscribe-active {
    display: flex;
}
.notification__subscribeContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.notification__subscribeContentLine {
    width: 7px;
    height: 100%;
    display: block;
    background: #FECB3E;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.notification__subscribeTextBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 29px;
}
.notification__subscribeTextBlockImg {
    margin-right: 40px;
}
.notification__subscribeText {
    max-width: 184px;
    font-size: 24px;
    line-height: 26px;
    color: #333333;
}
.notification__subscribeCloseImg {
    position: absolute;
    top: 20px;
    right: 22px;
    cursor: pointer;
}
/*NOTIFICATION SUBSCRIBE END*/

/*FOOTER*/
.footer {
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    padding-top: 54px;
    padding-bottom: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__wrapper {
    max-width: 1310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__contentBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.footer__navBlock {
    display: flex;
    flex-direction: row;
    margin-right: 65px;
}
.footer__navColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__navColumn:first-child {
    margin-right: 87px;
}
.footer__navLink {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    margin-bottom: 14px;
}
.footer__navLink:hover {
    text-decoration: underline;
}
.footer__infoBlock {
    display: flex;
    flex-direction: row;
}
.footer__infoColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 112px;
}
.footer__infoColumn-home {
    margin-right: 87.16px;
}
.footer__infoColumn-home .footer__infoText {
    font-size: 16px;
}
.footer__infoColumn:last-child {
    margin-right: 0;
}
.footer__infoTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 9px;
}
.footer__infoText {
    font-size: 14px;
    color: #333333;
}
.footer__infoText span {
    font-family: FuturaPT-Demi;
}
a.footer__infoText {
    text-decoration: none;
}
a.footer__infoText:hover {
    text-decoration: underline;
}
.footer__copyright {
    font-family: FuturaPT-Book;
    font-size: 14px;
    margin-top: 17px;
}
.footer__logo img {
    width: 158px;
}
/*FOOTER END*/

/*MEDIA*/

/*FAQ*/
@media screen and (min-width: 1921px) {
    .main__indexHeaderBlock .wrapper {
        position: relative;
    }
    .main__headlineBlock .wrapper {
        position: relative;
    }
    .main__headlineBlockImg-faq {
        right: 0;
    }
    .main__headlineBlockImg-contacts {
        right: 0;
    }
    .main__indexHeaderBirdImg {
        right: -65px;
    }
    .main__indexHeaderPetsImg {
        left: -65px;
    }
    .main__aboutDogBlock .wrapper {
        position: relative;
    }
    .main__aboutDogImg {
        right: -65px;
    }
    .main__blogArticles .main__articleContentMoreArticle {
        margin: 0 10px 60px;
    }
}
@media screen and (max-width: 1440px) {
    .main__indexHeaderBlock .wrapper {
        position: relative;
    }
    .main__headlineBlock .wrapper {
        position: relative;
    }
    .main__headlineBlockImg-faq {
        right: 0;
        margin-right: -64px;
    }
    .main__headlineBlockImg-contacts {
        right: 0;
        margin-right: -65px;
    }
    .main__indexHeaderBirdImg {
        right: -65px;
    }
    .main__indexHeaderPetsImg {
        left: -65px;
    }
    .main__aboutDogBlock .wrapper {
        position: relative;
    }
    .main__aboutDogImg {
        right: -65px;
    }
}
/*FAQ END*/

/*MEDIA END*/
