#infoOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colorOverlay;
  z-index: 200;
  cursor: pointer;
}
#infoText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4em;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}